.Search-filter.JS-active-toggle--container
  .Search-dropdown.JS-active-toggle--trigger{data: {clickable: true}}
    = title
    - parameters.each do |parameter|
      - if search_cache && search_cache.send(parameter)
        = '> ' + t("enumerize.article_search_form.filter.#{parameter}")
    %ul.JS-active-toggle--target
      - parameters.each do |parameter|
        %li
          %a.Search-colored-link{href: search_cache.searched_category ? category_path(article_search_form: search_params_merged_with(parameter => search_cache.send(parameter) ? 0 : 1)) : articles_path(article_search_form: search_params_merged_with(parameter => search_cache.send(parameter) ? 0 : 1)), data: { remote: 'true' }}
            - if search_cache && search_cache.send(parameter)
              = image_tag "icheck/checkbox_active.png"
            - else
              = image_tag "icheck/checkbox.png"
            = t "enumerize.article_search_form.filter.#{parameter}"
