

<div class="row">
	<div class="span12">
	
		<div class="well">
			<h2><%=t('ffp.title.activate')%></h2>
		</div>
		
			<%= render 'show' %>

		<div class="well">
			
			<%= semantic_form_for @ffp do |f| %>
			
			<%= f.semantic_errors %>
			
			  <%= f.inputs do %>
			   	<%= f.input :activated, :required => true, :hint => t('ffp.formular.hints.activate') ,:label => t('ffp.formular.activate')%>
			  <% end %>
				
		</div>
		
		<%= f.actions do %>
		    <%= f.action :submit, :as => :input, :label => t('ffp.formular.activate')%>
		  <% end %>
		  
		<% end %>
			
	</div>
</div>

