.well
  = semantic_form_for @ffp do |f|
    = f.semantic_errors
    = f.inputs do
      = f.input :price, :required => true, :hint => t('ffp.formular.hints.price') ,:label => t('ffp.formular.price')
      /
        <haml:loud> f.input :name, :required =&amp;gt; true, :hint =&amp;gt; t('ffp.formular.hints.name') ,:label =&amp;gt; t('ffp.formular.name'), :input_html =&amp;gt; { :value =&amp;gt; current_user.name } </haml:loud>
        <haml:loud> f.input :surname, :required =&amp;gt; true, :hint =&amp;gt; t('ffp.formular.hints.surname') ,:label =&amp;gt; t('ffp.formular.surname'), :input_html =&amp;gt; { :value =&amp;gt; current_user.surname }  </haml:loud>
        <haml:loud> f.input :email, :required =&amp;gt; true, :hint =&amp;gt; t('ffp.formular.hints.email') ,:label =&amp;gt; t('ffp.formular.email'), :input_html =&amp;gt; { :value =&amp;gt; current_user.email } </haml:loud>
%h3
  = t('ffp.credit')
  \: #{current_user.email}
= f.actions do
  = f.action :submit, :as => :input,:label => t('ffp.formular.buy')
  %p
    = t('ffp.formular.hints.submit')
