
<div class="row">
	<div class="span12">

	<p id="notice"><%= notice %></p>

	<div class="well">
		<h2><%=t('ffp.success')%></h2>
		<strong><%=t('ffp.success_next')%></strong>
	</div>
		<%= render 'show' %>

	<div class="well">
		<%= link_to 'HOME', root_path %>
	</div>
		
	</div>
</div>
