.row
  .span12
    .well
      %h2= t('ffp.success')
      %strong= t('ffp.success_next')
    %table.table.table-bordered
      %tr
        %td
          %p
            %b Fair Founding Points:
            = @ffp.price*20
            FFP
      %tr
        %td
          %p
            %b Price:
            = @ffp.price
            Euro
      %tr
        %td
          %p
            %b Identification-Code:
            = @ffp.code
    .well
      = link_to 'HOME', root_path
