<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

  	<!-- ><img alt="Banner" src="http://www.fairnopoly.com/online-marktplatz/wp-content/uploads/2012/05/fn-header-200-de-t2.gif" width="100%"/>-->
  	
    <h2>Hallo <%= @name %>,</h2>
    <p>	
    	du wurdest von <b><%= @user.name %></b> <b><%= @user.surname %></b> auf <b>Fairnopoly</b> eingeladen.
      	Um die Einladung zu bestätigen und bei Fairnopoly mitzumachen, öffne den folgenden Link:<br/>
    </p>
    <p>
    	<a href="<%=@url%>"><%=@url%></a>
    </p>
    <p>
    	<br/>
    	<hr/>
		Viele Grüße
		Das Fairnopoly Team
	</p>
  </body>
</html>