/ With no library name
- @libraries.each do |lib|
  .box{:id => ("library_"+lib.id.to_s)}
    .box-legend.box-legend-without-border
      %a{:href => ("#library_"+lib.id.to_s)}
      %h3= lib.name
    .box-content.padding-box
      .middle-margin-top
        .well
          = t('library.privacy')
          - if lib.public
            %strong= t('library.public')
            (#{link_to t('library.action.private'), :controller => "dashboard", :action => "set_library_private", :id=>lib.id})
          - else
            %strong
              = t('library.private')
            (#{link_to t('library.action.public'), :controller => "dashboard", :action => "set_library_public", :id=>lib.id})
        - if lib.library_elements.empty?
          .well
            = t('library.no_products')
        - else
          %ul.thumbnails
            - lib.library_elements.each do |library_element|
              %li.span3
                .thumbnail.white{:style => "position: relative;"}
                  .in-image-container-library
                    - html = glyphicons("icon-remove")
                    = link_to html.html_safe, {:controller => "dashboard", :action => "delete_library_element", :id=>library_element.id},:class=>"pull-right"
                    = link_to image_tag(library_element.auction.title_image ? library_element.auction.title_image.image.url(:thumb) : "missing.png" , :class=> "title_image"), library_element.auction
                    = features_label library_element.auction, "in-image-alt-library"
                    = condition_label library_element.auction, "in-image-library"
                  .caption
                    %h5= link_to truncate(library_element.auction.title, :length => 25), library_element.auction
                    %h5= humanized_money_with_symbol library_element.auction.price
                = render :partial => '/shared/add_to_library' , :locals => {:button_label=> t('auction.actions.to-library'),:element => library_element,:libraries => @libraries }
