<!-- With no library name -->
<%if @libraries.public.count == 0 %>
	<div class="well">
		<%= t('collection.no_library')%>
	</div>
<%else%>
	<% @libraries.public.each do |lib| %>
		<div class="box <%= "default-step" if @libraries.first == lib %>" id="<%= ("collection_"+lib.id.to_s)%>">
			<div class="box-legend box-legend-without-border">
				<a href="<%= ("#collection_"+lib.id.to_s)%>"> 
					<h3><%= lib.name%></h3> 
				</a>
			</div>
			<div class="box-content padding-box">
				<div class="middle-margin-top">
					<% if lib.library_elements.empty? %>
						<div class="well">
							<%= t('collection.no_products')%>
						</div>
					<%else%>
						<ul class="thumbnails">
							<% lib.library_elements.each do |library_element| %>
							<li class="span3">
								<div class="thumbnail" style="position: relative;">
									<%= condition_label library_element.auction, "in-image" %>
									<% if library_element.auction.title_image%>
										<%= link_to image_tag(library_element.auction.title_image.image.url(:thumb), :size=> "260x180"), library_element.auction %>
									<%else%>
										<%= link_to image_tag("http://placehold.it/260x180" ,:size=> "260x180"), library_element.auction %>
									<%end%>
									<div class="caption">
										<h5><%= link_to truncate(library_element.auction.title, :length => 25), library_element.auction %></h5>
										<h5><%= humanized_money_with_symbol library_element.auction.price %></h5>
									</div>
								</div>		
							</li>
							<%end%>
						</ul>
					<%end%>
				</div>
			</div>
		</div>
	<%end%>
<%end%>
