<div class="well">
	<div class="row">
		<div class="span10">
			<ul class="breadcrumb">
				<li>
					<a><%= link_to t('dashboard.menu.profile'), dashboard_path %></a><span class="divider">/</span>
				</li>
				<li>
					<a><%= link_to t('dashboard.menu.edit'), edit_profile_dashboard_path %></a><span class="divider">/</span>
				</li>
				<li>
					<a><%= link_to t('dashboard.menu.timeline'), timeline_dashboard_path %></a><span class="divider">/</span>
				</li>
				<li>
					<a><%= link_to t('dashboard.menu.friends'), friends_dashboard_path  %></a><span class="divider">/</span>
				</li>
				<li>
					<a><%= link_to t('dashboard.menu.community'), community_dashboard_path%></a><span class="divider">/</span>
				</li>
				<li>
					<a><%= link_to t('dashboard.menu.trade'), trade_dashboard_path %></a><span class="divider">/</span>
				</li>
				<li>
					<a><%= link_to t('dashboard.menu.settings'), setting_dashboard_path %></a>
					<% if current_user.admin? %>
					<span class="divider">/</span>
					<% end %>
				</li>
				<% if current_user.admin? %>
				<li>
					<a><%= link_to t('dashboard.menu.admin'), admin_dashboard_path %></a>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>