
<div class="row">	
	
	<div class="span4">
		<% if @invitor%>
			<div class="span3">
				<h3><%=t('dashboard.headers.invitor')%>:</h3>
				<div class="thumbnail" style="position: relative;">
					<% if @invitor_image %>
							<%= link_to image_tag(@invitor.image.url(:thumb), :style=> "width:260; height:auto;"), dashboard_path(:id => @invitor.id) %>
					<%else%>
							<%= link_to image_tag("http://placehold.it/260x180" ,:style=> "width:260; height:auto;"), dashboard_path(:id => @invitor.id) %>
					<%end%>
					<div class="caption">
					      <h5><%= @invitor.name %></h5>
					</div>
				</div>
			</div>
			
		<%else%>
		<div class="span4">
			<h2> <i class="icon-certificate"></i> <Gruender><%=t('user.founder')%></h2>
		</div>
		<%end%>
	</div>
	
	<div class="span8">
		<h3><%=t('dashboard.headers.invited_people')%>:</h3>
			
			<%if @user == current_user %>
				
					<div class="span3">	
						<div class="well">	
							<p><strong><%=t('dashboard.community.new_invitation')%>:</strong></p>
							<a class="btn btn-large" href='<%= url_for new_invitation_path %>'><Link><%=t('dashboard.actions.send_invitation')%></a>
						</div>
					</div>
					
					<div class="span4">
						<div class="well">	
							<p><strong><%=t('dashboard.community.existing_invitation')%>:</strong></p>
							<%= render 'user_search' %>
						</div>
					</div>
			<%end%>
		
		<% if @users.length > 0 %>		
			<div class="span8">
				
				<%= render 'list_user'%>
			</div>
		<%else%>
			<div class="span8">
				
				<%= t('dashboard.community.no_invited') %>
			</div>
		<%end%>
	</div>
	
</div>
