
<%= render 'menu'%>

<div class="well">
	<div class="row">

		<div class="span12">
			<a class="btn btn-large" href='<%= url_for new_invitation_path %>'><Link><%=t('dashboard.actions.send_invitation')%></a>
		</div>
		
		<div class="span12">
			
			<div class="span3">
				<h2><%=t('dashboard.headers.invitor')%></h2>
			</div>
			
			<% if @invitor%>
				<div class="span2">
					<div class="thumbnail" style="position: relative;">
						<% if @invitor.image.url !=  "/images/original/missing.png"%>
								<%= link_to image_tag(@invitor.image.url(:thumb), :size=> "160x120"), dashboard_path(:id => @invitor.id) %>
						<%else%>
								<%= link_to image_tag("http://placehold.it/160x120" ,:size=> "160x120"), dashboard_path(:id => @invitor.id) %>
						<%end%>
						<div class="caption">
						      <h5><%= @invitor.name %></h5>
						      <h5><%= @invitor.surname %></h5>
						</div>
					</div>
				</div>
			<%end%>
			
		</div>
		
		<div class="span12">
			<h2><%=t('adashboard.headers.you')%></h2>
		</div>
		
		<div class="span12">
			
			<div class="span3">
				<h2><%=t('dashboard.headers.invited_people')%></h2>
			</div>
			<div class="span7">
				<ul class="thumbnails">
					<% @invited_people.each do |person| %>
	
						<li class="span2">
						  <div class="thumbnail" style="position: relative;">
							<% if person.image.url !=  "/images/original/missing.png"%>
								<%= link_to image_tag(person.image.url(:thumb), :size=> "160x120"), dashboard_path(:id => person.id) %>
							<%else%>
								<%= link_to image_tag("http://placehold.it/160x120" ,:size=> "160x120"), dashboard_path(:id => person.id) %>
							<%end%>
						    <div class="caption">
						      <h5><%= person.name %></h5>
						      <h5><%= person.surname %></h5>
						    </div>
						 </div>
						 
						</li>
	
					<%end%>
				</ul>
			</div>
		</div>
		
		
	</div>
</div>