.row
  - if false
    .span4
      - if @invitor
        .span3
          %h3
            = t('dashboard.headers.invitor')
            \:
          .thumbnail{:style => "position: relative;"}
            - if @invitor_image
              = link_to image_tag(@invitor.image.url(:thumb), :style=> "width:260; height:auto;"), dashboard_path(:id => @invitor.id)
            - else
              = link_to image_tag("http://placehold.it/260x180" ,:style=> "width:260; height:auto;"), dashboard_path(:id => @invitor.id)
            .caption
              %h5= @invitor.name
      - else
        .span4
          %h2
            %i.icon-certificate
            %gruender= t('user.founder')
  .span8
    %h3
      = t('dashboard.headers.invited_people')
      \:
    - if @user == current_user
      .span3
        .well
          %p
            %strong
              = t('dashboard.community.new_invitation')
              \:
          %a.btn.btn-large{:href => url_for new_invitation_path}/
      %link/
      = t('dashboard.actions.send_invitation')
.span4
  .well
    %p
      %strong
        = t('dashboard.community.existing_invitation')
        \:
    = render 'user_search'
- if @users.length > 0
  .span8
    = render 'list_user'
- else
  .span8
    = t('dashboard.community.no_invited')
