- if @user.legal_entity
  .well
    %h2= @user.nickname
    %h3= @user.title + " " + @user.forename + " " + @user.surname
    %p
      = t('devise.edit_profile.street')
      \:
      %strong= @user.street
    %p
      = t('devise.edit_profile.city')
      \:
      %strong= @user.zip + " " + @user.city
    %p
      = t('devise.edit_profile.country')
      \:
      %strong= @user.country
    %p
      = t('devise.edit_profile.mail')
      \:
      %strong
        %a{:href => "mailto:#{@user.email}"}= @user.email
    %p
      = t('devise.edit_profile.fax')
      \:
      %strong= @user.fax
    %p
      = t('devise.edit_profile.phone')
      \:
      %strong= @user.phone
    %p
      = t('devise.edit_profile.mobile')
      \:
      %strong= @user.mobile
  .well
    %p
      %strong
        = t('devise.edit_profile.terms')
        \:
    = raw @user.terms
  .well
    %p
      %strong
        = t('devise.edit_profile.cancellation')
        \:
    = raw @user.cancellation
  .well
    %p
      %strong
        = t('devise.edit_profile.about')
        \:
    = raw @user.about
