
		<div class="box" id="offers">
			<div class="box-legend box-legend-without-border">
				<a href="#offers">
				<h3><%= t('dashboard.headers.offers')%></h3>
				</a>
			</div>
			<div class="box-content padding-box">
				<div class="middle-margin-top">
					<% if !@offers || @offers.empty? %> 
						<div class="well">
							<strong><%= t('dashboard.text.no_offers')%></strong>
						</div>
					<%else%>
						<%= render :partial=>'/shared/list_auctions', :locals=>{ :auctions=> @offers, :paginate => false, :list_class=>"span3"} %>
					<%end%>
				</div>
			</div>
		</div>
		
		<div class="box" id="sold">
			<div class="box-legend box-legend-without-border">
				<a href="#sold">
				<h3><%=  t('dashboard.headers.sold')%></h3>
				</a>
			</div>
			<div class="box-content padding-box">
				<div class="middle-margin-top">
					<div class="well">
						<strong><%= t('dashboard.text.soon_sold')%></strong>
					</div>
				</div>
			</div>
		</div>
		

		<% if @auction_templates && !@auction_templates.empty? %> 
				<%=render '/auctions/auction_template_select'%>
		<%end%>
		
