= accordion_item item_name do
  - if articles.empty?
    %p
      - if defined? item_link
        %strong= t("users.text.no_#{item_name}_html", :href => link_to(t("users.text.no_#{item_name}"), item_link ))
      - else
        %strong= t("users.text.no_#{item_name}")
  - else
    .ArticleListview
      - articles.each do |article|
        = render '/articles/shared/listitem', article: article
    = paginate articles, params: { anchor: item_name } , param_name: "#{item_name}_articles_page"

  - if current_user.type == "LegalEntity"
    %p
      - unless articles.empty?
        = link_to t('mass_uploads.labels.update_articles_via_csv'), new_mass_upload_path, :class => "Button"
        = link_to t("articles.export.#{item_name}"), exports_show_path(kind_of_article: item_name, format: "csv"), :class => "Button"

