= semantic_form_for @auction_template, :html => { :class => "form-vertical"}, :builder => Fairtastic::FormBuilder do |f|
  .fairnopoly-well 
    = f.inputs do
      = f.input :name
  = f.semantic_fields_for :auction do |auction_form|
    = render :partial => "/auctions/common_inputs", :locals => {:f => auction_form}
  .fairnopoly-well
    = f.actions do
      = f.action :submit, :as => :input
