<tr>
  <td><%= auction_template.name %></td>
  <td><%= auction_template.auction.title %></td>
  <td><%= link_to t('formtastic.actions.template_select.submit'), new_auction_path(:template_select => {:auction_template => auction_template.id} ) %></td>
  <td><%= link_to t('common.actions.edit'), edit_auction_template_path(auction_template) %></td>
  <td><%= link_to t('common.actions.destroy'), auction_template, method: :delete, data: { confirm: t('common.actions.confirm') } %></td>
</tr>
