<h1><%= t('auction_templates.titles.index') %></h1>

<div class='well'>
  <%= will_paginate @auction_templates %>
  <table class='auction_templates_list'>
    <tr>
      <th><%= t('formtastic.labels.auction_template.name')%></th>
      <th><%= t('formtastic.labels.auction.title')%></th>
      <th></th>
      <th></th>
    </tr>

    <% @auction_templates.each do |auction_template| %>
    <tr>
      <td><%= auction_template.name %></td>
      <td><%= auction_template.auction.title %></td>
      <td><%= link_to t('common.actions.edit'), edit_auction_template_path(auction_template) %></td>
      <td><%= link_to t('common.actions.destroy'), auction_template, method: :delete, data: { confirm: t('common.actions.confirm') } %></td>
    </tr>
    <% end %>
  </table>
  
  <br />
  
  <%= link_to t('auction_templates.titles.new'), new_auction_template_path %>
</div>