-#
-# Farinopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Farinopoly.
-#
-# Farinopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Farinopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Farinopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
.content
  .Content
    = resource.body && resource.body.html_safe
    - if policy(resource).admin?
      = link_to "Edit", edit_content_url(resource)
      = link_to 'Overview', contents_path
.content-share
  = render '/shared/take_part'
.content-nav
  .Content
    %ul
      %li
        %a{:href => "/faq"}
          = t('footer.faq')
      %li
        %a{:href => "http://info.fairnopoly.de/forum/"}
          = t('footer.forum')
      %li
        %a{:href => "/contact"}
          = t('footer.contact')
      %li
        %a{:href => "/about_us"}
          = t('footer.about_us')
      %li
        %a{:href => "http://info.fairnopoly.de/team/"}
          = t('footer.team')
      %li
        %a{:href => "http://info.fairnopoly.de"}
          = t('footer.blog')

