<h2>Resend confirmation instructions</h2>
<%= semantic_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.semantic_errors %>
  <%= f.inputs do %>
    <%= f.input :email, hint: => t("user.hints.email") %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, :button_html => {:class => "primary", :value => t("user.confirmation.resend")} %>
  <% end %>
<% end %>
<%= render "links" %>