
	<div class="element-in-box">
		<strong><%= t('devise.edit_profile.terms')%>:</strong>
		<span class="pull-right"><%= t('devise.edit_profile.public')%></span>
		<%= f.input :terms, :as => :text, :input_html => {:class => "tinymce"}, :label=> false %>
		<%= tinymce %>
		<p><%= t('devise.edit_profile.terms_hint')%></p>
	</div>
	
	<div class="element-in-box">
		<strong><%= t('devise.edit_profile.cancellation')%>:</strong>
		<span class="pull-right"><%= t('devise.edit_profile.public')%></span>
		<%= f.input :cancellation, :as => :text, :input_html => {:class => "tinymce"}, :label=> false %>
		<%= tinymce %>
		<p><%= t('devise.edit_profile.cancellation_hint')%></p>
	</div>
	
	<div class="element-in-box">
		<strong><%= t('devise.edit_profile.about')%>:</strong>
		<span class="pull-right"><%= t('devise.edit_profile.public')%></span>
		<%= f.input :about, :as => :text, :input_html => {:class => "tinymce"}, :label=> false %>
		<%= tinymce %>
		<p><%= t('devise.edit_profile.about_hint')%></p>
	</div>
