.element-in-box
  %p
    %strong= t('devise.edit_profile.picture')
    %span.pull-right= t('devise.edit_profile.public')
  = image_tag(current_user.image.url(:thumb), :class => "img-polaroid ")
  = f.input :image,  :label => false
.element-in-box
  - if current_user.legal_entity
    %p
    %h3= t('devise.edit_profile.contact_person')
  %span.pull-right= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')
  = f.input :title,:label=>t('devise.edit_profile.name_title'),:required => true,:as => :select, :collection => [t('common.title.woman'),t('common.title.man')]
  %span.pull-right= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')
  = f.input :forename,:required => true, :label=> t('devise.edit_profile.forename')
  %span.pull-right= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')
  = f.input :surname,:required => true, :label=> t('devise.edit_profile.surname')
.element-in-box
  %p
  %h3= t('devise.edit_profile.login_data')
  %span.pull-right= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')
  = f.input :email, :required => true, :label=> t('devise.edit_profile.mail')
  %span.pull-right= t('devise.edit_profile.private')
  = f.input :password,  :label=> t('devise.edit_profile.password'), :input_html => { :autocomplete => "off" }
  = render :partial => "/devise/password_complexity"
  %span.pull-right= t('devise.edit_profile.private')
  = f.input :password_confirmation, :label=> t('devise.edit_profile.password_confirmation')
  %span.pull-right= t('devise.edit_profile.private')
  = f.input :current_password, :label=>t('devise.edit_profile.current_password'), :hint => t('devise.edit_profile.current_password_hint')
.element-in-box
  %p
  %h3= t('devise.edit_profile.address')
  %span.pull-right= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')
  = f.input :country,:required => true,:label=> t('devise.edit_profile.country'),:as => :select, :collection => [t('devise.countries.germany')]
  %span.pull-right= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')
  = f.input :street,:required => true, :label=> t('devise.edit_profile.street')
  %span.pull-right= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')
  = f.input :city,:required => true, :label=> t('devise.edit_profile.city')
  %span.pull-right= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')
  = f.input :zip, :required => true, :label=> t('devise.edit_profile.zip')
  %span.pull-right= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')
  = f.input :phone, :label=> t('devise.edit_profile.phone')
  %span.pull-right= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')
  = f.input :mobile, :label=> t('devise.edit_profile.mobile')
  %span.pull-right= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')
  = f.input :fax, :label=> t('devise.edit_profile.fax')
.element-in-box
  %span.pull-right= t('devise.edit_profile.public')
  = f.input :about_me, :as => :text, :input_html => {:class => "tinymce"}, :label=> t('devise.edit_profile.about_me'), :hint=>t('devise.edit_profile.about_me_hint')
  = tinymce
