-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
= f.input_step :terms do
  = f.inputs do
    .Accordion-step
      = f.input :terms, required: true, as: :text, input_html: {class: "tinymce"}, tooltip: true

    .Accordion-step
      = f.input :cancellation, required: true, as: :text, input_html: {class: "tinymce"}, tooltip: true

    .Accordion-step
      = f.input :about, required: true, as: :text, input_html: {class: "tinymce"}, tooltip: true

    .Accordion-step
      = f.input :cancellation_form, as: :file#, tooltip: true
      - if resource.cancellation_form.exists?
        Hochgeladen:
        = link_to resource.cancellation_form.original_filename, resource.cancellation_form.url, target: '_blank'
= f.input_step :unified_transport do
  = f.inputs do
    = f.input :unified_transport_maximum_articles
    = f.input :unified_transport_provider
    = f.input :unified_transport_price
    = f.input :unified_transport_cash_on_delivery_price
    = f.input :free_transport_available
    = f.input :free_transport_at_price_cents