<div class="element-in-box">
	<p>
		<strong><%= t('devise.edit_profile.picture')%></strong>
		<span class="pull-right"><%= t('devise.edit_profile.public')%></span>
	</p>
	<%= image_tag(current_user.image.url(:thumb), :class => "img-polaroid ") %>
	<%= f.input :image,  :label => false%>
</div>

<div class="element-in-box">
	<%if current_user.legal_entity%>
	<p>
		<h3><%= t('devise.edit_profile.contact_person')%></h3>
	</p>
	<%end%>

	<span class="pull-right"><%= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')%></span>
	<%= f.input :title,:label=>t('devise.edit_profile.name_title'),:required => true,:as => :select, :collection => [t('common.title.woman'),t('common.title.man')] %>

	<span class="pull-right"><%= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')%></span>
	<%= f.input :forename,:required => true, :label=> t('devise.edit_profile.forename')%>

	<span class="pull-right"><%= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')%></span>
	<%= f.input :surname,:required => true, :label=> t('devise.edit_profile.surname')%>

</div>

<div class="element-in-box">

	<p>
		<h3><%= t('devise.edit_profile.login_data')%></h3>
	</p>
	
	<span class="pull-right"><%= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')%></span>
	<%= f.input :email, :required => true, :label=> t('devise.edit_profile.mail') %>
	
	<span class="pull-right"><%= t('devise.edit_profile.private')%></span>
	<%= f.input :password,  :label=> t('devise.edit_profile.password'), :input_html => { :autocomplete => "off" } %>
	<span class="pull-right"><%= t('devise.edit_profile.private')%></span>
	<%= f.input :password_confirmation, :label=> t('devise.edit_profile.password_confirmation')  %>
	<span class="pull-right"><%= t('devise.edit_profile.private')%></span>
	<%= f.input :current_password, :label=>t('devise.edit_profile.current_password'), :hint => t('devise.edit_profile.current_password_hint')%>
				
</div>

<div class="element-in-box">
	<p>
		<h3><%= t('devise.edit_profile.address')%></h3>
	</p>

	<span class="pull-right"><%= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')%></span>
	<%= f.input :country,:required => true,:label=> t('devise.edit_profile.country'),:as => :select, :collection => [t('devise.countries.germany')] %>

	<span class="pull-right"><%= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')%></span>
	<%= f.input :street,:required => true, :label=> t('devise.edit_profile.street')%>

	<span class="pull-right"><%= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')%></span>
	<%= f.input :city,:required => true, :label=> t('devise.edit_profile.city')%>

	<span class="pull-right"><%= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')%></span>
	<%= f.input :zip, :required => true, :label=> t('devise.edit_profile.zip') %>

	<span class="pull-right"><%= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')%></span>
	<%= f.input :phone, :label=> t('devise.edit_profile.phone') %>

	<span class="pull-right"><%= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')%></span>
	<%= f.input :mobile, :label=> t('devise.edit_profile.mobile') %>

	<span class="pull-right"><%= current_user.legal_entity ? t('devise.edit_profile.public') : t('devise.edit_profile.private')%></span>
	<%= f.input :fax, :label=> t('devise.edit_profile.fax') %>
</div>
<div class="element-in-box">
	<span class="pull-right"><%= t('devise.edit_profile.public')%></span>
	<%= f.input :about_me, :as => :text, :input_html => {:class => "tinymce"}, :label=> t('devise.edit_profile.about_me'), :hint=>t('devise.edit_profile.about_me_hint') %>
	<%= tinymce %>
</div>

