-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
%h1= t('common.actions.edit_profile')

.Accordion.Accordion--activated.user-edit
  = semantic_form_for(@user, html: {multipart: true, autocomplete: "off", class: 'js-visual-submit'}, as: resource_name, url: registration_path(resource_name), builder: ::Fairtastic::FormBuilder) do |f|
    = f.semantic_errors
    = f.input_step :account, default_step: true do

      .Accordion-step
        .visibility
          = t('users.visibility.public')
          %span.sprite_helper{title: "Für Dich und andere Nutzer*innen sichtbar." }
        %h4
          = "#{ t('formtastic.labels.user.legal_entity') }:"
        %p
          - if current_user.is_a?(LegalEntity) && !current_user.ngo
            = t('users.legal_status.edit.legal_entity')
          - elsif current_user.ngo
            = t('users.legal_status.edit.ngo')
          -else
            = t('users.legal_status.edit.private_user')

      .Accordion-step
        .visibility
          = t('users.visibility.public')
        %h4
          = t('formtastic.labels.user.nickname') + ":"
        %p
          = current_user.nickname
      .Accordion-step
        .visibility
          = t('users.visibility.private')
          %span.sprite_helper{title: "Nur für Dich sichtbar." }
        %h4= t('formtastic.labels.user.customer_number') + ":"
        %p
          = current_user.customer_nr
      .Accordion-step
        .visibility
          = t('users.visibility.public')
        %h4= "#{t('formtastic.labels.user.image')}: "
        %p
          = image_tag(@user.image_url(:original), class: "img-polaroid ")
          - f.object.build_image unless f.object.image # Build the Image object for the form
          = f.semantic_fields_for :image do |image|
            = f.inputs do
              = image.input :image, label: false, as: :file, tooltip: true, required: false

      .Accordion-step
        .visibility
          = current_user.is_a?(LegalEntity) ? t('users.visibility.public') : t('users.visibility.private')

        %h3= t('users.title.login')
        = f.inputs do
          = f.input :email

      .Accordion-step
        = f.input :password,  label: t('users.change_password'), input_html: { autocomplete: "off"}
        = f.input :password_confirmation
        = render partial: '/devise/registrations/password_complexity'
        = f.input :current_password

      .Accordion-step
        .visibility
          = t('users.visibility.public')
        %h3
          = t('users.title.state')
        = f.input :vacationing,as: :boolean, tooltip: true
        = f.input :newsletter, as: :boolean, tooltip: true

    = f.input_step :contact, has_errors: @user.standard_address.errors.any? do
      = f.inputs do

        .Accordion-step
          .visibility
            = current_user.is_a?(LegalEntity) ? t('users.visibility.public') : t('users.visibility.private')

          - if current_user.is_a?(LegalEntity)
            %h3= t('users.form_titles.contact_person')
          = semantic_fields_for @user.standard_address do |af|
            = af.inputs do
              = af.input :title, as: :select, collection: [t('common.title.woman'),t('common.title.man')]
              = af.input :first_name, required: true
              = af.input :last_name, required: true

        .Accordion-step
          .visibility
            = current_user.is_a?(LegalEntity) ? t('users.visibility.public') : t('users.visibility.private')

          %h3= t('users.form_titles.address')
          = semantic_fields_for @user.standard_address do |af|
            = af.inputs do
              - if @user.is_a?(LegalEntity)
                = af.input :company_name
              = af.input :address_line_1, required: true
              = af.input :address_line_2
              = af.input :zip, required: true
              = af.input :city, required: true
              = af.input :country, required: true, as: :select, collection: [t('users.countries.germany')]

          = f.input :phone
          = f.input :mobile
          = f.input :fax

        .Accordion-step
          .visibility
            = t('users.visibility.private')
          %h3= 'Deine Versandaddressen'
          = link_to 'neue Adresse hinzufügen', new_user_address_path(@user), { class: 'colorbox' }

        = render 'addresses/addresses', radio: false

    = f.input_step :profile, tooltip: true do
      = f.inputs do
        .Accordion-step
          .visibility
            = t('users.visibility.public')

          = f.input :about_me, as: :text, limit: 2500, input_html: {class: "tinymce"}
          = tinymce

    - if current_user.is_a?(LegalEntity)
      = render partial: '/devise/registrations/edit_legal', locals: {f: f}

    = f.input_step :payment, tooltip: true do
      = f.inputs do
        .Accordion-step
          %h3= t('users.form_titles.payment_bank_account')

          = f.input :bank_account_owner, required: true, label: t('formtastic.labels.user.bank_account_owner')
          = f.input :bank_code, required: true, input_html: {id: "bank_code", maxlength: 8}, label: t('formtastic.labels.user.bank_code')
          = f.input :bank_name, required: true, input_html: {id: "bank_name"}, label: t('formtastic.labels.user.bank_name')
          = f.input :bank_account_number, required: true, input_html: {id: "bank_account_number", maxlength: 10}, label: t('formtastic.labels.user.bank_account_number')

          = f.input :iban, required: true, input_html: {id: "iban"}, label: t('formtastic.labels.user.iban'), tooltip: true
          = f.input :bic, required: true, input_html: {id: "bic"}, label: t('formtastic.labels.user.bic'), tooltip: true

        .Accordion-step
          - direct_debit_link = link_to t('formtastic.labels.user.seller_fees'), "/faq#geb1", target: "_blank", onclick: on_click_open_link_in_label('/faq#geb1')
          = f.input :direct_debit, required: true, label: t('formtastic.labels.user.direct_debit1_html').html_safe + direct_debit_link + t('formtastic.labels.user.direct_debit2_html').html_safe

        .Accordion-step
          %h3= t('users.form_titles.payment_paypal')

          = f.input :paypal_account, label: t('formtastic.labels.user.paypal_account'), tooltip: true
          = f.input :fastbill_profile_update, as: :hidden, input_html: { value: true }

    = f.actions do
      = f.action :submit, button_html: {class: "Button"}

- content_for :view_specific_scripts do
  = javascript_include_tag 'inputs/bank_details'
  = javascript_include_tag 'inputs/newsletter_status'
