
	

	<%if session[:invitor_name]%>
		<div class="element-in-box">
			<strong> <%= t('invitation.invitated')%>
			<%= session[:invitor_name]%> </strong>
		</div>
	<%end%>

	<%= semantic_form_for(resource, :html => { :class => "form-horizontal"}, :as => resource_name, :url => registration_path(resource_name) , :builder => Fairtastic::FormBuilder) do |f| %>

		<%= f.semantic_errors %>
		
		<%= f.inputs do %>
			
			<div class="element-in-box">
				<%= f.input :legal_entity,:as => :radio,:required => true, :collection => [[t('devise.new_profile.private_user'),false], [t('devise.new_profile.legal_entity'),true]], :label => t('devise.new_profile.status')%>
			</div>
			
			<div class="element-in-box">
				<%= f.input :nickname,  :tooltip => true,:required => true, :label => t('devise.edit_profile.nickname')%>

				<%if session[:invited_email] %>
					<%= f.input :email,  :tooltip => true, :input_html => { :value => session[:invited_email] ,:readonly => true }%>
				<%else%>
					<%= f.input :email,  :tooltip => true, :required => true %>
				<%end%>
			</div>
			
			<div class="element-in-box">
				<%= f.input :password, :label => t('formtastic.labels.user.password') %>
				<%= f.input :password_confirmation, :label => t('devise.edit_profile.password_confirmation'), :required => true %>
			</div>
			
			<div class="element-in-box">
				<% recaptcha_error = resource.errors && resource.errors.has_key?(:recaptcha)%>
				<div class="control-group <%= "error" if recaptcha_error%>" id="recaptcha-view">
					
						<%= recaptcha_tags :display => {:theme => 'clean'} %>
						<%if recaptcha_error%>
							<span class="help-inline"><%= t('devise.captcha.error') %></span>
						<%end%>
					
				</div>
			</div>

			<%if session[:invitor_id] %>
				<%= f.input :invitor_id, :as => :hidden, :input_html => { :value => session[:invitor_id] ,:readonly => true }%>
				<%= f.input :trustcommunity, :as => :hidden, :input_html => { :value => "true", :readonly => true }%>
			<%end%>

		<% end %>
		<div class="element-in-box">
			
			<% legal_link = link_to t('formtastic.labels.user.legal'), "/agb", :target => "_blank"%> 
			<% privacy_link = link_to t('formtastic.labels.user.privacy'), "/privacy", :target => "_blank"%>
			
			<%= f.input :agecheck,  :as => :plain_check_box, :required => true%>
			<%= f.input :legal,  :as => :plain_check_box,:required => true , :label => t("common.text.i_accept_the").html_safe + legal_link%>
			<%= f.input :privacy, :as => :plain_check_box,:required => true , :label => t("common.text.i_accept_the").html_safe + privacy_link%>
					
				
			
			
					
			<%= f.actions do %>	
				<%= f.action :submit, :button_html => {:class => "btn btn-primary btn-large"}, :label => t('devise.new_profile.create') %>
			<% end %>
			
		</div>
	<% end %>

