
	

	<%if session[:invitor_name]%>
		<div class="element-in-box">
			<strong> <%= t('invitation.invitated')%>
			<%= session[:invitor_name]%> </strong>
		</div>
	<%end%>

	<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

		<%= f.semantic_errors %>
		
		<%= f.inputs do %>
			
			<div class="element-in-box">
				<%= f.input :legal_entity,:as => :radio,:required => true, :collection => [[t('devise.new_profile.private_user'),false], [t('devise.new_profile.legal_entity'),true]], :label => t('devise.new_profile.status')%>
			</div>
			
			<div class="element-in-box">
				<%= f.input :nickname, :required => true, :label => t('devise.edit_profile.nickname'), :hint => t('devise.edit_profile.nickname_hint')%>

				<%if session[:invited_email] %>
					<%= f.input :email, :input_html => { :value => session[:invited_email] ,:readonly => true }%>
				<%else%>
					<%= f.input :email, :hint => t('devise.edit_profile.email'), :required => true %>
				<%end%>
			</div>
			
			<div class="element-in-box">
				<%= f.input :password, :label => t('devise.new_profile.password') %>
				<%= f.input :password_confirmation, :label => t('devise.edit_profile.password_confirmation'), :required => true %>
			</div>
			
			<div class="element-in-box">
				<%= recaptcha_tags :display => {:theme => 'clean'} %>
			</div>

			<%if session[:invitor_id] %>
				<%= f.input :invitor_id, :as => :hidden, :input_html => { :value => session[:invitor_id] ,:readonly => true }%>
				<%= f.input :trustcommunity, :as => :hidden, :input_html => { :value => "true", :readonly => true }%>
			<%end%>

		<% end %>
		<div class="element-in-box">
			
			<%= f.input :agecheck, :required => true, :label => t('devise.new_profile.age') %>
			<%= f.input :legal, :required => true, :label => t('devise.new_profile.accept')+ t('devise.new_profile.legal')+t('common.text.and')+t('devise.new_profile.pionier_legal') %>
			<%= f.input :privacy, :required => true, :label => t('devise.new_profile.accept')+t('devise.new_profile.privacy') %>
			
	
			<%= link_to (t('devise.new_profile.legal')+t('common.text.and')+t('devise.new_profile.pionier_legal')), "/agb"%> </br>
			<%= link_to t('devise.new_profile.privacy'), "/privacy"%>
			
					
			<%= f.actions do %>	
				<%= f.action :submit, :button_html => {:class => "btn btn-primary btn-large"}, :label => t('devise.new_profile.create') %>
			<% end %>
			
		</div>
	<% end %>

	

