
<div class="well">

	<div class="progress progress-success" style="height:50px ;margin-bottom:5px">
		<div class="bar" style="height:100%;width: <%=@persent%>%"></div>
	</div>
	
	<strong><i class="icon-info-sign"></i> <%=@ffp_amount%> Euro have been raised! That is <%=@persent%>% of the aimed 50000Euro.</strong>

</div>

<% if @ffps_user < 500 %>
	<div class="alert alert-success">
	
			<button class="close" data-dismiss="alert">×</button>
	
			<div><h2><%=t('ffp.buy')%>:</h2></div>
			<div><%= link_to (raw glyphicons("icon-shopping-cart")) + " Buy FFP" , new_ffp_path , :class => "btn btn-large btn-success" %></div>
	</div>
<% end %>