.Comment-single{id: "commentable_#{comment.library.id}_comment_#{comment.id}"}
  = image_tag comment.user_image_url(:profile), class: "author_image"
  .meta
    = link_to comment.user_nickname, profile_user_path(comment.user)
    = timeago_tag comment.created_at, lang: :de
    - if policy(comment).destroy?
      = link_to t('common.text.delete_comment'),
        library_comment_path(comment.library, comment),
        method: :delete,
        remote: true
  .text
    = comment.text
