
	<div class="span12">
	
	
		<h2> <%= current_user.email %></h2>	
		
	</div>
	
	<div class="well span12">
		<ul class="thumbnails">
			
			<li class="span2">
			</li>
		        <li class="span2">
		          <div class="thumbnail" style="position: relative;">
						<%= image_tag("http://placehold.it/64x64") %>
						 <div class="caption">
		              		<h5 align="center"><%= t('dashboard.menu.edit') %></h5>
		            	</div>
		         </div>
		        </li>
		        <li class="span2">
		          <div class="thumbnail" style="position: relative;">
						<%= image_tag("http://placehold.it/64x64")%>
						<div class="caption">
		              		<h5 align="center"><%= t('dashboard.menu.timeline') %></h5>
		            	</div>
		         </div>
		        </li>
		        <li class="span2">
		          <div class="thumbnail" style="position: relative;">
						<%= image_tag("http://placehold.it/64x64" )%>
						<div class="caption">
		              		<h5 align="center"><%= t('dashboard.menu.connections') %></h5>
		            	</div>
		         </div>
		        </li>
		        <li class="span2">
		          <div class="thumbnail" style="position: relative;">
						<%= image_tag("http://placehold.it/64x64" ) %>
						<div class="caption">
		              		<h5 align="center"><%= t('dashboard.menu.trade') %></h5>
		            	</div>
		         </div>
		        </li>
		    <li class="span2">
			</li>
		        

		</ul>
	</div>