
<div class="container <%= "closed-container-hero" unless params[:action]== "index" %>" id="dashboard-hero">
	
	<div class="row-fluid">
		<div class="span3">
			<%=render :partial=>'/shared/profile_img', :locals=>{:user => @user} %>	
		</div>
		
		<div class="span9" id="dashboard-middle">
			<div id="dashboard-events">
				<%if @user.about_me && !@user.about_me.empty?%>
					<div class="well white-well">
						<%= raw @user.about_me%>
					</div>
				<%else%>
					<div class="empty-well">
						<% if @user==current_user%>
							
							<a href="<%=url_for edit_user_registration_path %>" class="pull-right"> 
								Beschreibung hinzufügen
							</a>
						<%end%>
						<h4>Noch keine Beschreibung hinzugefügt.</h4>
						
					</div>
				<%end%>
			</div>
			<ul class="nav nav-pills">
				<%if @user.id==current_user.id%>
			    	<li id="dashboard-sell">
			    		<a href="<%=url_for :controller => "dashboard", :action => "sales", :anchor => "offers" %>">
		       				<strong> Verkäufe </strong>
		    			</a>
	
		    		</li>
	    		<%end%>
	    		<li id="dashboard-collection">
		    		<a href="<%=url_for :controller => "dashboard", :action => "collection", :id => params[:id], :anchor => "collection_"+t('collection.standard').delete(' ') %>">
	       				<strong> Sammlungen </strong>
	    			</a>

	    		</li>
	    		<%if @user.id==current_user.id%>
		    		<li id="dashboard-profile">
		    			<a href="<%=url_for edit_user_registration_path %>">
		       				<strong> Profil bearbeiten  </strong>
		    			</a>
		    		</li>
		    	<%end%>
			</ul>	
			<div id="hero-unfold"><a href="#dashboard-hero" class="pull-right"><%= raw glyphicons("icon-chevron-up")%></a></div>	
		</div>	
		
	</div>
	
	<!-- <p>
		<% html= "<i class=\"icon-heart\"></i> " + @user.followers_count.to_s%> 
		<%= link_to html.html_safe, { :controller => "dashboard", :action => "list_followers" ,:id => @user.id ,   },
		{ :title => t('user.follow.followers_info_others') + @user.name , :class => "btn"} %>

		<% html= "<i class=\"icon-eye-open\"></i> " + @user.follow_count.to_s%> <%= link_to html.html_safe, { :controller => "dashboard", :action => "list_following" ,:id => @user.id } ,
		{ :title => @user.name + t('user.follow.following_info_others'), :class => "btn"} %>
		<%if @user.trustcommunity?%>
		<% html= "<i class=\"icon-user\"></i> " %> <%= link_to html.html_safe , community_path(:id =>@user.id) , {:class => "btn" , :title => t('dashboard.menu.community')}%>
		<%end%>

		<%if @user==current_user%>
		<% html= glyphicons("icon-cog")%>
		<%= link_to html.html_safe, edit_user_registration_path , :class => "btn" , :title => t('dashboard.actions.edit_account')%>
		<%else%>
			<%= render :partial => 'shared/follow' , :locals => { :object => @user }%>
		<%end%>
		<br>
	</p> -->

</div>
