<div class="chat">
	<%if @user==current_user%>
		<% day=0%>
		<%@userevents.each do |userevent| %>

			<%if userevent.created_at.day != day%>
			<p class="chat-date">
				<small><%= userevent.created_at.strftime("%d.%m.%Y")%>
				<% day=userevent.created_at.day %></small>
			</p>
			<%end%>

			<%if userevent.appended_object  %>
				<div class="bubble me">
					<% case userevent.event_type %>
					<% when UsereventType::AUCTION_CREATE %>
						<i class="icon-plus "></i>
						<%= link_to userevent.appended_object.title, userevent.appended_object %> <i><%= t('dashboard.auction.create')%></i>
					<% when UsereventType::AUCTION_UPDATE %>
						<i class="icon-list-alt"></i>
						<%= link_to userevent.appended_object.title,userevent.appended_object %> <i><%= t('dashboard.auction.update') %></i>
					<% when UsereventType::INVITATION_SEND%>
						<%= link_to t('dashboard.invitation.send'),userevent.appended_object %>
					<% when UsereventType::FFP_BUY%>
						<%= link_to t('dashboard.userevent.ffp_buy')+": "+userevent.appended_object.price.to_s +
						"Euro, "+ t('dashboard.userevent.confirmed')+ (userevent.appended_object.activated ? ": Yes" : ": No"),
						userevent.appended_object %>
					<% when UsereventType::USER_FOLLOW%>
						<%= link_to t('dashboard.userevent.user_follow')+": "+userevent.appended_object.email.to_s,dashboard_path(:id => userevent.appended_object.id) %>
					<% when UsereventType::PRODUCT_FOLLOW%>
						<%= link_to t('dashboard.userevent.product_follow')+": "+userevent.appended_object.title.to_s,auction_path(:id => userevent.appended_object.id) %>
					<% end %>
				</div>
			<%end%>
		<%end%>
		<%= link_to "<span class=\"badge badge-white\">...</span>".html_safe , { :userevents => @limit_userevents }   %>
	<%else%>
		<div class="bubble me">
			Soon we can chat here
		</div>
		<div class="bubble you">
			Soon we can chat here
		</div> 
	<%end%>
</div>