<div class="container">
	<div class="row">

		<div class="span3" style="text-align:center;">
			<a href="<%= dashboard_path(:id => @user.id) %>"> <% if @image%>
			<%= image_tag(@image.url(:thumb), :class => "img-polaroid ") %>
			<%else%>
			<%= image_tag("http://placehold.it/260x180" , :class => "img-polaroid ") %>
			<%end%></a>
			<div class="well">
				<span ><b></b><%= @user.name%></b></br>
					<%if @ffps %> <abbr title="<%= t('ffp.explain')%>"><b><%= t('common.text.ffp')%>:</b></abbr> <%= @ffps %></a>

					<%end%>
					<p>
						<% html= "<i class=\"icon-heart\"></i> " + @user.followers_count.to_s%> <%= link_to html.html_safe, { :controller => "dashboard", :action => "list_followers" ,:id => @user.id ,   },
						{ :title => t('user.follow.followers_info_others') + @user.name , :class => "btn"} %>

						<% html= "<i class=\"icon-eye-open\"></i> " + @user.follow_count.to_s%> <%= link_to html.html_safe, { :controller => "dashboard", :action => "list_following" ,:id => @user.id } ,
						{ :title => @user.name + t('user.follow.following_info_others'), :class => "btn"} %>
						<%if @user.trustcommunity?%>
						<% html= "<i class=\"icon-user\"></i> " %> <%= link_to html.html_safe , community_path(:id =>@user.id) , {:class => "btn" , :title => t('dashboard.menu.community')}%>
						<%end%>

						<%if @user==current_user%>
						<% html= glyphicons("icon-cog")%>
						<%= link_to html.html_safe, edit_user_registration_path , :class => "btn" , :title => t('dashboard.actions.edit_account')%>
						<%else%>
							<%= render :partial => 'shared/follow' , :locals => { :object => @user }%>
						<%end%>
						<br>
						<%if @user.legal_entity%> <i class="icon-briefcase"></i> <i><%= t('user.legal.legal_entity')%></i> <%else%> <i class="icon-user"></i> <i><%= t('user.legal.private')%></i> <%end%>
					</p>
			</div>
		</div>

		<div class="span6">
			<dd>
				<%if @user.about_me && !@user.about_me.empty?%>
				<div class="well">
					<%= raw @user.about_me%>
				</div>
				<%end%>
			</dd>
			<div class="chat">
				<%if @user==current_user%>
				<% day=0%>
				<%@userevents.each do |userevent| %>

				<%if userevent.created_at.day != day%>
				<p class="chat-date">
					<small><%= userevent.created_at.strftime("%d.%m.%Y")%>
						<% day=userevent.created_at.day %></small>
				</p>
				<%end%>

				<%if userevent.appended_object  %>
				<div class="bubble me">
					<% case userevent.event_type %>
					<% when UsereventType::AUCTION_CREATE %>
						<i class="icon-plus "></i>
						<%= link_to userevent.appended_object.title, userevent.appended_object %> <i><%= t('dashboard.auction.create')%></i>
					<% when UsereventType::AUCTION_UPDATE %>
						<i class="icon-list-alt"></i>
						<%= link_to userevent.appended_object.title,userevent.appended_object %> <i><%= t('dashboard.auction.update') %></i>
					<% when UsereventType::INVITATION_SEND%>
						<%= link_to t('dashboard.invitation.send'),userevent.appended_object %>
					<% when UsereventType::FFP_BUY%>
						<%= link_to t('dashboard.userevent.ffp_buy')+": "+userevent.appended_object.price.to_s +
						"Euro, "+ t('dashboard.userevent.confirmed')+ (userevent.appended_object.activated ? ": Yes" : ": No"),
						userevent.appended_object %>
					<% when UsereventType::USER_FOLLOW%>
						<%= link_to t('dashboard.userevent.user_follow')+": "+userevent.appended_object.email.to_s,dashboard_path(:id => userevent.appended_object.id) %>
					<% when UsereventType::PRODUCT_FOLLOW%>
						<%= link_to t('dashboard.userevent.product_follow')+": "+userevent.appended_object.title.to_s,auction_path(:id => userevent.appended_object.id) %>
					<% end %>
				</div>
				<%end%>

				<%end%>
				<%= link_to "<span class=\"badge badge-white\">...</span>".html_safe , { :userevents => @limit_userevents }   %>
					<%else%>
					<div class="bubble me">
						Soon we can chat here
					</div>
					<div class="bubble you">
						Soon we can chat here
					</div> <%end%>
			</div>
		</div>
		<%if @user!=current_user%>
		<div class="span3" style="text-align:center;">
			<% if current_user %>

			<a href="/dashboard"> <% if current_user.image?%>
			<%= image_tag(current_user.image.url(:thumb), :style=> "width:260; height:auto;" , :class =>  "img-polaroid") %>
			<%else%>
			<%= image_tag("http://placehold.it/260x180" , :width=> 260 , :class =>  "img-polaroid") %>
			<%end%> </a>

			<div class="well">
				<%= current_user.name%></a>
				<div class="btn-group">
					<% html= "<i class=\"icon-heart\"></i> " + current_user.followers_count.to_s%> <%= link_to html.html_safe, { :controller => "dashboard", :action => "list_followers" ,:id => current_user.id ,   },
					{ :title => t('user.follow.followers_info') , :class => "btn"} %>

					<% html= "<i class=\"icon-eye-open\"></i> " + current_user.follow_count.to_s%> <%= link_to html.html_safe, { :controller => "dashboard", :action => "list_following" ,:id => current_user.id } ,
					{ :title => t('user.follow.following_info') , :class => "btn"} %>

					<%if current_user.trustcommunity == true %>
					<% html= "<i class=\"icon-user\"></i> " %> <%= link_to html.html_safe , community_path(:id =>current_user.id) , {:class => "btn" , :title => t('dashboard.menu.community')}%>
					<%end%>
				</div>
			</div>
			<%end%>
		</div>
		<%end%>

	</div>

</div>
