<div class="container">
	
	<div class="row-fluid">
		<div class="span3">
			<%=render :partial=>'/shared/profile_img', :locals=>{:user => @user} %>	
		</div>
		
		<div class="span9">
			<%if @user.about_me && !@user.about_me.empty?%>
				<div class="well">
					<%= raw @user.about_me%>
				</div>
			<%end%>
			
			<ul class="nav nav-pills">
		    	<li>
		    		<a href="<%=url_for :controller => "dashboard", :action => "sales", :anchor => "offers" %>">
	       				<strong> Verkäufe </strong>
	    			</a>

	    		</li>
	    		<li>
		    		<a href="<%=url_for dashboard_path %>">
	       				<strong> Sammlungen </strong>
	    			</a>

	    		</li>
	    		<li>
	    			<a href="<%=url_for dashboard_path %>">
	       				<strong> Profil bearbeiten  </strong>
	    			</a>
	    		</li>
			</ul>		
		</div>	
		
	</div>
	
	<!-- <p>
		<% html= "<i class=\"icon-heart\"></i> " + @user.followers_count.to_s%> 
		<%= link_to html.html_safe, { :controller => "dashboard", :action => "list_followers" ,:id => @user.id ,   },
		{ :title => t('user.follow.followers_info_others') + @user.name , :class => "btn"} %>

		<% html= "<i class=\"icon-eye-open\"></i> " + @user.follow_count.to_s%> <%= link_to html.html_safe, { :controller => "dashboard", :action => "list_following" ,:id => @user.id } ,
		{ :title => @user.name + t('user.follow.following_info_others'), :class => "btn"} %>
		<%if @user.trustcommunity?%>
		<% html= "<i class=\"icon-user\"></i> " %> <%= link_to html.html_safe , community_path(:id =>@user.id) , {:class => "btn" , :title => t('dashboard.menu.community')}%>
		<%end%>

		<%if @user==current_user%>
		<% html= glyphicons("icon-cog")%>
		<%= link_to html.html_safe, edit_user_registration_path , :class => "btn" , :title => t('dashboard.actions.edit_account')%>
		<%else%>
			<%= render :partial => 'shared/follow' , :locals => { :object => @user }%>
		<%end%>
		<br>
	</p> -->

</div>
