
	<div class="span12">
		<h2> <%= current_user.email %></h2>	
	</div>
	
	<div class="span12">
		<div class="well">
			<ul class="thumbnails">
	
					<li class="span2"></li>
					
					<li class="span1">
			          <div class="thumbnail" style="position: relative;">
							<%= link_to image_tag("http://placehold.it/64x64"), dashboard_path %>
							 <div class="caption">
			              		<h5 align="center"><%= t('dashboard.menu.profile') %></h5>
			            	</div>
			         </div>
			        </li>
			        <li class="span1">
			          <div class="thumbnail" style="position: relative;">
							<%= link_to image_tag("http://placehold.it/64x64"), edit_profile_dashboard_path %>
							 <div class="caption">
			              		<h5 align="center"><%= t('dashboard.menu.edit') %></h5>
			            	</div>
			         </div>
			        </li>
			        <li class="span1">
			          <div class="thumbnail" style="position: relative;">
							<%= link_to image_tag("http://placehold.it/64x64"), timeline_dashboard_path %>
							<div class="caption">
			              		<h5 align="center"><%= t('dashboard.menu.timeline')%></h5>
			            	</div>
			         </div>
			        </li>
			        <li class="span1">
			          <div class="thumbnail" style="position: relative;">
							<%= link_to image_tag("http://placehold.it/64x64" ), friends_dashboard_path  %>
							<div class="caption">
			              		<h5 align="center"><%= t('dashboard.menu.friends') %></h5>
			            	</div>
			         </div>
			        </li>
			        <li class="span1">
			          <div class="thumbnail" style="position: relative;">
							<%= link_to image_tag("http://placehold.it/64x64" ), community_dashboard_path%>
							<div class="caption">
			              		<h5 align="center"><%= t('dashboard.menu.community') %></h5>
			            	</div>
			         </div>
			        </li>
			        <li class="span1">
			          <div class="thumbnail" style="position: relative;">
							<%= link_to image_tag("http://placehold.it/64x64" ), trade_dashboard_path %>
							<div class="caption">
			              		<h5 align="center"><%= t('dashboard.menu.trade') %></h5>
			            	</div>
			         </div>
			        </li>
			        <li class="span1">
			          <div class="thumbnail" style="position: relative;">
							<%= link_to image_tag("http://placehold.it/64x64" ), setting_dashboard_path %>
							<div class="caption">
			              		<h5 align="center"><%= t('dashboard.menu.settings') %></h5>
			            	</div>
			         </div>
			        </li>  
			        <li class="span3"></li>
	
			</ul>
		</div>
	</div>
