
<%= render 'menu'%>
<div class="well">
	<div class="row">
		<div class="span12">
			<h2>Friends</h2>
		
			<div>
				<p>
					<h4>Search for friends:</h4>
				</p>
				<form class="form-search">
					<input type="text" class="search-query" name="q" data-autocomplete="<%= autocomplete_user_name_users_path %>" value="<%= params["q"]%>">
					<button type="submit" class="btn">
						<%= t("commons.text.search")%>
					</button>
					<% params_without("page").each do |key, value| %>
						<%if key!="q"%>
							<input type="hidden" value="<%=value%>" name="<%=key%>"/>
						<%end%>
					<% end %>
		
				</form>
			</div>
	
			<%= render 'list_user'%>
		</div>
	</div>
</div>
