<h1>Dashboard</h1>
				
	<div id ="fixiert">
		<ul class="nav nav-tabs nav-stacked">
			<!--Build Timeline Links-->
			<% 
				@links.each do |link|%>
					<li>
						<a href="#<%= link %>"><%= link.strftime("%B %Y")%></a>
					</li>
				<%end%>
		</ul>
	</div>

	<div id="Inhalt">
		
		<h2> Timeline </h2>
		<!--TODO: create TimeLine Data:
			Registration, Auctions, Friends, -->
			
		<table class="table table-bordered">

			<%@userevents.each do |userevent| %>
			  <tr id ="<%= userevent.created_at %>">
			  	<td>
			  	<!-- Insert new eventtypes here -->	
			  	<% case userevent.event_type %>
				  	<% when UsereventType::AUCTION_CREATE %>
				  		<%= userevent.created_at.strftime("%d.%m.%Y - %H:%M")%> <%= link_to t('dashboard.auction.create'), userevent.appended_object %>
				  	<% when UsereventType::AUCTION_UPDATE %>
				  	 	<%= userevent.created_at.strftime("%d.%m.%Y - %H:%M")%> <%= link_to t('dashboard.auction.update'),userevent.appended_object %>

					<% end %>
			  	</td>
			  </tr>
			<% end %>
			
		</table>
			
		<%= will_paginate @userevents%>
		
	</div>		



