
<%= render 'menu'%>

<div class="well">
	<div class="row">
		<div class="span12">

			<h2>Timeline</h2>
	
			<ol id="timeline">
				<%@userevents.each do |userevent| %>
				<li >
					<div class="time">
						<%= userevent.created_at.strftime("%d.%m.%Y - %H:%M")%>
					</div>
					<span class="corner"></span>
					<p>
						<% case userevent.event_type %>
						<% when UsereventType::AUCTION_CREATE %>
						<%= link_to t('dashboard.auction.create'), userevent.appended_object %>
						<% when UsereventType::AUCTION_UPDATE %>
						<%= link_to t('dashboard.auction.update'),userevent.appended_object %>
						<% when UsereventType::INVITATION_SEND%>
						<%= link_to t('dashboard.invitation.send'),userevent.appended_object %>
						<% end %>
						<% end %>
					</p>
				</li>
			</ol>
			<div class="offset1">
				<%= will_paginate @userevents%>
			</div>
		</div>
	</div>
</div>
