- if @article_templates.present?
  = semantic_form_for(:template_select, :url => new_article_path, :html => { :method => :get, :class => "form-vertical"}, :builder => Fairtastic::FormBuilder) do |f|
    = f.input_step :apply do
      - if block_given?
        = yield
      = f.inputs do
        = f.input :article_template, :collection => @article_templates, :prompt => t('template_select.prompts.article_templates')
      = f.actions do
        = f.action :submit, :button_html => {:class => "primary"}
