#article_form_container
  = tinymce_assets
  = render :partial => "articles/form/article_template_select"
  = semantic_form_for resource, :html => {:class => "form-vertical", :multipart => true}, :builder => Fairtastic::FormBuilder do |f|
    = f.semantic_errors
    = render :partial => "articles/form/common_inputs", :locals => {:f => f}
    = f.input_step :double_check, :prefix => false do
      = f.inputs do
        - f.object.build_article_template unless f.object.article_template
        = f.semantic_fields_for :article_template do |template_form|
          = template_form.input :save_as_template, :as => :plain_check_box
          = template_form.input :name, :required => false

      = f.actions do
        = f.action :submit , :label => t("article.labels.continue_to_preview")