-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#

.article-form.Accordion.Accordion--activated.Accordion--scrollToActive
  = render :partial => "articles/form/article_template_select"
  = semantic_form_for resource, html: {multipart: true, class: 'js-visual-submit js-category-add', novalidate: false}, builder: ::Fairtastic::FormBuilder do |f|
    = f.semantic_errors
    = render :partial => "articles/form/common_inputs", :locals => {:f => f}
    = f.input_step :double_check, :prefix => false do
      .Accordion-step
        = f.inputs do
          = f.input :save_as_template, :as => :plain_check_box, :tooltip=> true
          = f.input :template_name
      = f.actions do
        = f.action :submit , :label => t("article.labels.continue_to_preview"), :button_html => { :class => 'Button'}, :wrapper_html => {:class => 'Accordion-step'}
- if current_user.is_a?(LegalEntity)
  = render 'articles/form/import_articles_banner'
= render 'articles/form/pr_material'

