-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
- if !params[:article] && !params[:page]
  .Highlight
    %h2 FAIRNOPOLY MAG
    = render "/articles/show/highlight" , :articles => Exhibit.independent_queue(:fairnopoly_likes, 4)
  - ["fair" , "ecologic", "small_and_precious"].each do |label|
    .Highlight
      %h2
        BESONDERS &
        %span.Btn-tag--medium.Btn-tag--inline{:class => self.send("#{label}_label_css")}
          = t("formtastic.labels.article.#{label}")
      = render "/articles/show/highlight" , :articles =>  Exhibit.independent_queue("#{label}_highlights".to_sym, 4)
- if @articles.empty?
  %h3= t("common.text.no_search_result")
  = t("common.text.no_search_result_text")
- else
  = render partial: '/shared/list_articles', locals:{ items: @articles, list_class: "l-ArticleList", dashboard: false }
  = paginate @articles

