-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
- title truncate_and_sanitize_without_linebreaks resource.title, 70
- meta_description truncate_and_sanitize_without_linebreaks resource.content, 160
- meta_keywords resource.categories_and_ancestors.collect{ |c| c.name }.join(",")

- resource.categories.each do |leaf|
  .Breadcrumb
    - category_tree = get_category_tree leaf
    - category_tree.each do |category|
      - last = category_tree.last == category
      %span
        %a{href: articles_path(article: {categories_and_ancestors: category.self_and_ancestors_ids }),
           class: (last ? 'last' : nil )}
          = category.name
      = '>' unless last

.Article.Article--detail
  = render "/articles/show/article_contents", :article => resource
  - if User.is_admin? current_user
    .Admin-controls
      %h2 Administration:
      - if resource.active?
        = button_to '*Pionier*-Artikel', exhibits_path(exhibit: {article_id: resource.id, queue: :pioneer}), class: "Btn Btn--redSmall", method: :post
        = button_to '*Neues auf Fairnopoly*-Artikel', exhibits_path(exhibit: {article_id: resource.id, queue: :newest}), class: "Btn Btn--redSmall", method: :post
        = button_to '*Fairnopoly mag*-Artikel', exhibits_path(exhibit: {article_id: resource.id, queue: :fairnopoly_likes}), class: "Btn Btn--redSmall", method: :post
        = button_to '*Besonders & fair*-Artikel', exhibits_path(exhibit: {article_id: resource.id, queue: :fair_highlights}), class: "Btn Btn--redSmall", method: :post
        = button_to '*Besonders & öko*-Artikel', exhibits_path(exhibit: {article_id: resource.id, queue: :ecologic_highlights}), class: "Btn Btn--redSmall", method: :post
        = button_to '*Besonders & edel*-Artikel', exhibits_path(exhibit: {article_id: resource.id, queue: :small_and_precious_highlights}), class: "Btn Btn--redSmall", method: :post
        = button_to 'Neues Dreamteam', exhibits_path(exhibit: {article_id: resource.id, queue: :dream_team}), class: "Btn Btn--redSmall", method: :post
        %hr
        - Exhibit.where(:queue => :dream_team).where(:related_article_id => nil).each do |dreamteam|
          = form_tag exhibit_path(dreamteam), method: :put do
            = hidden_field_tag 'exhibit[related_article_id]', resource.id
            = submit_tag "Dreamteam mit #{truncate(dreamteam.article.title,:length => 15)}", class: "Btn Btn--redSmall"
            = link_to "#{truncate(dreamteam.article.title,:length => 15)} ansehen", dreamteam.article
            %hr
- unless resource.owned_by? current_user
  = render "/articles/show/user_teaser", :article => resource

- if resource.active?
  = render "/articles/show/active", :article => resource
- elsif resource.owned_by? current_user
  = render "/articles/show/inactive", :article => resource
