-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
- title truncate_and_sanitize_without_linebreaks resource.title, 70
- meta_description truncate_and_sanitize_without_linebreaks resource.content, 160
- meta_keywords resource.categories.map{|c| c.self_and_ancestors.map(&:name) }.flatten.join(",")

- unless resource.active?
  %h1= t('article.titles.preview')
  -content_for :view_specific_scripts do
    =javascript_include_tag 'models/article/unactivated_article_warning'
.breadcrumbs
  - resource.categories.each do |leaf|
    = breadcrumbs_for(leaf).html_safe
    %br
.contents
  = render "articles/show/article_contents", :article => resource
  - if User.is_admin? current_user
    = render "articles/show/admin"
.seller
  - if resource.owned_by? current_user
    = render "articles/show/activation_links", :article => resource unless resource.active?
  - else
    = render "articles/show/seller", :article => resource
- if resource.active?
  .sidebar
    = render "articles/show/fair_alternative", :article => resource


