
.header
  %h2
    - if current_user == @line_item_group.buyer
      = t('cart.texts.line_item_group_by', seller: link_to(@line_item_group.seller_nickname, user_path(@line_item_group.seller))).html_safe
    - else
      = t('line_item_group.texts.sold_to', buyer: link_to(@line_item_group.buyer_nickname, user_path(@line_item_group.buyer))).html_safe
.state
  %a.Button Bezahlung
  %a.Button Versand
  %a.Button Bewertung
.group
  .payments
    = render 'line_item_groups/show/payments', abacus: @abacus, line_item_group: @line_item_group
  .transports
    = render "line_item_groups/show/transports"
  .rating
.sidebar
  .payment_address
    = gray_box t('cart.texts.addresses.payment') do
      .Address
        = render 'addresses/address_lines', address: @line_item_group.payment_address
  .transport_address
    = gray_box t('cart.texts.addresses.transport') do
      .Address
        = render 'addresses/address_lines', address: @line_item_group.transport_address
  .total_price
    = gray_box t('cart.texts.total') do
      .total_big
        = money(@abacus.total)




