.header
  .title
    %h2
      - if current_user == @line_item_group.buyer
        = t('cart.texts.line_item_group_by', seller: link_to(@line_item_group.seller_nickname, user_path(@line_item_group.seller))).html_safe
      - else
        = t('line_item_group.texts.sold_to', buyer: link_to(@line_item_group.buyer_nickname, user_path(@line_item_group.buyer))).html_safe
    = "#{I18n.t('line_item_group.texts.purchase_id')}: #{@line_item_group.purchase_id}"
  .states
    .state{class: @tab == :payments ? 'active': ''}
      = link_to line_item_group_path(@line_item_group, tab: "payments") do
        %i.fa.fa-euro.state_icon
        Bezahlung
    .state{class: @tab == :transports ? 'active': ''}
      = link_to line_item_group_path(@line_item_group, tab: "transports") do
        %i.fa.fa-paper-plane.state_icon
        Versand
    .state{class: @tab == :rating ? 'active': ''}
      = link_to line_item_group_path(@line_item_group, tab: "ratings") do
        %i.fa.fa-thumbs-up.state_icon
        Bewertung


.group
  = render "line_item_groups/show/#{@tab.to_s}", abacus: @abacus, line_item_group: @line_item_group
.sidebar
  .payment_address
    = gray_box t('cart.texts.addresses.payment') do
      .Address
        = render 'addresses/address_lines', address: @line_item_group.payment_address
  .transport_address
    = gray_box t('cart.texts.addresses.transport') do
      .Address
        = render 'addresses/address_lines', address: @line_item_group.transport_address
  .total_price
    = gray_box t('cart.texts.total') do
      .total_big
        = money(@abacus.total)

