<!DOCTYPE html>
<html>
<head>
  <title>Fairnopoly</title>
   <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
					<a class="brand" href="#"><%=t('common.brand')%></a>
					<div class="nav-collapse">
						<%= tabs %>

						<%= form_tag("/search", :class => "navbar-search pull-left" ) do %>
							<%= text_field_tag(:q,value = nil, options = {:class => "search-query span2", :placeholder => t('common.text.search')}) %>
						<% end %>
							<div class="pull-right">
								<%= render 'devise/menu/registration_items' %> 
								
								<%if signed_in? %>
								
									 <%= render 'devise/menu/currentUser_items' %>&nbsp
									 <%= render 'devise/menu/login_items' %> 
								
								<%else%>
									<%=form_for :user , :url => session_path(:user) , :html => { :class =>"navbar-form pull-right" } do  |f|%>
			
										<%= f.text_field :email, :class => "input-small", :placeholder => t('common.text.email')%>
										<%= f.password_field :password, :class => "input-small", :placeholder => t('common.text.password')%>
										<% if Devise.mappings[:user].rememberable? -%> <label for="remember_me" class="checkbox inline" >
											<input type="checkbox" name="_spring_security_remember_me" id="remember_me" checked="checked"/>
											 <%=t('user.remember') %></label> &nbsp;
										<% end -%>
										<%= f.submit t('common.text.login'), :class => "btn btn-inverse"  %>
									<%end -%>
		
								<%end%>
							</div>
							
							
						
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">
								Sidebar
							</li>
							<li class="active">
								<a href="#"></a>
							</li>
							<li>
								<a href="#"></a>
							</li>
							<li>
								<a href="#"></a>
							</li>
							<li>
								<a href="#">Link</a>
							</li>
							<li class="nav-header">
								Sidebar
							</li>
							<li>
								<a href="#">Link</a>
							</li>
							<li>
								<a href="#">Link</a>
							</li>
							<li>
								<a href="#">Link</a>
							</li>
							<li>
								<a href="#">Link</a>
							</li>
							<li>
								<a href="#">Link</a>
							</li>
							<li>
								<a href="#">Link</a>
							</li>
							<li class="nav-header">
								Sidebar
							</li>
							<li>
								<a href="#">Link</a>
							</li>
							<li>
								<a href="#">Link</a>
							</li>
							<li>
								<a href="#">Link</a>
							</li>
						</ul>
					</div><!--/.well -->
				</div><!--/span-->
				<div class="span10">
					<% flash.each do |type, msg| -%>
					<div class="row-fluid">
						<a class="close" data-dismiss="alert">×</a>
						<p class="alert alert-<%= bootstrap_notice_mapper(type)%>" >
							<%= msg %>
						</p>
					</div>
					<%end%>
					<% if defined? hero %>
					<div class="hero-unit">
						This is a Global Information Hero
					</div>
					<%end%>
					<div class="row-fluid">
						<%= yield %>
					</div><!--/row-->
				</div><!--/span-->
			</div><!--/row-->
			<hr>
			<footer>
				<p>
					&copy; Company 2012
				</p>
			</footer>
		</div><!--/.fluid-container-->
	</body>
</html>
