= accordion_item item_name do
  - if line_item_groups.empty?
    %p
      - if defined? item_link
        %strong= t("users.text.no_#{item_name}_html", :href => link_to(t("users.text.no_#{item_name}"), item_link ))
      - else
        %strong= t("users.text.no_#{item_name}")
  - else
    = render '/shared/line_item_group/line_item_groups', line_item_groups: line_item_groups
    = paginate line_item_groups, params: { anchor: item_name }
