- if line_item_group && line_item_group.rating
  .Listview-rating
    %span{class: "sprite_#{line_item_group.rating_value}_small" }
%h3
  - if line_item_group.seller == current_user
    = link_to "Dein Auftrag von #{line_item_group.buyer.nickname} vom #{line_item_group.updated_at.strftime('%d.%m.%Y %H:%M')}", line_item_group_path(line_item_group)

  - if line_item_group.buyer == current_user
    = link_to "Deine Bestellung bei #{line_item_group.seller.nickname} vom #{line_item_group.updated_at.strftime('%d.%m.%Y %H:%M')}", line_item_group_path(line_item_group)
%p
  .Listview
    - line_item_group.business_transactions.each do |business_transaction|
      = render '/shared/listview/list_line_item', article: business_transaction.article, business_transaction: business_transaction

  - if line_item_group.seller == current_user
    = link_to 'Auftrag ansehen', line_item_group_path(line_item_group), class: 'Button'

  - if line_item_group.buyer == current_user
    = link_to 'Bestellung ansehen und bezahlen', line_item_group_path(line_item_group), class: 'Button'
  - if line_item_group.buyer == current_user && !line_item_group.rating
    = link_to t('transaction.completed.rate'), line_item_group_new_user_rating_path(line_item_group.seller, line_item_group), class: 'Button'
