<h1>Listing invitations</h1>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th>Relation</th>
  </tr>

<% @invitations.each do |invitation| %>
  <tr>
    <td><%= invitation.name %></td>
    <td><%= invitation.surname %></td>
    <td><%= invitation.email %></td>
    <td><%= invitation.relation %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invitation', new_invitation_path %>
