- selected_payment    = resource.selected_payment
- selected_transport  = resource.selected_payment
- quantity            = resource.quantity_bought
- time                = resource.sold_at

.Content
  .Content-inner
    - if resource.buyer == current_user
      %h1
        = t 'transaction.edit.heading'
      %h2.Article-title
        = link_to "#{resource.article.title}", article_path( resource.article )
      %h3
        = "Gekauft am " + time.strftime("%d.%m.%Y") + " um " + time.strftime("%H:%M")
      %h3
        = t 'transaction.show.transaction_number'
        = resource.id
      %br
      %h2
        = t "transaction.show.payment_title_#{selected_payment}"

      %p
        = t "transaction.show.thank_you"
        = t "transaction.show.thank_you_invoice" if selected_payment == 'invoice'

      %p
        = t 'transaction.notifications.buyer.transaction_id_info', id: resource.id

      = render "bank_transfer_data" if selected_payment == 'bank_transfer'

      = render "paypal_data" if selected_payment == 'paypal'

      %p
        - if selected_payment == 'cash'
          %br
          = t 'transaction.show.further_questions_cash'
        - else
          %br
          = t 'transaction.show.further_questions'

      %p
      %table
        %colgroup
          %col{width: 150}
          %col{width: 300}
        - if resource.article_seller.is_a? PrivateUser
          %tr
            %td
              Nutzername:
            %td
              = link_to resource.article_seller_nickname, profile_user_path( resource.article_seller )
          %tr
            %td
              Name:
            %td
              = resource.article_seller_fullname
          %tr
            %td
              Email:
            %td
              = resource.article_seller_email
        - else
          %tr
            %td
              Nutzername:
            %td
              = link_to "#{resource.article_seller_nickname}", profile_user_path( resource.article_seller )
          %tr
            %td
              Ansprechperson:
            %td
              = resource.article_seller_fullname
          %tr
            %td
              Adresse:
            %td
              = resource.article_seller_address
          %tr
            %td
              Email:
            %td
              = resource.article_seller_email
        - if resource.article_seller_mobile
          %tr
            %td
              Tel. (Mobil):
            %td
              = resource.article_seller_mobile
        - if resource.article_seller_phone
          %tr
            %td
              Tel. (Festnetz):
            %td
              = resource.article_seller_phone
      %br
      %p
        = link_to t("transaction.actions.print_order.buyer"), print_order_buyer_business_transaction_path( resource ), class: 'Btn', target: '_blank', locals: { t: resource }

    - else
      = render 'show_order_data', business_transaction: resource