- selected_payment    = resource.selected_payment
- selected_transport  = resource.selected_payment
- quantity            = resource.quantity_bought
- time                = resource.sold_at

.Content
  - if resource.buyer == current_user
    = render 'article_display'
    %p
      = "Gekauft am " + time.strftime("%d.%m.%Y") + " um " + time.strftime("%H:%M")
    %p
      = t 'transaction.show.transaction_number'
      = resource.id
    %h2
      = t "transaction.show.payment_title_#{selected_payment}"

    %p
      = t "transaction.show.thank_you"
      = t "transaction.show.thank_you_invoice" if selected_payment == 'invoice'

    .payment_data
      = t 'transaction.notifications.buyer.transaction_id_info', id: resource.id

      = render "bank_transfer_data" if selected_payment == 'bank_transfer'

      = render "paypal_data" if selected_payment == 'paypal'

    .further_questions
      - if selected_payment == 'cash'
        = t 'transaction.show.further_questions_cash'
      - else
        = t 'transaction.show.further_questions'

    
      %table
        %colgroup
          %col{width: 150}
          %col{width: 300}
        - if resource.article_seller.is_a? PrivateUser
          %tr
            %th
              Nutzername:
            %td
              = link_to resource.article_seller_nickname, profile_user_path( resource.article_seller )
          %tr
            %th
              Name:
            %td
              = resource.article_seller_fullname
          %tr
            %th
              Email:
            %td
              = resource.article_seller_email
        - else
          %tr
            %th
              Nutzername:
            %td
              = link_to "#{resource.article_seller_nickname}", profile_user_path( resource.article_seller )
          %tr
            %th
              Ansprechperson:
            %td
              = resource.article_seller_fullname
          %tr
            %th
              Adresse:
            %td
              = resource.article_seller_address
          %tr
            %th
              Email:
            %td
              = resource.article_seller_email
        - if resource.article_seller_mobile
          %tr
            %th
              Tel. (Mobil):
            %td
              = resource.article_seller_mobile
        - if resource.article_seller_phone
          %tr
            %th
              Tel. (Festnetz):
            %td
              = resource.article_seller_phone
    %p
      = link_to t("transaction.actions.print_order.buyer"), print_order_buyer_business_transaction_path( resource ), class: 'Button', target: '_blank', locals: { t: resource }

  - else
    = render 'show_order_data', business_transaction: resource