-# Part 2 of the edit action
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
- selected_transport  = params["business_transaction"]["selected_transport"]
- selected_payment    = params["business_transaction"]["selected_payment"]
- quantity            = params["business_transaction"]["quantity_bought"]
- quantity            = (quantity.nil? || quantity.empty?) ? 1 : quantity.to_i
- shipping_address_id = params["business_transaction"]["shipping_address_id"]
- billing_address_id  = params["business_transaction"]["billing_address_id"]

.Content

  = render 'article_display'

  = semantic_form_for resource, html: { class: 'transactions-form js-visual-submit' } do |f|
    = f.inputs do
      = f.hidden_field :selected_transport, value: selected_transport
      = f.hidden_field :selected_payment, value: selected_payment
      = f.hidden_field :quantity_bought, value: quantity
      = f.hidden_field :shipping_address_id, value: shipping_address_id
      = f.hidden_field :billing_address_id, value: billing_address_id



    - if shipping_address_id == billing_address_id
      %h3
        = t 'transaction.edit.addresses'
      %p.address
        = render 'addresses/address', address: Address.find(shipping_address_id)
    - else
      %h3
        Deine Lieferadresse
      %p
        = render 'addresses/address', address: Address.find(shipping_address_id)
      %h3
        Deine Rechnungsadresse
      %p
        = render 'addresses/address', address: Address.find(billing_address_id)


    - if resource.article_seller.is_a?(LegalEntity)
      .about_terms_cancellation
        %h3
          = t 'transaction.edit.seller_data'
        %p
          = resource.article_seller.ngo ? resource.article_seller.nickname : resource.article_seller.fullname

        #about
          %h4
            = t 'transaction.edit.imprint'
          .scrollbox
            = resource.article_seller_about

        #terms
          %h4
            = t 'transaction.edit.terms'
          .scrollbox
            = resource.article_seller_terms
          = link_to 'Drucken', profile_user_path(resource.article_seller, print: 'terms'), class: 'Button', target: '_blank'

        #cancellation
          %h4
            = t 'transaction.edit.cancellation'
          .scrollbox
            = resource.article_seller_cancellation
          = link_to 'Drucken', profile_user_path(resource.article_seller, print: 'cancellation'), class: 'Button', target: '_blank'

          - if resource.article_seller_cancellation_form.exists?
            %br
            = link_to 'Widerrufsformular herunterladen', resource.article_seller_cancellation_form_url, target: '_blank'

        = f.inputs do
          = f.input :tos_accepted

    .message
      %h4
        = t 'transaction.edit.message'
      = f.inputs do
        = f.input :message, label: false, input_html: { rows: 3 }

    .purchase_data
      .article-thumbnail
        - if resource.article.title_image == nil
          %img{:src => image_path('missing.png'), :alt => "missing"}
        - else
          %img{:src => resource.article.title_image_url(:thumb)}
        = link_to truncate( resource.article_title, :length => 20), article_path( resource.article ),:target => '_blank'

      %h3
        = I18n.t 'transaction.edit.purchase_data'

      %table
        %colgroup
          %col{width: 150}
          %col{width: 300}
        = display_selected_payment selected_payment

        = display_selected_transport selected_transport

        = display_transport_provider_for selected_transport

      = display_optional_warning selected_transport, selected_payment

      = link_to( t( 'transaction.edit.sec_warning_link' ), anchor: 'security_warning' )
    .price_data
      %h3

        = I18n.t 'transaction.edit.price_heading'
      %table
        %colgroup
          %col{width: 220}
          %col{width: 300}

        = display_article_link resource.article
        = display_quantity_bought quantity
        = display_price_per_unit
        = display_sales_price quantity

        - if resource.article_seller.is_a? LegalEntity
          = display_net_price quantity
          = display_vat_price quantity

        = display_basic_price

      %small
        - if resource.article_seller.ngo
          = t('transaction.edit.ngo_percent', ngo: resource.article_seller.nickname )
          %br
        - elsif show_fair_percent_for? resource.article
          = t ('transaction.edit.fair_percent'), donation: humanized_money_with_symbol(resource.article_calculated_fair * quantity)
          %br
        - if show_friendly_percent_for? resource.article
          = t('transaction.edit.friendly_percent', percent: resource.article.friendly_percent , ngo: resource.article.friendly_percent_organisation_nickname)

    .transport_data
      %table
        %colgroup
          %col{width: 220}
          %col{width: 300}
        = display_number_of_shipments selected_transport, quantity

        = display_transport_price selected_transport, quantity

        = display_cash_on_delivery_price selected_transport, selected_payment, quantity

    %h2
      = display_total_price selected_transport, selected_payment, quantity
    = f.actions do
      = f.action :submit, label: t('transaction.actions.purchase'), button_html: { class: 'Button'}
      = back_link quantity, selected_transport, selected_payment, shipping_address_id, billing_address_id



    = simple_format t('transaction.edit.long_security_warning'), class: "warning warning--small", id: "security_warning"

    - if ['type1', 'type2'].include?( selected_transport ) && quantity > 1
      %br
      = t('transaction.edit.number_of_shipments_info')
