<h2>t('devise.actions.unlock') </h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit t('devise.actions.unlock') %></div>
<% end %>

<%= render "links" %>