<h2>Resend confirmation instructions</h2>
<%= semantic_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.semantic_errors %>
  <%= f.inputs do %>
    <%= f.input :email, hint:"Enter your email address" %>
  <% end %>
  <%= f.buttons do %>
    <%= f.commit_button :button_html => {:class => "primary", :value => "Resend confirmation instructions"} %>
  <% end %>
<% end %>
<%= render "links" %>