%h1 Statistiken

%hr
= link_to 'Ansicht nach Kategorien', statistics_category_sales_path
%hr

%h2 Allgemein

%table.Statistic-table
  = render "statistic_table_header"

  = statistic_tr "Anzahl Geschäftskunden", @statistics.legal_entities_count
  = statistic_tr "Anzahl Artikel von Geschäftskunden", @statistics.legal_entity_articles_count

  = statistic_tr "Anzahl Privatkunden", @statistics.private_users_count
  = statistic_tr "Anzahl Artikel von Privatkunden", @statistics.private_user_articles_count

  = render "statistic_table_header"

  = statistic_tr "Insgesamt eingestellter Warenwert (ohne Artikelstückzahlen)", @statistics.sum_article_prices
  = statistic_tr "Insgesamt eingestellter Warenwert (mit Artikelstückzahlen)", @statistics.sum_article_prices_with_quantity
  = statistic_tr "Gesamtprovision für FN (ohne Artikelstückzahlen)", @statistics.sum_article_fees
  = statistic_tr "Gesamtprovision für FN (mit Artikelstückzahlen)", @statistics.sum_article_fees_with_quantity
  = statistic_tr "Provision durch als fair eingestufte Artikel (3% Provision, ohne Artikelstückzahlen)", @statistics.sum_fair_article_fees
  = statistic_tr "Provision durch als fair eingestufte Artikel (3% Provision, mit Artikelstückzahlen)", @statistics.sum_fair_article_fees_with_quantity
  = statistic_tr "Provision durch konventionelle Artikel (6% Provision, ohne Artikelstückzahlen)", @statistics.sum_conventional_article_fees
  = statistic_tr "Provision durch konventionelle Artikel (6% Provision, mit Artikelstückzahlen)", @statistics.sum_conventional_article_fees_with_quantity
  = statistic_tr "Gesamtspendenaufkommen (ohne Artikelstückzahlen)", @statistics.sum_donations
  = statistic_tr "Gesamtspendenaufkommen (mit Artikelstückzahlen)", @statistics.sum_donations_with_quantity

  = render "statistic_table_header"

  = statistic_tr "Anteil von als fair eingestuften Artikeln in % im Vergleich zu sonstigen Artikeln (Artikelstückzahlen nicht berücksichtigt)", @statistics.fair_article_percentage
  = statistic_tr "Anteil von als öko eingestuften Artikeln in % im Vergleich zu sonstigen Artikeln (Artikelstückzahlen nicht berücksichtigt)", @statistics.eco_article_percentage

  = render "statistic_table_header"

  = statistic_tr "Verkaufte Artikel (Anzahl ohne Stückzahlen)", @statistics.sold_articles_count
  = statistic_tr "Verkaufte Artikel (Anzahl mit Stückzahlen)", @statistics.sold_articles_count_with_quantity
  = statistic_tr "Wert der verkauften Artikel", @statistics.sum_sold_article_prices
  = statistic_tr "Bisher eingenommene Gebühren", @statistics.sum_sold_article_fees
  = statistic_tr "Bisher eingenommene Spenden (faires Prozent)", @statistics.sum_sold_article_donations


  = render "statistic_table_header"

  = statistic_tr "Letzte Woche verkaufte Artikel (Anzahl ohne Stückzahlen)", @statistics.sold_articles_count_last_week, @statistics.sold_articles_count_growth_rate
  = statistic_tr "Letzte Woche verkaufte Artikel (Anzahl mit Stückzahlen)", @statistics.sold_articles_count_with_quantity_last_week, @statistics.sold_articles_count_with_quantity_growth_rate
  = statistic_tr "Wert der letzte Woche verkauften Artikel", @statistics.sold_article_prices_last_week, @statistics.sold_article_prices_growth_rate
  = statistic_tr "Letzte Woche eingenommene Gebühren", @statistics.sold_article_fees_last_week, @statistics.sold_article_fees_growth_rate
  = statistic_tr "Letzte Woche eingenommene Spenden (faires Prozent)", @statistics.sold_article_donations_last_week, @statistics.sold_article_donations_growth_rate
%p
  %h2 Eingestellte Artikel pro Oberkategorie
  %ul
    - Category.sorted.roots.each do |c|
      %li
        = c.name
        = ":"
        = @statistics.statistics_category_articles (c)

