= f.input_step :title_and_categories, :default_step => true do
  = f.input :title, :tooltip => true, :required => true
  = f.input :categories_and_ancestors, :as => :check_box_tree, :collection => @categories, :prepend_label => true, :required => true
  = f.input :category_proposal,:label => t('auction.categories.proposal.question'), :tooltip => true
= f.input_step :commendation, :tooltip => true do
  = f.input :fair, :as => :plain_check_box, :tooltip => true, :js_toggle => true
  = f.inputs :id => 'fair-input-fields' do
    .subform-part
      = f.input :fair_kind, :as => :plain_radio, :js_toggle => true
      .subform-part
        = f.inputs :id => 'fair_seal-input-fields', :class => "fair_kind" do
          = f.input :fair_seal
        = f.inputs :id => 'fair_trust-input-fields', :class => "fair_kind" do
          = render(:partial => 'auctions/fair_trust_questionnaire_form', :locals => {:auction_form => f})
        = f.inputs :id => 'social_producer-input-fields', :class => "fair_kind" do
          = render(:partial => 'auctions/social_producer_questionnaire_form', :locals => {:auction_form => f})
  = f.input :ecologic, :as => :plain_check_box, :js_toggle => true
  = f.inputs :id => 'ecologic-input-fields' do
    .subform-part
      = f.input :ecologic_seal
  = f.input :small_and_precious, :as => :plain_check_box, :tooltip => true, :js_toggle => true
  = f.inputs :id => 'small_and_precious-input-fields' do
    .subform-part
      = f.input :small_and_precious_eu_small_enterprise, :as => :radio, :tooltip => true
      = f.input :small_and_precious_edition, :tooltip => true
      = f.input :small_and_precious_reason, :tooltip => true
      = f.input :small_and_precious_handmade, :as => :radio, :tooltip => true
= f.input_step :article do
  = f.input :condition, :tooltip => true,:as => :plain_radio, :prepend_label => true, :js_toggle => true
  = f.inputs :id => 'old-input-fields', :class => "condition" do
    = f.input :condition_extra, :required => true
  = f.input :content, :as => :text, :tooltip => true, :required => true, :input_html => {:class => "tinymce"}
  = f.input :color
  = f.input :size
  = f.input :quantity, :tooltip => true
  = f.input :price, :tooltip => true, :input_html => {value: number_with_precision(f.object.price, precision: 2) }, :required => true
  = tinymce
= f.input_step :upload_images do
  - first=true
  - (5-@auction.images.size).times { @auction.images.build }
  = f.semantic_fields_for :images do |image|
    - if image.object.new_record?
      - if first
        = image.input :image , :label => t("formtastic.labels.auction.image")
      - else
        = image.input :image
    - else
      = link_to( image_tag(image.object.image.url(:thumb)), image.object.image.url(:original) )
      - if first
        = image.input :image, :label => t("formtastic.labels.auction.other_image")
      - else
        = image.input :_destroy, :as => :boolean , :label => false
    - first=false
= f.input_step :transport_and_payment do
  = f.inputs :tooltip => t('formtastic.tooltips.auction.transport') do
    = f.input :transport, :as => :check_boxes, :required => true
    = f.input :transport_details
  = f.inputs :tooltip => t('formtastic.tooltips.auction.payment') do
    = f.input :payment, :as => :check_boxes, :required => true
    = f.input :payment_details
= f.input_step :friendly_percent, :tooltip => true do
  .friendly_percent-user-inputs
    = f.input :friendly_percent, :input_html => {:value => number_with_precision(f.object.friendly_percent, precision: 0)}
    = f.input :friendly_percent_organisation, :as => :select
= f.semantic_fields_for :transaction do |transaction|
  = transaction.input :type, :as => :hidden, :input_html => { :value => "PreviewTransaction" }
