= auction_form.semantic_errors :fair_trust_questionnaire
= auction_form.nested_inputs_for :fair_trust_questionnaire, :name => t('form.fill_in_questionnaire'), :tooltip => true do |f|
  %ol.questionnaire
    = f.input_with_explanation :support
    = f.input_with_explanation :transparency
    = f.input_with_explanation :collaboration
    = f.input_with_explanation :minimum_wage
    = f.input_with_explanation :child_labor
    = f.input_with_explanation :sexual_equality
    = f.input_with_explanation :labor_conditions
    = f.input_with_explanation :producer_advancement
    = f.input_with_explanation :awareness_raising
    = f.input_with_explanation :environment_protection
