<%= tinymce_assets %>
<%= semantic_form_for @auction , :html => { :class => "form-horizontal"}, :builder => Fairtastic::FormBuilder do |f|  %>
  <%= f.semantic_errors %>
	<%= f.inputs do %>
		<%= f.input :title, :hint => t('auction.hints.title') %>
	<% end %>
	
	<%= f.inputs :name => t('auction.form.fieldsets.categories') do %>
    <%= render('categories_form') %>
    <%= f.input :category_proposal,:label => t('auction.categories.proposal.question'), :hint => t('auction.categories.proposal.hint') %>
	<% end %>

	<%= f.inputs :name => t('auction.form.fieldsets.commendation'), :hint => t('auction.form.fieldsets.commendation_title_hint') do %>
	  <%= f.input :fair, :as => :plain_check_box, :hint => t('auction.hints.fair')%>
	  <%= f.inputs :id => 'fair-input-fields' do %>
	  
	    <%= f.input :fair_kind, :as => :plain_radio %>
	    
	    <%= f.inputs :id => 'fair_seal-section', :class => "fair_kind" do %>
	      <%= f.input :fair_seal %>
	    <% end %>
	    
	    <%= f.inputs :id => 'fair_trust-section', :class => "fair_kind" do %>
	      <%= render('fair_trust_questionnaire_form', :auction_form => f) %>
      <% end %>
      
      <%= f.inputs :id => 'social_producer-section', :class => "fair_kind" do %>
        <%= render('social_producer_questionnaire_form', :auction_form => f) %>
      <% end %>
	    
	  <% end %>
	  
	  <%= f.input :ecologic, :as => :plain_check_box %>
    <%= f.inputs :id => 'ecologic-input-fields' do %>
      <%= f.input :ecologic_seal %>
    <% end %>
    
    <%= f.input :small_and_precious, :as => :plain_check_box, :hint => t('auction.hints.small_and_precious') %>
    <%= f.inputs :id => 'small_and_precious-input-fields' do %>
      <%= f.input :small_and_precious_edition %>
      <%= f.input :small_and_precious_reason %>
      <%= f.input :small_and_precious_handmade, :as => :radio %>
    <% end %>
  <% end %>
  
  <%= f.inputs :name => t('auction.form.fieldsets.article') do %>
  	<%= f.input :condition, :hint => t('auction.hints.condition') ,:as => :plain_radio, :prepend_label => true%>
  	<%= f.input :content, :as => :text ,:hint =>t('auction.hints.content'), :input_html => {:class => "tinymce"}%>
  	<%= f.input :color %>
  	<%= f.input :size %>
  	<%= f.input :quantity, :hint => t('auction.hints.quantity') %>
  	<%= f.input :price, :hint => t('auction.hints.price'), :input_html => {value: number_with_precision(f.object.price, precision: 2) }, :required => true %>
  	<%= tinymce %>
  <% end %>
  
  <%= f.inputs :name => t('auction.form.fieldsets.transport_and_payment_options') do %>
    <%= f.inputs :hint => t('auction.hints.transport') do %>
      <%= f.input :transport, :as => :check_boxes %>
      <%= f.input :transport_details %>
    <% end %>
    
    <%= f.inputs :hint => t('auction.hints.payment') do %>
      <%= f.input :payment, :as => :check_boxes %>
      <%= f.input :payment_details%>
    <% end %>
  <% end %>

  <%= f.inputs do %>
  	<%= f.input :transaction , :as=> :radio, :collection => [[t('auction.form.transaction.auction') , "auction" , {:disabled => true}], [t('auction.form.transaction.fixed_price') ,"fixed", {:disabled => true}], [t('auction.form.transaction.preview') ,"preview", {:checked => "checked" }]]%>
    <%= f.input :expire , :as => :datetime_select, :order => [ :day, :month, :year ] , :include_blank => false %>
    <div class="input optional control-group" >
      <div class="controls controls-row">
  
        <span class="span1" ><small><%= t('auction.hints.date') %></small></span>
        <span class="span3" >&nbsp;</span>
        <span class="span1" ><small><%= t('auction.hints.time') %></small></span>
      </div>
    </div>
	<% end %>
	
  <%= f.actions do %>
    <%= f.action :submit , :button_html => {:class => "primary"} , :label => t("auction.labels.submit")%>
  <% end %>
<% end %>
