<%= semantic_form_for @auction , :html => { :class => "form-horizontal"}  do |f|  %>
  <h3><% t("auction.form.category") %></h3>
  <div class="well"><%= render 'categories_form' %></div>
  <h3> <% t("auction.form.details") %> </h3>
   <div class="well">
	  <%= f.semantic_errors %>
	  <%= f.inputs do %>
	    <%= f.input :title,   :hint => t('auction.hints.title') %>
	   	<%= f.input :condition, :hint => t('auction.hints.condition') ,:as => :radio%>
	   	<%= f.input :content, :as => :text ,:hint =>t('auction.hints.content'), :input_html => {:class => "tinymce"}%>
	   		<%= tinymce %>
	   	<%= f.input :transaction , :as=> :radio, :collection => {"Auction" => "auction", "Fixed-Price" => "fixed" , "Preview" => "preview"}%>
	   
   		<%= f.input :expire , :as => :datetime_select, :order => [ :day, :month, :year ] , :include_blank => false %>
   		<div class="input optional control-group" >
	   		<div class="controls controls-row">
		   		<span class="span1" ><small>t('auction.hints.date')</small></span>
		   		<span class="span3" >&nbsp;</span>
		   		<span class="span1" ><small>t('auction.hints.time')</small></span>
	   		</div>
		</div>
   		<%= f.input :price , :hint => t('auction.hints.price'), :input_html => {value: number_with_precision(f.object.price, precision: 2) }, 
   			:label =>t('auction.lables.price'), :required => true %>
   		<%= f.input :price_currency, :include_blank => false %>
   		
   		
	  <% end %>
   </div>
  <%= f.actions do %>
    <%= f.action :submit , :button_html => {:class => "primary"} %>
  <% end %>
<% end %>
