<%= semantic_form_for @auction , :html => { :class => "form-horizontal"}  do |f|  %>
  <h3><% t("auction.form.category") %></h3>
  <div class="well"><%= render 'categories_form' %></div>
  <h3> <% t("auction.form.details") %> </h3>
   <div class="well">
	  <%= f.semantic_errors %>
	  <%= f.inputs do %>
	    <%= f.input :title,   :hint => t('auction.hints.title') %>
	   	<%= f.input :condition, :hint => t('auction.hints.condition') ,:as => :radio%>
	   	<%= f.input :content, :as => :text ,:hint =>t('auction.hints.content'), :input_html => {:class => "tinymce"}%>
	   		<%= tinymce %>
   		
   		<%= f.input :price , :hint => t('auction.hints.price'), :input_html => {value: number_with_precision(f.object.price, precision: 2) }, 
   			:label =>t('auction.lables.price'), :required => true %>
   		<%= f.input :price_currency, :include_blank => false %>
   		
   		
	  <% end %>
   </div>
  <%= f.buttons do %>
    <%= f.commit_button :button_html => {:class => "primary"} %>
  <% end %>
<% end %>
