/ Be careful, between case and when should not be a empty line
- if @auction.fair
  - case @auction.fair_kind
  - when "social_producer"
    - if @auction.social_producer_questionnaire
      %h3= t('enumerize.auction.fair_kind.social_producer')
      .border-box.middle-padding
        - for attribute in @auction.social_producer_questionnaire.attributes.keys
          - value = @auction.social_producer_questionnaire.attributes[attribute]
          - if !attribute.to_s.downcase.include? "id"
            - if attribute.to_s.downcase.include? "purposes"
              .border-box.middle-padding
                %ul.unstyled
                  - value.each do |purpose|
                    %li.middle-padding-left
                      %p= t('enumerize.social_producer_questionnaire.'+attribute.to_s+ '.' + purpose)
                      %p
                        %strong= t('auction.show.agree')
            - else
              %h5= t('formtastic.labels.auction.social_producer_questionnaire.' + attribute.to_s)
              %p
                %strong
                  = value ? t('auction.show.agree') : t('auction.show.non_agree')
  - when "fair_trust"
    - if @auction.fair_trust_questionnaire
      %h3= t('enumerize.auction.fair_kind.fair_trust')
      .border-box.middle-padding
        - for attribute in @auction.fair_trust_questionnaire.attributes.keys
          - value = @auction.fair_trust_questionnaire.attributes[attribute]
          - if !attribute.to_s.downcase.include? "id"
            - if attribute.to_s.downcase.include? "explanation"
              %p
                = value.to_s
            - else
              %p= t('formtastic.labels.auction.fair_trust_questionnaire.' + attribute.to_s)
              %p
                %strong
                  = value ? t('auction.show.agree') : t('auction.show.non_agree')
  - when "fair_seal"
    %h3= t('enumerize.auction.fair_kind.fair_seal')
    .border-box.middle-padding
      %p
        %strong= t('enumerize.auction.fair_seal.' + @auction.fair_seal)
- if @auction.ecologic
  %h3= t('formtastic.labels.auction.ecologic')
  .border-box.middle-padding
    %p= t('formtastic.labels.auction.ecologic_seal')
    %p
      %strong= t('enumerize.auction.ecologic_seal.' + @auction.ecologic_seal)
- if @auction.small_and_precious
  %h3= t('formtastic.labels.auction.small_and_precious')
  .border-box.middle-padding
    %p= t('formtastic.labels.auction.small_and_precious_edition')
    %p
      %strong
        = @auction.small_and_precious_edition
    %p= t('formtastic.labels.auction.small_and_precious_reason')
    %p
      %strong
        = @auction.small_and_precious_reason
    %p= t('formtastic.labels.auction.small_and_precious_handmade')
    %p
      %strong
        = @auction.small_and_precious_handmade ? t('auction.show.agree') : t('auction.show.non_agree')
