<!-- Be careful, between case and when should not be a empty line-->
<%if @auction.fair %>
	<%case @auction.fair_kind%>
		<%when "social_producer" %>
			<h3><%=t('enumerize.auction.fair_kind.social_producer')%></h3>
			<div class="border-box middle-padding">
				<% for attribute in @auction.social_producer_questionnaire.attributes.keys %>
					<% value = @auction.social_producer_questionnaire.attributes[attribute] %>
					<%if !attribute.to_s.downcase.include? "id"%>	
						<% if attribute.to_s.downcase.include? "purposes" %>	
							<div class="border-box middle-padding">
							    <ul class="unstyled">
									<% value.each do |purpose|%>
										<li class="middle-padding-left">
											<p><%= t('enumerize.social_producer_questionnaire.'+attribute.to_s+ '.' + purpose) %></p>
											<p><strong><%=t('auction.show.agree')%></strong></p>
										</li>
									<%end%>
								</ul>
							</div>
						<%else%>					
					  		<h5><%= t('formtastic.labels.auction.social_producer_questionnaire.' + attribute.to_s) %></h5>
					  		<p> <strong> <%= value ? t('auction.show.agree') : t('auction.show.non_agree') %> </strong> </p>
						<%end%>
				  	<%end%>
				<% end %>
			</div>
			<%when "fair_trust" %>
				<h3><%=t('enumerize.auction.fair_kind.fair_trust')%></h3>
				<div class="border-box middle-padding">
					<% for attribute in @auction.fair_trust_questionnaire.attributes.keys %>
						<% value = @auction.fair_trust_questionnaire.attributes[attribute] %>
						<%if !attribute.to_s.downcase.include? "id"%>
						  	<% if attribute.to_s.downcase.include? "explanation" %>
						  		<p> <%= value.to_s %></p>
						  	<%else%>				
						  		<p><%= t('formtastic.labels.auction.fair_trust_questionnaire.' + attribute.to_s) %></p>
						  		<p> <strong> <%= value ? t('auction.show.agree') : t('auction.show.non_agree') %> </strong> </p>
						  	<%end%>
					  	<%end%>
					<% end %>
				</div>
			<%when "fair_seal" %>
				<h3><%=t('enumerize.auction.fair_kind.fair_seal')%></h3>
				<div class="border-box middle-padding">
					<p><strong><%=t('enumerize.auction.fair_seal.' + @auction.fair_seal) %></strong></p>
				</div>
		<%end%>
<%end%>

<%if @auction.ecologic %>
	<h3><%=t('formtastic.labels.auction.ecologic')%></h3>
	<div class="border-box middle-padding">
		<p><%= t('formtastic.labels.auction.ecologic_seal') %></p>
		<p><strong><%=t('enumerize.auction.ecologic_seal.' + @auction.ecologic_seal) %></strong></p>
	</div>
<%end%>

<%if @auction.small_and_precious %>
		<h3><%=t('formtastic.labels.auction.small_and_precious')%></h3>
		<div class="border-box middle-padding">
			<p><%= t('formtastic.labels.auction.small_and_precious_edition') %></p>
			<p> <strong> <%= @auction.small_and_precious_edition %> </strong> </p>
			
			<p><%= t('formtastic.labels.auction.small_and_precious_reason') %></p>
			<p> <strong> <%= @auction.small_and_precious_reason %> </strong> </p>
			
			<p><%= t('formtastic.labels.auction.small_and_precious_handmade') %></p>
			<p> <strong> <%= @auction.small_and_precious_handmade ? t('auction.show.agree') : t('auction.show.non_agree') %> </strong> </p>
		</div>
<%end%>
