<%= auction_form.semantic_errors :social_producer_questionnaire %>

<%= auction_form.nested_inputs_for :social_producer_questionnaire, :name => t('form.fill_in_questionnaire'), :tooltip => true do |f| %>
<ul class='questionnaire'>
  <%= f.input_with_purpose :nonprofit_association %>
  
  <%= f.input_with_purpose :social_businesses_muhammad_yunus %>
  
  <%= f.input_with_purpose :social_entrepreneur %>
</ul>
<h4><%= t('formtastic.labels.questionnaire.explanations') %></h4>
<%= tinycms_content "auction-social_producer_questionnaire-explanation" %>
<% end %>
