<div class="row">
	<div class="span3">
		<ul class="thumbnails">
			<li class="span3">
				<% if @title_image%>
					<%= link_to image_tag(@title_image.image.url(:thumb), :size=> "260x180" , :class => "thumbnail"), "#" %>
				<%else%>
					<%= image_tag("http://placehold.it/260x180" ,:size=> "260x180", :class => "thumbnail") %>
				<%end%>
				<%if @auction.seller ==current_user%>
					<% html= glyphicons("icon-cog")%>
					<%= link_to html.html_safe, edit_auction_path , :class => "btn" , :title => t('auction.titles.edit')%>
				<%else%>
					<% html= glyphicons("icon-warning-sign")%>
					<%= link_to html.html_safe, report_auction_path , :class => "btn" , :title => t('auction.actions.report')%>
					<%= render :partial => 'shared/follow' , :locals => { :object => @auction }%>
				<%end%>
			</li>
		</ul>
		<ul class="thumbnails">
			<% @auction.images.each do |image| %>
			<%if (image != @title_image)%>
			<li class="span1">
				<%= link_to image_tag(image.image.url(:mini) ,:size=> "65x45") , auction_path(@auction, :image => image.id) ,:class => "thumbnail"%>
			</li>
			<%end%>
			<%end%>
		</ul>
		<% if @auction.seller == current_user  %>
		<div class = "well">
			<h4><%= t('auction.image.title')%></h4>
			<%= form_for @image, :html => { :multipart => true }  do |f| %>
			<input id="image_image" name="image[image]" type="file" size="1">
			<%= f.hidden_field :auction_id%>
			<%= button_tag(:type => :submit) do %>
			<%= raw glyphicons("icon-plus")%> <%= t('auction.image.upload')%>
			<% end %>
			<% end %>

		</div>
		<% end %>
	</div>
	<div class="span9">

		<div class="well">
			<dl>
				<dt>
					<%= t('auction.labels.price')%>
				</dt>
				<dd>
					<%= humanized_money_with_symbol @auction.price %>
				</dd>
				<dt>
					<%= t 'auction.labels.type'%>
				</dt>
				<dd>
					<%= condition_label @auction%>
				</dd>
				<dt>
					<%= t 'auction.labels.expiration_date'%>
				</dt>
				<dd>
					<%= @auction.expire.strftime("%d.%m.%Y %H:%M") %>
				</dd>
				<dt>
					<%= t('formtastic.labels.auction.payment')%>
				</dt>
				<dd>
					<%= @auction.payment.map(&:text) * ", " %>
				</dd>
			</dl>
		</div>
		<div class="well">
			<%= raw @auction.content%>
		</div>

	</div>
</div>
