<div class="row">
	<div class="span9">
		<div class="well">
			
			<%if @auction.seller == current_user%>
				<% html= glyphicons("icon-cog")%>
				<%= link_to html.html_safe, edit_auction_path , :class => "pull-right" , :title => t('auction.titles.edit')%>
			<%end%>
			
			<h2><%= @auction.title %> </h2>
			<div class="clearfix"></div>
			<div class="row-fluid">
				<div class="span6 ">		
					<div class="in-image-container title-image-wrapper">
						<%= link_to image_tag(@title_image?@title_image.image.url(:thumb):"missing.png" , :class=> "title_image"), "#" %>
						<%= features_label @auction, "in-image-alt"%>
						<%= condition_label @auction, "in-image" %>
					</div>
						<ul class="thumbnails auction-thumbnails">
							<% @thumbnails.each do |image| %>
								<li class="span3">
									<%= link_to image_tag(image.image.url(:mini) , :class=> "thumbnail_image") , auction_path(@auction, :image => image.id )%>
								</li>		
							<%end%>
						</ul>
					
				</div>
				<div class="span3 "> 	
					<p><b><span class="pull-right"><%= humanized_money_with_symbol @auction.price %></span><%= t('formtastic.labels.auction.price')%></b></p>
					
					<% if @auction.size && @auction.size != ""%>		
						<p><span class="pull-right"><%=  @auction.size %></span><%= t('formtastic.labels.auction.size')%></p>
					<% end %>
					
					<% if @auction.quantity && @auction.quantity != ""%>		
						<p><span class="pull-right"><%=  @auction.quantity %></span><%= t('formtastic.labels.auction.quantity')%></p>
					<% end %>
					
					<% if @auction.color && @auction.color != ""%>		
						<p><span class="pull-right"><%= t('enumerize.auction.color.' + @auction.color) %></span><%= t('formtastic.labels.auction.color')%></p>
					<% end %>	
					
					<% if @auction.friendly_percent && @auction.friendly_percent > 0%>	
						<p>
							<b><%= t('auction.show.friendly_percent')%></b><br />
							<strong><%= @auction.friendly_percent.to_s + "%"%></strong> 
							<%=t('auction.show.will_be')%>
							<a><%=t('enumerize.auction.friendly_percent_organisation.'+@auction.friendly_percent_organisation)%></a>
							<%= t('auction.show.contributed')  %>
						</p>
					<%end%>
					
					<p><a class="btn btn-primary btn-fill">	<%= t('common.actions.buy')%></a></p>	
					<%= render :partial => 'shared/collect' , :locals => { :object => @auction }%>	
				</div>
				<div class="span3 dark-gray-well break-word"> 
				 	<strong><%= tinycms_content "auction-side-bar" %></strong>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					
					<!--All Sellers-->
					<div class="box default-step" id="content">
						<div class="box-legend box-legend-without-border">
							<a href="#content">
							<h3><%= t('formtastic.labels.auction.content')%></h3>
							</a>
						</div>
						<div class="box-content padding-clap-box">
							<%= raw @auction.content%>
						</div>
					</div>
					<div class="box" id="payment">		
						<div class="box-legend box-legend-without-border">
							<a href="#payment">
							<h3><%=  t('formtastic.labels.auction.payment')%></h3>
							</a>
						</div>
						<div class="box-content padding-clap-box">
							<strong><%=  t('auction.labels.payment')%>:</strong>
							<p> <%=  @auction.payment.map(&:text) * ", " %></p>
							<div class="border-box middle-padding"> 
								<%= raw @auction.payment_details %>
							</div>
							<br />
							<strong><%=  t('formtastic.labels.auction.transport')%>:</strong>
							<p> <%=  @auction.transport.map(&:text) * ", " %></p>
							<div class="border-box middle-padding"> 
								<%= raw @auction.transport_details %>
							</div>
						</div>
					</div>
					<% if @auction.fair || @auction.ecologic || @auction.small_and_precious %>
						<div class="box" id="honor">		
							<div class="box-legend box-legend-without-border">
								<a href="#honor">
								<h3><%=  t('formtastic.labels.auction.honor')%></h3>
								</a>
							</div>
							<div class="box-content padding-clap-box">
								<%=render 'show_commendation'%>
							</div>
						</div>
					<% end %>
					
					<!--Only legal sellers-->
					<%if @auction.seller.legal_entity %>
						<div class="box" id="terms">		
							<div class="box-legend box-legend-without-border">
								<a href="#terms">
								<h3><%=  t('devise.edit_profile.terms')%></h3>
								</a>
							</div>
							<div class="box-content  padding-clap-box">
								<%= raw @auction.seller.terms %>
							</div>
						</div>
						<div class="box" id="cancellation">		
							<div class="box-legend box-legend-without-border">
								<a href="#cancellation">
								<h3><%=  t('devise.edit_profile.cancellation')%></h3>
								</a>
							</div>
							<div class="box-content  padding-clap-box">
								<%=  raw @auction.seller.cancellation  %>
							</div>
						</div>
						<div class="box" id="about">		
							<div class="box-legend box-legend-without-border">
								<a href="#about">
								<h3><%=  t('devise.edit_profile.about')%></h3>
								</a>
							</div>
							<div class="box-content  padding-clap-box">
								<%=   raw @auction.seller.about  %>
							</div>
						</div>
					<%end%>
					
				</div>
			</div>
		</div>

		<%if @auction.seller != current_user%>
		
			<div class="box" id="report">		
				<div class="box-legend box-legend-without-border">
					<a href="#report">
					<h3><%=t('auction.actions.report')%></h3>
					</a>
				</div>
				<div class="box-content padding-box">
					<div class="element-in-box">
						<%= form_for :report, :url => report_auction_path, :method => :get do |f| %>
							<%=t('auction.notices.report')%>
							<%= f.text_area "melden", :rows => 4,:cols => 40,  :name=>"report", :value => params["report"] %>
							<br />
							<button class="btn btn-primary">
								<%= t('auction.actions.report') %> 
							</button>	
						<% end %>
					</div>
				</div>
			</div>
		<%end%>		
	
	</div>
	<div class="span3">
		
		<%=render :partial=>'/shared/profile_img', :locals=>{:user => @auction.seller} %>	
		<div class="box" id="other_products">
			<div class="box-legend">
				<a href="#other_products"> 
					<h6><%=t('auction.titles.other-products')%> (<%= @seller_products.count%>)</h6>
				</a>
			</div>
			<div class="box-content">
				
				<%= render :partial=>'/shared/list_auctions_small', :locals=>{ :auctions=> @seller_products, :paginate => true, :list_class=>"span4", :anchor=> "other_products"} %>
				
				
			</div>
		</div>
		<div class="box" id="collection">
			<div class="box-legend">
				<a href="#collection"> 
					<h6><%=t('auction.titles.collections')%> (<%= @collections.count%>)</h6>
				</a>
			</div>
			<div class="box-content">
				<% @collections.each do |lib| %>
				<div class="well-column-small-padding">
						<div class="row-fluid">
							<div class="span8">
								<%= link_to lib.name, :controller => "dashboard", :action=>"collection", :id=>lib.user.id, :anchor => "collection_"+lib.id.to_s %>
								<p><%= t('common.text.from') + " " + lib.user.nickname%></p>
							</div>
							<div class="span4">
								<%= link_to image_tag(lib.user.image.url(:thumb)), dashboard_path(:id => lib.user.id) %>
							</div>
						</div>
						</div>
				<%end%>			
				<%= will_paginate @collections,:params => {:anchor => "collection" } %>		 
			</div>
		</div>
		
	</div>
</div>
<!--
<p><%= t('auction.labels.expiration_date')%>
	<%  @auction.expire.strftime("%d.%m.%Y %H:%M") %>
</p>-->
			
					

