<div class="row">
	<div class="span3">
		<ul class="thumbnails">
			<% if @title_image%>
			<li class="span3">
				<%= link_to image_tag(@title_image.image.url(:thumb), :size=> "260x180" , :class => "thumbnail"), "#" %>
			</li>
			<%else%>
			<li class="span3">
				<%= image_tag("http://placehold.it/260x180" ,:size=> "260x180", :class => "thumbnail") %>
			</li>
			<%end%>
		</ul>
		<ul class="thumbnails">
			<% @auction.images.each do |image| %>
			<%if (image != @title_image)%>
			<li class="span1">
				<%= link_to image_tag(image.image.url(:mini) ,:size=> "65x45") , auction_path(@auction, :image => image.id) ,:class => "thumbnail"%>
			</li>
			<%end%>
			<%end%>
		</ul>
		<% if @auction.seller == current_user  %>
		<div class = "well">
			<h4><%= t('auction.image.title')%></h4>
			<%= form_for @image, :html => { :multipart => true }  do |f| %>
			<%= f.file_field :image %>
			<%= f.hidden_field :auction_id%>
				<%= button_tag(:type => :submit) do %>
			 		<%= raw glyphicons("icon-plus")%> <%= t('auction.image.upload')%>
			 	<% end %>
			<% end %>
			
		</div>
		<% end %>
	</div>
	<div class="span9">
		
		<div class="well">
			<dl>
				<dt><%= t 'auction.labels.price'%> </dt><dd><%= humanized_money_with_symbol @auction.price %></dd>
				<dt><%= t 'auction.labels.type'%></dt><dd><%= condition_label @auction%></dd>
				<dt><%= t 'auction.labels.expiration_date'%></dt><dd><%= @auction.expire%></dd>
			</dl>
		</div>
		<div class="well">
			<%= raw @auction.content%>
		</div>
		
	</div>
	
