<div class="row">
	<div class="span9">
		<div class="well-column">
			
			<h1><%= @auction.title %> </h1>
			
			<div class="row-fluid">
				<div class="span4 ">
					
						<div class="title-image-wrapper">
						<%= link_to image_tag(@title_image?@title_image.image.url(:thumb):"http://placehold.it/360x260" , :class=> "title_image"), "#" %>
						<%= condition_label @auction, "in-image" %>	
						
							<ul class="thumbnails auction-thumbnails">
								<% @auction.images.each do |image| %>
							<%if (image != @title_image)%>
							<li class="span3">
								<%= link_to image_tag(image.image.url(:mini) ,:size=> "65x45", :class=> "thumbnail_image") , auction_path(@auction, :image => image.id )%>
							</li>
							<%end%>
							<%end%>
							</ul>
						</div>
					
				</div>
				<div class="span4 "> 
					
					<p><b><span class="pull-right"><%= humanized_money_with_symbol @auction.price %></span><%= t('formtastic.labels.auction.price')%></b></p>
					<% if @auction.size && @auction.size != ""%>		
					<p><span class="pull-right"><%=  @auction.size %></span><%= t('formtastic.labels.auction.size')%></p>
					<% end %>	
					
					<p><a class="btn btn-primary btn-fill">	<%= t('common.actions.buy')%></a></p>	
						
				</div>
				<div class="span4 "> 
							
				 		Platzhalter
				 	
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<div class="box" id="content">
						
						<div class="box-legend box-legend-without-border">
							<a href="#content">
							<h3><%= t('formtastic.labels.auction.content')%></h3>
							</a>
						</div>
						<div class="box-content padding-box">
							<%= raw @auction.content%>
						</div>
					</div>
					<div class="box" id="payment">
						
						<div class="box-legend box-legend-without-border">
							<a href="#payment">
							<h3><%=  t('formtastic.labels.auction.payment')%></h3>
							</a>
						</div>
						<div class="box-content padding-box">
							<p> <%=  @auction.payment.map(&:text) * ", " %></p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
	</div>
	<div class="span3">
		<%=render :partial=>'/shared/profile_img', :locals=>{:user => @auction.seller} %>	
		<div class="well">
		<%= link_to (raw t('auction.actions.profile') +" "+ glyphicons("icon-chevron-right")) , dashboard_path(:id => @auction.seller.id), :class => "btn"%>
		<%if @auction.seller ==current_user%>
					<% html= glyphicons("icon-cog")%>
					<%= link_to html.html_safe, edit_auction_path , :class => "btn" , :title => t('auction.titles.edit')%>
				<%else%>
					<% html= glyphicons("icon-warning-sign")%>

					
					<%= form_for :report, :url => report_auction_path, :method => :get do |f| %>
						<%= f.text_field "melden", :name=>"report", :value => params["report"] %>
						
						<button class="btn">
							<i  class="icon-warning-sign"></i>
							<%= t('common.actions.report') %> 
						</button>	
						
					<% end %>
					
					<%= render :partial => 'shared/follow' , :locals => { :object => @auction }%>
				<%end%>		
		</div>	
	</div>
</div>

<p><%= t('auction.labels.expiration_date')%>
						<%=  @auction.expire.strftime("%d.%m.%Y %H:%M") %>
					</p>
					
					<% if @auction.seller == current_user  %>
						<div class = "well">
							<h4><%= t('auction.image.title')%></h4>
							<%= form_for @image, :html => { :multipart => true }  do |f| %>
								<input id="image_image" name="image[image]" type="file" size="1">
								<%= f.hidden_field :auction_id%>
									<%= button_tag(:type => :submit) do %>
									<%= raw glyphicons("icon-plus")%> <%= t('auction.image.upload')%>
								<% end %>
							<% end %>
				
						</div>
					<% end %>
