%small
  = t('transaction.notifications.buyer.intro')
%p
  = transaction_mail_greeting @transaction, :buyer
%p
  = simple_format t('transaction.notifications.buyer.buyer_text')
%hr
%p
  = t('common.fn_legal_footer.crowd_funding')
%hr
%p
  %small
    = simple_format t 'transaction.notifications.buyer.security_warning'
%hr

%h4
  = t('transaction.notifications.buyer.order_infos')
%p
  = simple_format order_details @transaction
%p
  = simple_format article_payment_info @transaction, :buyer
%p
  = simple_format t('transaction.notifications.buyer.payment_type') + "#{payment_method_info @transaction, :buyer}"

%hr
%h5
  = t('transaction.edit.seller_data')
%p
  = simple_format show_contact_info_seller( @seller )
%hr
%h5
  = t('transaction.edit.address')
%p
  = simple_format show_buyer_address( @transaction )
- if @transaction.message && !@transaction.message.empty?
  %hr
  %h5
    = t('transaction.notifications.buyer.buyer_message')
  %p
    = simple_format sanitize(@transaction.message)

- if @transaction.article_seller.is_a? LegalEntity
  %hr
  %h5= t('transaction.notifications.buyer.terms')
  = simple_format @seller.terms.html_safe, :sanitize => false
  %hr
  %h5= t('transaction.notifications.buyer.cancellation')
  = simple_format @seller.cancellation.html_safe, :sanitize => false
  %hr
  %h5= t('transaction.notifications.buyer.imprint')
  = simple_format @seller.about.html_safe, :sanitize => false
%hr
= render '/shared/email_footer'