%small
  = t('transaction.notifications.seller.intro')
%p
  = transaction_mail_greeting @transaction, :seller
%p
  = simple_format t('transaction.notifications.seller.seller_text')

- if show_friendly_percent_for? @transaction.article
  %p
    = t('transaction.notifications.seller.seller_text_fp')
%p
  = t('transaction.notifications.seller.your_team')

- if @transaction.message
  %hr
  %h5= t('transaction.notifications.seller.buyer_message')
  %p= simple_format @transaction.message
%hr
%p
  = t('common.fn_legal_footer.crowd_funding')
%hr

%h4= t('transaction.notifications.seller.order_infos')
%p= simple_format order_details @transaction, :seller
%p= simple_format article_payment_info @transaction, :seller

%hr
- if @transaction.selected_transport == 'pickup'
  %p
    = t('transaction.notifications.seller.pickup_info')
- else
  %p
    = t('transaction.notifications.seller.shipping_request')
%p= simple_format show_buyer_address @transaction
%h5= t('transaction.notifications.seller.buyer_email')
%p= @transaction.buyer_email
%h5= t('transaction.notifications.seller.nickname')
%p= @transaction.buyer_nickname
%p= user_url @transaction.buyer

%hr

%h5= t('transaction.notifications.seller.seller_fee_text')
%p= simple_format fees_and_donations @transaction

%hr
- if show_friendly_percent_for? @transaction.article
  - ngo = @transaction.article.friendly_percent_organisation
  - fp = @transaction.article_friendly_percent
  - amount = humanized_money_with_symbol(friendly_percent_with_quantity @transaction)
  %h5= t('transaction.notifications.seller.friendly_percent')
  %p= t('transaction.notifications.seller.fp_intro', ngo: ngo.nickname, percent: fp , amount: amount)
  %p= t('transaction.notifications.seller.fp_donate', ngo: ngo.nickname, month: Time.now.strftime("%B") ,amount: amount  )
  %p= simple_format show_bank_account_or_contact ngo
  %p= t('transaction.notifications.seller.fp_donate_info')
  %p= t('transaction.notifications.seller.fp_merci')
  %hr
= render '/shared/email_footer'
