-#
-#
-# == License:
-# Fairmondo - Fairmondo is an open-source online marketplace.
-# Copyright (C) 2013 Fairmondo eG
-#
-# This file is part of Fairmondo.
-#
-# Fairmondo is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairmondo is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairmondo.  If not, see <http://www.gnu.org/licenses/>.
-#
.User
  - if user.banned?
    %h3.User-title= t('users.deleted.headline')
  - else
    - if (local_assigns.has_key? :show_title) && show_title
      %h3.User-title Anbieter*in
    .User-image
      - if user.is_pioneer?
        %span.sprite_pioneerbutton
      %a{:href => user_path(user), data: { push: true }}
        = image_tag(user.image_url(:profile))
    .User-name
      = link_to user.name, user_path(user), data: { push: true }
    .User-type
      - if user.is_a?(LegalEntity) && !user.ngo
        %span.sprite_briefcase
        = link_to t('users.legal_status.show.legal_entity'), profile_user_path(user), data: { push: true }
      - elsif user.ngo
        %span.sprite_briefcase
        = link_to t('users.legal_status.show.ngo'), profile_user_path(user), data: { push: true }
      - else
        %span.sprite_user
        = t('users.legal_status.show.private_user')
    - if user.vacationing?
      .User-vacation
        = t 'users.states.vacationing'

    = render '/users/ratings', user: user
