-#
-# Farinopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Farinopoly.
-#
-# Farinopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Farinopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Farinopoly.  If not, see <http://www.gnu.org/licenses/>.
-#

.Meta
  .Meta--block
    %h2= resource.nickname
    - if resource.is_a? LegalEntity
      %h3= resource.title + " " + resource.forename + " " + resource.surname
      %p
        = t('formtastic.labels.user.street')
        \:
        %strong= resource.street
      %p
        = t('formtastic.labels.user.city')
        \:
        %strong= resource.zip + " " + resource.city
      %p
        = t('formtastic.labels.user.country')
        \:
        %strong= resource.country
      %p
        = t('formtastic.labels.user.mail')
        \:
        %strong
          %a{:href => "mailto:#{resource.email}"}= resource.email
      %p
        = t('formtastic.labels.user.fax')
        \:
        %strong= resource.fax
      %p
        = t('formtastic.labels.user.phone')
        \:
        %strong= resource.phone
      %p
        = t('formtastic.labels.user.mobile')
        \:
        %strong= resource.mobile

      .Meta--block
      %p
        %span.Meta--highlight

          = t('formtastic.labels.user.terms')
          \:
        = raw resource.terms

      .Meta--block
        %p
          %span.Meta--highlight
            = t('formtastic.labels.user.cancellation')
            \:
          = raw resource.cancellation

      .Meta--block
        %p
          %span.Meta--highlight
            = t('formtastic.labels.user.about')
            \:
          = raw resource.about
