-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
= render "header"
.Content
  %h1= resource.nickname
  - if resource.valid? && resource.is_a?(LegalEntity)
    %h3
      = "#{t('formtastic.labels.user.contact_person')}:"
    .vcard
      %p.fn
        %a{ :href => "mailto:#{resource.email}" }

          = "#{resource.title} " if resource.title
          = "#{resource.forename} #{resource.surname}" if resource.surname && resource.forename

      %p.adr
        - if resource.address_suffix && resource.street
          %span.street-adress
            = "#{resource.address_suffix}"
            %br
            = "#{resource.street}"
            %br
        - if resource.zip && resource.city
          %span.postal-code
            = resource.zip
          %span.locality
            = resource.city
          %br
          %span.country-name
            = resource.country
    - if resource.email
      %h3
        = "#{t('formtastic.labels.user.email')}:"
      %p
        %a{:href => "mailto:#{resource.email}"}= resource.email

    - if resource.fax
      %h3
        = "#{t('formtastic.labels.user.fax')}:"
      %p
        = resource.fax

    - if resource.phone
      %h3
        = "#{t('formtastic.labels.user.phone')}:"
      %p
        = resource.phone

    - if resource.mobile
      %h3
        = "#{t('formtastic.labels.user.mobile')}:"
      %p
        = resource.mobile

    - if resource.terms
      %h3
        = "#{t('formtastic.labels.user.terms')}:"
      = raw resource.terms

    - if resource.cancellation
      %h3
        = "#{t('formtastic.labels.user.cancellation')}:"
      = raw resource.cancellation

    - if resource.about
      %h3
        = "#{t('formtastic.labels.user.about')}:"
      = raw resource.about
