-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
= render "header"
- if resource.is? current_user
  .User-additional.Accordion.Accordion--containsArticles.Accordion--activated.Accordion--scrollToActive
    = render '/shared/listview/listview_accordion', item_name: 'active', item_link: new_article_path, items: active_articles
    = render '/shared/listview/listview_accordion', item_name: 'inactive', items: inactive_articles
    = render '/shared/listview/listview_accordion', item_name: 'sold', items: sold_business_transactions
    = render '/shared/listview/listview_accordion', item_name: 'bought', items: bought_business_transactions


    = accordion_item "my_article_templates" do
      = link_to t('article_templates.actions.new'), new_article_template_path, class: 'Btn Btn--blue'
      %i.icon-helper{title: "Wenn Du einen neuen Artikel einstellst, kannst Du alle Angaben als Vorlage speichen."}
      = render "article_templates/table", :article_templates => resource.article_templates.includes(:article)
    - if resource.mass_uploads.any?
      = accordion_item "my_mass_uploads" do
        = render "mass_uploads/table"


- else
  .User-articles
    = render '/articles/shared/articles_grid', articles: active_articles
  = paginate active_articles, param_name: "active_articles_page"
