%h1 Listing userevents
%table
  %tr
    %th user
    %th eventType
    %th AppendedObj
    %th
    %th
    %th
  - @userevents.each do |userevent|
    %tr
      %td= userevent.user.email
      %td= userevent.event_type
      %td= userevent.appended_object
      %td= link_to 'Show', userevent
      %td= link_to 'Edit', edit_userevent_path(userevent)
      %td= link_to 'Destroy', userevent, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Userevent', new_userevent_path
