<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @userevent.user.email %>
</p>

<p>
  <b>Kategory:</b>
  <%= @userevent.event_type %>
</p>

<p>
  <b>Content:</b>
  <%= @userevent.appended_object %>
</p>


<%= link_to 'Edit', edit_userevent_path(@userevent) %> |
<%= link_to 'Back', userevents_path %>