%h1 Beta-Funktion: Artikel per CSV-Datei importieren

%p
  Bevor Du dieses Feature nutzt, lies bitte aufmerksam die aktuelle Version der
  %a{ :href => '/csv-upload-documentation.pdf', target: "_blank" } Dokumentation
  und orientiere Dich an der aktuellen Version der
  %a{ :href => '/csv_upload_sample_06.csv', target: "_blank" } Musterdatei.
  Die aktuellen Versionen dieser Dateien tragen die Versionsnummer 0.6.

%p
  Bitte beachte, dass sich die CSV-Upload-Funktion noch im Beta-Stadium befindet, d.h. unter
  Umständen Fehler auftreten können. Wir empfehlen, zunächst testweise nur kleinere
  Artikelmengen einzustellen, und die eingestellten Artikel zu überprüfen.
  Bei Problemen kontaktiere uns einfach unter
  %a{ :href => "kundenservice@fairnopoly.de." } kundenservice@fairnopoly.de.
%p
  Zur Zeit ist die Anzahl der Artikel, die über eine CSV-Datei hochgeladen werden können, auf
  100 pro Datei begrenzt!

- if current_user.is_a?(LegalEntity)
  = semantic_form_for(@mass_upload, url: mass_uploads_path, :builder => Fairtastic::FormBuilder) do |f|
    = f.input_step :upload_csv, :default_step => true do
      = f.inputs do
        .Accordion-step
          = f.input :file, :label => "Datei", :as => :file, :required => true
          / bugbug I offer a beer for someone to explain me why the required
          / statement doesn't work although it shows up and looks correctly when
          / I render the page and look at the html
        = f.actions do
          = f.action :submit, :label => t('mass_upload.labels.upload_article'), :button_html => { :class => "Btn" }
