.Content
  %h1 Artikel per CSV-Datei importieren oder bearbeiten

  %p
    Bevor Du dieses Feature nutzt, lies bitte aufmerksam die
    %b aktuelle Version
    der
    %a{ :href => '/csv_upload_documentation.pdf', target: "_blank" } Dokumentation
    %b (Versionsnummer 1.1)
    und orientiere Dich an der
    %b aktuellen Version
    der
    %a{ :href => '/csv_upload_sample_09.csv', target: "_blank" } Musterdatei.
    %b (Versionsnummer 0.9)
    Die aktuellen Versionen dieser Dateien tragen die.

  %p
    Die Größe einzelner CSV-Dateien ist aktuell auf 20 Megabyte begrenzt.
    Wir empfehlen aber anfänglich mit kleinere Dateien zu arbeiten und erst nach
    erfolgreichem Test größere CSV-Dateien zu nutzen.

  %p
    Bitte beachte, dass sich die CSV-Upload-Funktion noch im Beta-Stadium
    befindet, d.h. unter   Umständen Fehler auftreten können. Wir empfehlen,
    zunächst testweise nur kleinere   Artikelmengen einzustellen, und die
    eingestellten Artikel zu überprüfen. Bei Problemen kontaktiere uns einfach unter
    %a{ :href => "mailto:kundenservice@fairnopoly.de" } kundenservice@fairnopoly.de.
.mass_upload_form
  - if current_user.is_a?(LegalEntity)
    .Accordion.Accordion--activated
      = semantic_form_for(@mass_upload, html: {multipart: true, class: 'js-visual-submit'},
        url: mass_uploads_path, :builder => ::Fairtastic::FormBuilder) do |f|
        = f.input_step :upload_csv, :default_step => true do
          = f.inputs do
            = f.input :file, :label => "Datei", :as => :file, :required => true
            = f.actions do
              = f.action :submit, :label => t('mass_uploads.labels.upload_article'), :button_html => { :class => "Button" }
