%h1 Jetzt neu: Artikel per CSV-Datei importieren oder bearbeiten

%p
  Bevor Du dieses Feature nutzt, lies bitte aufmerksam die
  %b aktuelle Version
  der
  %a{ :href => '/csv_upload_documentation_v08.pdf', target: "_blank" } Dokumentation
  und orientiere Dich an der
  %b aktuellen Version
  der
  %a{ :href => '/csv_upload_sample_07.csv', target: "_blank" } Musterdatei.
  Die aktuellen Versionen dieser Dateien tragen die
  %b Versionsnummer 0.7.

%p
  Bitte beachte, dass sich die CSV-Upload-Funktion noch im Beta-Stadium
  befindet, d.h. unter   Umständen Fehler auftreten können. Wir empfehlen,
  zunächst testweise nur kleinere   Artikelmengen einzustellen, und die
  eingestellten Artikel zu überprüfen. Bei Problemen kontaktiere uns einfach unter
  %a{ :href => "mailto:kundenservice@fairnopoly.de" } kundenservice@fairnopoly.de.
%p
  Die Anzahl der Artikel, die über eine einzelne CSV-Datei hochgeladen
  werden können, wurde auf
  %b 10.000 pro Datei
  erweitert! Beachte jedoch, dass es zu langen Ladezeiten kommen kann, wenn Du
  dieses Limit ausreizt. Wir empfehlen daher anfänglich noch mit kleineren
  Dateien zu arbeiten.
%br

- if current_user.is_a?(LegalEntity)
  = semantic_form_for(@mass_upload, html: {class: 'js-visual-submit'},
    url: mass_uploads_path, :builder => ::Fairtastic::FormBuilder) do |f|
    = f.input_step :upload_csv, :default_step => true do
      = f.inputs do
        .Accordion-step
          = f.input :file, :label => "Datei", :as => :file, :required => true
          / TODO I offer a beer for someone to explain me why the required
          / statement doesn't work although it shows up and looks correctly when
          / I render the page and look at the html
        = f.actions do
          = f.action :submit, :label => t('mass_uploads.labels.upload_article'), :button_html => { :class => "Btn" }
