- if resource.pending?
  = "Pending" #TODO better text
- elsif resource.processing?
  = "Processing"
  %p
    = "Mindestens #{resource.article_count} bearbeitet"
- elsif resource.finished?
  = render 'report'
- elsif resource.failed?
  = resource.failure_reason