%h1
  = t('mass_uploads.titles.upload_report')

- if @mass_upload.articles.empty? && @failed_articles.empty?
  = t('mass_uploads.errors.no_activate_content')
- else
  .Import-detail
    .Accordion--activated.Accordion--scrollToActive
    - unless @created_articles.empty?
      = accordion_item "created" do
        %ul
          - @created_articles.each do |article|
            = render "article_digest", :article => article
    - unless @updated_articles.empty?
      = accordion_item "updated" do
        %ul
          - @updated_articles.each do |article|
            = render "article_digest", :article => article

    - unless @activated_articles.empty?
      = accordion_item "activated" do
        %ul
          - @activated_articles.each do |article|
            = render "article_digest", :article => article

    - unless @deactivated_articles.empty?
      = accordion_item "deactivated" do
        %ul
          - @deactivated_articles.each do |article|
            = render "article_digest", :article => article

    - unless @deleted_articles.empty?
      = accordion_item "deleted" do
        %ul
          - @deleted_articles.each do |article|
            = render "article_digest", :article => article

    - unless @failed_articles.empty?
      = accordion_item "failed", :item_class => "Accordion-item--errors" do
        %ul
          - @failed_articles.each do |article|
            %li
              %h4
                Zeile:
                = article.row_index
              = simple_format(article.validation_errors)
        = link_to "Fehlerhaften Artikel exportieren", mass_upload_path(resource, format: "csv"), :class => "Btn Btn--blue Btn--overwrite"


- unless @mass_activation.empty?
  = render "mass_activation", :articles => @mass_activation
