%h1
  = t('mass_uploads.titles.upload_report')

- if resource.empty?
  = t('mass_uploads.errors.no_activate_content')
- else
  .Import-detail
    .Accordion--activated.Accordion--scrollToActive
      = render "result", :result => @created_articles, :result_name => "created"
      = render "result", :result => @updated_articles, :result_name => "updated"
      = render "result", :result => @activated_articles, :result_name => "activated"
      = render "result", :result => @deactivated_articles, :result_name => "deactivated"
      = render "result", :result => @deleted_articles, :result_name => "deleted"
      - unless @erroneous_articles.empty?
        = accordion_item "failed", :item_class => "Accordion-item--errors" do
          %ul
            - @erroneous_articles.each do |article|
              %li
                %h4
                  Zeile:
                  = article.row_index
                = simple_format(article.validation_errors)
          = paginate @erroneous_articles, param_name: "erroneous_articles_page"
          = link_to "Fehlerhafte Artikel exportieren", mass_upload_path(resource, format: "csv"), :class => "Btn Btn--blue Btn--overwrite"


- unless resource.articles_for_mass_activation.empty?
  = render "mass_activation", :articles => resource.articles_for_mass_activation
