= gray_box "Lieferung ##{number}" do
  .transport_table
    .line
      .heading
        Versand 端ber:
      .value
        = transport[:provider]
    .line
      .heading
        Versandpreis:
      .value
        = money transport[:transport_price]
    .line
      .heading
        Anzahl Sendungen:
      .value
        = transport[:shipments]
    - if transport[:cash_on_delivery]
      .line
        .heading
          Gesamt (ohne Nachnahmegeb端hr):
        .value
          = money transport[:total_without_cash_on_delivery]
      .line
        .heading
          Nachnahmegeb端hr:
        .value
          = money transport[:cash_on_delivery]
    .line
      .heading
        Gesamtwert der Lieferung:
      .value
        = money transport[:total]
  .ArticleListview.ArticleListview--integrated_with_sidebar
    - business_transactions.each do |bt|
      = render layout: 'articles/shared/listitem', locals: { article: bt.article, actions: true } do
        .business_transaction_table
          .line
            .heading
              Menge:
            .value
              = bt.quantity_bought
          .line
            .heading
              Bezahlung 端ber:
            .value
              = t("enumerize.business_transaction.selected_payment.#{bt.selected_payment}")