%p
  %small
    = t('common.fn_legal_footer.intro')
%hr
%p
  = t('common.fn_legal_footer.footer_contact')

%p
  = t('common.fn_legal_footer.registered')
  = t('common.fn_legal_footer.board')
  = t('common.fn_legal_footer.supervisory_board')

%p
  = t('common.brand')
  = t('common.claim')

%p
  = t('common.fn_legal_footer.facebook')
  = t('common.fn_legal_footer.buy_shares')
