%p
  %small
    = t('common.fn_legal_footer.intro')
%hr
%p
  %small
    = simple_format t('common.fn_legal_footer.footer_contact')

%p
  %small
    = t('common.fn_legal_footer.registered')
    %br
    = t('common.fn_legal_footer.board')
    %br
    = t('common.fn_legal_footer.supervisory_board')

%p
  %small
    = t('common.brand')
    %br
    = t('common.claim')

%p
  %small
    = t('common.fn_legal_footer.facebook_html').html_safe
    %br
    = t('common.fn_legal_footer.buy_shares')
