
-case type

-when "report_article" then
  - if user_signed_in?

    = semantic_form_for :feedback, :url => feedbacks_path do |f|
      = t('article.notices.report')
      = f.inputs do
        -# hidden
        = f.input :article_id, :as => :hidden, :input_html => { :value => resource.id }
        = f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }
        = f.input :type, :as => :hidden, :input_html => { :value => type }
        -# user input
        = f.text_area :text, :rows => 4, :cols => 40

      = f.actions do
        = f.action :submit , :label => t('article.actions.report'), :button_html => {:class => "Btn"}

-when "get_help" then
  %h1= t('feedback.title.get_help')
  = semantic_form_for resource, :url => feedbacks_path, :html => {:multipart => true}, :builder => Fairtastic::FormBuilder do |f|
    = f.inputs do
      -# hidden
      - if user_signed_in?
        = f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }
      = f.input :type, :as => :hidden, :input_html => { :value => type }
      -# user-input
      = f.input :from, :required => true
      = f.input :subject, :required => true
      = f.text_area :text, :label => false, :required => true

      = f.input :help_subject, :as => :select, :required => true, :include_blank => true

    = f.actions do
      = f.action :submit , :label => t('feedback.actions.get_help'), :button_html => {:class => "Btn"}

-when "send_feedback"
  %h1= t('feedback.title.send_feedback')
  = semantic_form_for resource, :url => feedbacks_path do |f|
    = f.inputs do
      -# hidden
      - if user_signed_in?
        = f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }
      = f.input :type, :as => :hidden, :input_html => { :value => type }
      -# user-input

      = f.input :subject, :required => true
      = f.text_area :text, :label => false, :required => true
      = f.input :from, :required => false
      = f.input :feedback_subject, :as => :select, :required => true, :include_blank => true

    = f.actions do
      = f.action :submit , :label => t('feedback.actions.send_feedback'), :button_html => {:class => "Btn"}

