<ul class="thumbnails">
	<% auctions.each do |auction| %>
	<li class="<%=list_class%>">
		<div class="well-column-no-padding">
			<%= condition_label auction, "in-image" %>
			
			<% if auction.title_image%>
				<%= link_to image_tag(auction.title_image.image.url(:thumb)), auction %>
			<%else%>
				<%= link_to image_tag("http://placehold.it/104x72" ), auction %>
			<%end%>
		</div>
	</li>
	<%end%>
</ul>
<%if paginate %>
	<% if defined? anchor%>
		<%= will_paginate auctions,:params => {:anchor => anchor } %>
	<%else%>
		<%= will_paginate auctions %>
	<%end%>
<%end%>
