<ul class="thumbnails">
	<% auctions.each do |auction| %>
	<li class="<%=list_class%>">
		<div class="thumbnail">
			
			<div class="in-image-container">
				<% if auction.title_image%>
					<%= link_to image_tag(auction.title_image.image.url(:thumb)), auction %>
				<%else%>
					<%= link_to image_tag("missing.png" ), auction %>
				<%end%>
				<%= features_label auction, "in-image-alt"%>
				<%= condition_label auction, "in-image" %>
			</div>
			<div class="caption">
				<h5><%= link_to truncate(auction.title, :length => 25), auction %></h5>
				<h5><%= humanized_money_with_symbol auction.price %></h5>
			</div>
			
		</div>
	</li>
	<%end%>
</ul>
<%if paginate %>
	<% if defined? anchor%>
		<%= will_paginate auctions,:params => {:anchor => anchor } %>
	<%else%>
		<%= will_paginate auctions %>
	<%end%>
<%end%>
