#profile-img.well.white-well.clear-padding
  .middle-margin
    - if user.is_a?(LegalEntity) && ((user.forename && !user.forename.empty?) || (user.surname && !user.surname.empty?))
      %span.big-name
        = user.forename
        = user.surname
      %br/
      %span.small-name= user.name
    - else
      %span.big-name= user.name
  .border-box.small-margin-side
    %a{:href => user_path(user)}
      = image_tag(user.image.url(:thumb))
  .middle-margin
    - if user.is_a?(LegalEntity)
      %i.icon-briefcase
      %i= t('users.legal_status.show.legal_entity')
    - else
      %i.icon-user
      %i= t('users.legal_status.show.private_user')
