-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
.Filters
  .Filter.js-active-toggle--container
    .Filter-button.js-active-toggle--trigger{data: {clickable: true}}
      Zustand
      %ul.js-active-toggle--target
        %li
          %a{href: articles_path(article_search_form: search_params_merged_with(condition: "new"))}
            - if params[:article_search_form] && params[:article_search_form][:condition] == 'new'
              = image_tag "icheck/radio_active.png"
            - else
              = image_tag "icheck/radio.png"
            neu
        %li
          %a{:href => articles_path(article_search_form: search_params_merged_with(condition: "old"))}
            - if params[:article_search_form] && params[:article_search_form][:condition] == 'old'
              = image_tag "icheck/radio_active.png"
            - else
              = image_tag "icheck/radio.png"
            gebraucht
  .Filter.js-active-toggle--container
    .Filter-button.js-active-toggle--trigger{data: {clickable: true}}
      Filter
      %ul.js-active-toggle--target
        %li
          %a{href: articles_path(article_search_form: search_params_merged_with(fair: "1"))}
            = image_tag 'icheck/checkbox.png'
            fair
        %li
          %a{href: articles_path(article_search_form: search_params_merged_with(ecologic: "1"))}
            = image_tag 'icheck/checkbox.png'
            öko
        %li
          %a{href: articles_path(article_search_form: search_params_merged_with(small_and_precious: "1"))}
            = image_tag 'icheck/checkbox.png'
            klein&edel
  .Filter.js-active-toggle--container
    .Filter-button.js-active-toggle--trigger{data: {clickable: true}}
      Sortierung
      %ul.js-active-toggle--target
        %li
          %a{href: articles_path(article_search_form: search_params_merged_with(order_by: "newest"))}
            = image_tag 'icheck/radio.png'
            Neueste Artikel zuerst
        %li
          %a{href: articles_path(article_search_form: search_params_merged_with(order_by: "cheapest"))}
            = image_tag 'icheck/radio.png'
            Verkaufspreis aufsteigend
        %li
          %a{href: articles_path(article_search_form: search_params_merged_with(order_by: "most_expensive"))}
            = image_tag 'icheck/radio.png'
            Verkaufspreis absteigend
        %li
          %a{href: articles_path(article_search_form: search_params_merged_with(order_by: "new"))}
            = image_tag 'icheck/radio.png'
            Zustand: Neu zuerst
        %li
          %a{href: articles_path(article_search_form: search_params_merged_with(order_by: "old"))}
            = image_tag 'icheck/radio.png'
            Zustand: Gebraucht zuerst
        %li
          %a{href: articles_path(article_search_form: search_params_merged_with(order_by: "fair"))}
            = image_tag 'icheck/radio.png'
            Filter: fair zuerst
        %li
          %a{href: articles_path(article_search_form: search_params_merged_with(order_by: "ecologic"))}
            = image_tag 'icheck/radio.png'
            Filter: öko zuerst
        %li
          %a{href: articles_path(article_search_form: search_params_merged_with(order_by: "small_and_precious"))}
            = image_tag 'icheck/radio.png'
            Filter: klein&edel zuerst
  .Filter-clear
