- title index_title_for @search_cache

- if @search_cache.searched_category
  %h1.CategorySearchBreadcrumb
    = breadcrumbs_for(@search_cache.searched_category).html_safe

- if @articles.empty?
  %h2= t("common.text.no_search_result_text")
- else
  = render partial: '/articles/shared/articles_grid', locals: { articles: @articles }
  = paginate @articles
  - if params[:queue]
    .align-center
      = link_to t("enumerize.exhibit.queue.more_articles"), articles_path
-if @articles.total_count <= 4
  = render "/articles/shared/iframe"
