-#
-# Farinopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Farinopoly.
-#
-# Farinopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Farinopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Farinopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
#search-box-filter.row-fluid
  .span6
    .fairnopoly-well
      = f.inputs do
        = f.input :categories_and_ancestors, :as => :check_box_tree, :collection => Category.roots, :tooltip => false, :label => false
  .span6
    .fairnopoly-well
      = f.inputs do
        = f.input :condition,:as => :plain_radio, :label=> true, :collection => Article.condition.options + [["Egal", ""]] , :required => false, :tooltip => false
        = f.input :fair, :as => :boolean, :tooltip => false
        = f.input :ecologic , :as => :boolean, :tooltip => false
        = f.input :small_and_precious , :as => :boolean, :tooltip => false

