-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
%figure.Article-image
  = link_to image_tag(item.article.title_image_url(:thumb)), article_path(item.article)

.Article-info
  %h3.Articles-title= link_to truncate( item.article_title, :length => 25), article_path( item.article )
  %p.Article-price= humanized_money_with_symbol item.article.price
  = render 'articles/show/vat', :article => item.article
  = render '/articles/show/basic_price', :article => item.article
  - if user_signed_in? && item.buyer == current_user
    %p
    = link_to t('transaction.completed.show_bought'), transaction_path(item)
    - if item.rating
      %p.Rating-icon
        %img{ :src => image_path('thumbs/'+item.rating_value+'.png'), :alt => "thumb" }
    - else
      %p
      = link_to t('transaction.completed.rate'), transaction_new_user_rating_path(item.seller, item)
  - if user_signed_in? && item.seller == current_user
    %p
    = link_to t('transaction.completed.show_sold'), transaction_path(item)
.Article-tags
  = condition_label item.article
  = commendation_labels_for item.article
