- cache [library,library.user,"library_header"] do
  .library-userimage
    = image_tag(library.user.image_url(:profile), :class => "User-profile-image")
  .library-info
    .library-text
      .library-hearts
        %i.fa.fa-heart
        = library.hearts.count
      %span.library-title
        = library.name
      %span.library-user
        = t('common.text.glue.from')
        = library.user_nickname
    .library-thumbnails
      - library.library_elements.first(10).each do |library_element|
        - if library_element.article
          = image_tag(library_element.article.title_image_url(:thumb), :class => "library-thumbnail", :title => library_element.article_title)
