.library-buttons
  = heart_button(library)
.library-userimage
  = image_tag(library.user.image_url(:profile), :class => "User-profile-image")
.library-info
  - cache [library,library.user,"library_header"] do
    .library-text
      %span.library-title
        = link_to library.name, library_path(library)
      %span.library-user
        = link_to user_path(library.user) do
          = t('common.text.glue.from')
          = library.user_nickname
    .library-thumbnails
      - library.library_elements.first(10).each do |library_element|
        - if library_element.article
          = image_tag(library_element.article.title_image_url(:thumb), :class => "library-thumbnail", :title => library_element.article_title)
  - if library.comments.size > 0
    .library-comments
      = render library.comments.order(created_at: :desc).limit(2)
