.Library-buttons
  .socialshareprivacy{data: {uri: library_url(library), title: library.name}}
  = comments_counter(library)
  = heart_button(library)
.Library-userimage
  = image_tag(library.user.image_url(:profile), :class => "User-profile-image")

- cache [library,library.user,"library_header"] do
  .Library-info
    .Library-info-text
      %span.Library-info-text-title
        = link_to library.name, library_path(library)
      %span.Library-info-text-user
        = link_to user_path(library.user) do
          = t('common.text.glue.from')
          = library.user_nickname
    .Library-info-thumbnails
      - library.library_elements.first(10).each do |library_element|
        - if library_element.article
          = image_tag(library_element.article.title_image_url(:thumb), :title => library_element.article_title)
