- if policy(library).update?
  .Library-details-user
    - if library.on_welcome_page?
      %p.Library-details-user-warning<
        Achtung: Diese Sammlung wird im Moment auf unserer Start&shy;seite gefeatured. Wenn Du jetzt Änderungen daran vor&shy;nimmst,
        wird sie auto&shy;matisch von der Start&shy;seite entfernt, bis wir die Sammlung über&shy;prüft und wieder frei&shy;ge&shy;schaltet haben.
    .Library-details-user-actions
      %a.Button.js-library-show-settings
        = t('common.actions.edit')
      - if policy(library).destroy?
        = link_to t('common.actions.destroy') , user_library_path(library.user.id, library.id.to_s) , :class => "Button Button--red" ,:confirm => t('library.delete_confirm', :name => library.name) , :method => :delete
    .Library-details-user-visibility
      - if library.public?
        = t 'library.visibility.public'
      - else
        = t 'library.visibility.private'
    .library-settings.js-library-settings
      = semantic_form_for(library, :url => user_library_path(library.user.id, library.id.to_s)) do |f|
        = f.inputs do
          = f.input :name
          = f.input :public, :label => false
        = f.actions do
          = f.action :submit, :label => :update, :button_html => { class: "Button"}
