$("#libraries_<%= @library.public ? 'public' : 'private' %>").append("<li><i class=\"fa fa-eye<%= '-slash' unless @library.public %> fa-lg\" title=\"<%= @library.public ? 'Öffentliche' : 'Private' %> Sammlung\"></i><a href=\"<%= escape_javascript(user_library_elements_path(user_id: current_user.id, library_element: {article_id: @article_id, library_id: @library.id})) %>\" rel=\"nofollow\" data-method=\"post\">\n<%= @library.name %>\n</a></li>");
$("form#new_library").replaceWith("<%= escape_javascript render '/libraries/library_form', library: Library.new, article_id: @article_id %>");
