-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
%h1.Title-next-to-tab Sammlungen

%ul.Tabs
  = render 'mode_menu_item', text: t('libraries.tabs.trending'), path: libraries_path, selected: (@mode == 'trending'), icon: 'line-chart'
  = render 'mode_menu_item', text: t('libraries.tabs.updated'), path: new_libraries_path, selected: (@mode == 'new'), icon: 'refresh'
  = render 'mode_menu_item', text: t('libraries.tabs.favorites'), path: myfavorite_libraries_path, selected: (@mode == 'myfavorite'), icon: 'heart'
  - if user_signed_in?
    = render 'mode_menu_item', text: t('libraries.tabs.own'), path: user_libraries_path(current_user), selected: (@user != nil), icon: 'user'


.libraries
  - if user_signed_in? and @user and @libraries.length > 5
    %p#library-form-link= link_to t('libraries.create_new'), '#library-form'

  - if !user_signed_in? and @mode == 'myfavorite'
    -# When the user is not signed in and myfavorite is selected, render a message
    %p
      = link_to(t('libraries.sign_in'), new_session_path(:user)) + ', '
      = t('libraries.to_show_favorites') + ' '
      = link_to(t('libraries.sign_up'), new_registration_path(:user)) + '.'
  - else
    - if @libraries.any?
      = render partial: "libraries/library", collection: @libraries
      = paginate @libraries
    - else
      %p= t('libraries.no_library')

-# Form to create a new library at the top of the page
- if @library && policy(@library).create?
  #library-form
    %h3= t('library.new')
    = semantic_form_for(@library, url: user_libraries_path(current_user), namespace: 'new') do |f|
      = f.inputs do
        = f.input :name, required: false, input_html: { autocomplete: 'off' }
        = f.input :public, label: false
      = f.actions do
        = f.action :submit , value: t('library.create'), button_html: { class: 'Button' }
