-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
.Libraries
  - if user_signed_in? && @library && policy(@library).create?
    %h3= t('library.new')
    = semantic_form_for(@library,:url => user_libraries_path(current_user),:html => { :class => "form-vertical"}) do |f|
      = f.inputs do
        = f.input :name
        = f.input :public, :label => false
      = f.actions do
        = f.action :submit , :value => t('library.create'), :button_html => {:class => "Btn"}
  %p
  .Accordion--containsArticles.Accordion--activated.Accordion--scrollToActive
    - @libraries.each do |library|
      - unless library.new_record?
        = accordion_item "library"+library.id.to_s , :title => library.name  do
          %p.Libraries-settings-right
            - if policy(library).update?
              %a.Btn.Library-showsettings
                = t('common.actions.edit')
            - if policy(library).destroy?
              = link_to t('common.actions.destroy') , user_library_path(current_user.id, library.id.to_s) , :class => "Btn Btn--red" ,:confirm => t('library.delete_confirm', :name => library.name) , :method => :delete

          - if policy(library).update? || policy(library).destroy?
            - if library.public?
              %p= t 'library.visibility.public'
            - else
              %p= t 'library.visibility.private'

          - if policy(library).update?
            .Libraries-settings-clear
              = semantic_form_for(library, :url => user_library_path(@user.id,library.id.to_s), :html => {:class => "Library-settings"}) do |f|
                .Accordion-step
                  = f.inputs do
                    = f.input :name
                    = f.input :public, :label => false
                  = f.actions do
                    = f.action :submit, :label => :update, :button_html => {:class => "Btn"}
          - if library.library_elements.empty?
            %p.Libraries-settings-clear= t('library.no_products')
          - else
            .Library-ArticleList.Libraries-settings-clear
              %section.l-ArticleList
                - library_elements = library.library_elements.includes(:article => [:images,:seller]).includes(:library).page(params[:library_page]).per(12)
                - library_elements.each do |library_element|
                  = render "library_element", :library_element => library_element
              = paginate library_elements, :param_name => :library_page, :remote => true, :params => { :controller => "libraries", :action => "show", :id => library.id}
    = paginate @libraries
