%div{id: "library#{resource.id.to_s}"}
  = render "library_header", library: resource
  .socialshareprivacy{data: {uri: library_url(resource), title: resource.name}}
  = render "library_buttons", library: resource
  .Library-elements
    .js-library-ajax
      = render "library", library: resource

-# Admin controls
- if User.is_admin?(current_user) && resource.public?
  .Admin-controls
    %h2 Administration:
    %h3 Sammlung featuren
    = semantic_form_for resource, url: user_library_path(resource.user, resource), html: { id: "select_exhibition_for_library#{resource.id}" } do |f| #, method: :put
      = f.inputs do
        = f.input :exhibition_name, :as => :select, :collection => Library.exhibition_name.options
      = f.actions do
        = f.action :submit, button_html: {class: "Btn", id: "select_exhibition_submit_action"} # this generates the same form id twice on that page, which is annoying

- content_for :view_specific_scripts do
  = javascript_include_tag 'ajax_history'
