-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
%html
  %head
    = stylesheet_link_tag 'email/email'
  %body

    .l-container
      = render 'shared/email/header'
      .l-main
        .l-content-wrapper
          .l-content
            %h3
              = t('common.text.hello')
              = @resource.nickname + ','
            %p= t('devise.confirmation.text')
            %p
              %center
                = link_to t('devise.confirmation.link'), confirmation_url(@resource, :confirmation_token => @token), class: 'Button'
            %p= t('devise.confirmation.email_change_info')
            %p= t('devise.confirmation.ignoremail')
            %p= t('common.fn_footer_greeting')
        .l-sidebar
          = render 'shared/email/social_buttons'
      = render 'shared/email/signature'
      = render 'shared/email/footer'
