%p
  = t('common.text.hello')
  = @resource.email
  \!
%p= t('user.reset.text')
%p= link_to t('user.reset.link') , edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p= t('user.reset.info')
%p= t('user.reset.ignoremail')
%p= t('common.fn_footer_greeting')
%p= t('common.fn_legal_footer')
