<p><%= t('common.text.hello')%> <%= @resource.email %>!</p>

<p><%= t('user.reset.text') %></p>

<p><%= link_to t('user.reset.link') , edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= t('user.reset.info') %></p>

<p><%= t('user.reset.ignoremail') %></p>

<p><%= t('common.fn_footer_greeting')%></p>

<p><%= t('common.fn_legal_footer')%></p>