<p><%= t('common.text.hello')%> <%= @resource.email %>!</p>

<p><%= t('user.confirmation.text')%></p>

<p><%= link_to t('user.confirmation.link'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p><%= t('user.confirmation.ignoremail')%></p>

<p><%= t('common.fn_footer_greeting')%></p>

<p><%= t('common.fn_legal_footer')%></p>