= accordion_item item_name do
  - if line_item_groups.empty?
    %p
      - if defined? item_link
        %strong= t("users.text.no_#{item_name}_html", :href => link_to(t("users.text.no_#{item_name}"), item_link ))
      - else
        %strong= t("users.text.no_#{item_name}")
  - else
    - if current_user.type == 'LegalEntity' && item_name == 'seller_line_item_groups'
      .export.JS-active-toggle--container
        .Button.JS-active-toggle--trigger{data: {clickable: true}}
          Verkäufe exportieren
        .export-entries.JS-active-toggle--target
          %ul
            - export_time_ranges.each do |time_range|
              %li
                = link_to t("articles.export.#{time_range}"), exports_show_path(kind_of_article: item_name, time_range: time_range, format: "csv"), class: 'JS-active-toggle--trigger', data: { clickable: true }
    = render '/line_item_groups/shared/line_item_groups', line_item_groups: line_item_groups
    = paginate line_item_groups, params: { anchor: item_name }
