
<div class="well">
	
	<h3><%=t('ffp.buy')%>:</h3>
	<div class="row">
		<div class="span9">
			<div class="progress progress-success" style="height:50px ;margin-bottom:5px">
				<div class="bar" style="height:100%;width: <%=@persent%>%"></div>
			</div>
			
			<strong><i class="icon-info-sign"></i> <%=@ffp_amount%> Euro have been raised! That is <%=@persent%>% of the aimed 50000Euro.</strong>
		</div>
		<div class="span2">
			<% if @ffps_user < 500 %>
						<p><%= link_to (raw glyphicons("icon-shopping-cart")) + " Buy FFP" , new_ffp_path , :class => "btn btn-large btn-success" %></p>
			<% end %>
		</div>
	</div>
</div>