
= link_to (image_tag "welcome/known_from/taz_logo.jpg", class: "Teaser--smallimage"), root_path
= image_tag "welcome/known_from/sueddeutsche_zeitung_logo.png", class: "Teaser--smallimage"
= image_tag "welcome/known_from/arte_logo.png", class: "Teaser--smallimage"
= image_tag "welcome/known_from/tagesspiegel_logo.gif", class: "Teaser--smallimage"
= image_tag "welcome/known_from/hochschulanzeiger_FAZ_logo.jpg", class: "Teaser--smallimage"
= image_tag "welcome/known_from/deutschlandradio_kultur_funk_logo.jpg", class: "Teaser--smallimage"
-#= image_tag "welcome/known_from/radioBerlin_logo.jpg", class: "Teaser--smallimage"
-#= image_tag "welcome/known_from/basic_thinking_logo.jpeg", class: "Teaser--smallimage"
-#= image_tag "welcome/known_from/netzwertig_logo.jpg", class: "Teaser--smallimage"



-#= image_tag "welcome/known_from/funkhaus_europa_logo.jpg", class: "Teaser--smallimage"
-#= image_tag "welcome/known_from/hamburger_abendblatt_logo.jpg", class: "Teaser--smallimage"

-#= image_tag "welcome/known_from/jetzt_de_logo.jpg", class: "Teaser--smallimage"
-#= image_tag "welcome/known_from/kulturradio_logo.jpg", class: "Teaser--smallimage"



