.Donationpartner
  .l-Inner
    .Donationpartner-element.Donationpartner-element--title
      = "SPENDEN"
      = "PARTNER"
      = "*INNEN"

    .Donationpartner-icons

      - User.sorted_ngo.each do |ngo|
        %a{:href => user_path(ngo)}
          = image_tag(ngo.image_url(:thumb), :class => "User-profile-image User-profile-logobox")

      .Donationpartner-button
        %a{:href => new_feedback_path(:variety => :become_donation_partner), :class => "Btn Btn--blue"}
          = "Spendenpartner*inn werden"
