-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
/ The next line is for providing the proper title image to facebook
- provide( :title_image, image_path('fairnopoly_social_media.png') )
- cache 'category-dropdown-welcome' do
  .category-dropdown
    = render 'categories/shared/category_tree'


-# Article queue 1
.teaser.teaser--double#teaser--first
  .teaser-inner
    %h2
      = link_to(tinycms_content_body_sanitized("heading_features"), featured_library_path(@queue1[:library]))
    - @queue1[:exhibits].each_with_index do |article, index|
      %div{class: 'teaser-queue' + (index == 1 ? ' teaser-queue-before-hidden' : '')}
        = render 'articles/shared/show_article', article: article


-# Teaser with registration link
- cache 'teaser_registration' do
  #teaser_registration
    #teaser_registration-inner
      %p Was uns besonders macht:
      %ul
        %li Die schöns&shy;ten und fairs&shy;ten Pro&shy;dukte im Netz ent&shy;decken
        %li Fördere sozialen &amp; ressourcen&shy;schonend&shy;en Konsum
        %li Mit Käufen &amp; Verkäufen einfach Hilfs&shy;projekte unter&shy;stützen
      %p{style: 'text-align: center;'}
        = link_to new_registration_path(:user), class: 'Button Button--action' do
          Jetzt registr&shy;ieren &amp;
          %br/
          Fairphone gewinnen!


-# Personalized library section, only shown if @last_hearted_libraries is set
- if @last_hearted_libraries && @last_hearted_libraries.length == 2
  - @last_hearted_libraries.each_with_index do |library, index|
    %div.teaser.teaser--double.teaser--hearted_libraries{class: index == 0 ? 'teaser--clear' : 'teaser--collapsible teaser--reducible'}
      .teaser-inner
        %h2
          = link_to(library.name, library_path(library))
          = " #{t('common.text.glue.from')} "
          = link_to(library.user_nickname, user_path(library.user))

        - library.library_elements.includes(article: [:images, :seller]).reverse_order.limit(2).each do |library_element|
          .teaser-queue
            = render 'articles/shared/show_article', article: library_element.article


-# Article queue 3
.teaser.teaser--double.teaser--clear
  .teaser-inner
    %h2
      = link_to(tinycms_content_body_sanitized("heading_features2"), featured_library_path(@queue3[:library]))
    - @queue3[:exhibits].each do |article|
      .teaser-queue
        = render 'articles/shared/show_article', article: article


-# Article queue 'used/old'
.teaser.teaser--double.teaser--collapsible.teaser--reducible
  .teaser-inner
    %h2
      = link_to(tinycms_content_body_sanitized('heading_features3'), featured_library_path(@old[:library]))
    - @old[:exhibits].each do |article|
      .teaser-queue
        = render 'articles/shared/show_article', article: article


-# known from / press information
- cache "known_from" do
  - names = { hochschulanzeiger: 'Hochschulanzeiger',
              taz: 'Taz',
              sueddeutsche: 'Süddeutsche Zeitung',
              arte: 'Arte',
              deutschlandfunk: 'Deutschlandfunk' }
  .teaser.teaser--full.teaser--known_from
    .teaser-inner
      %h5 Bekannt aus
      %ul.image_list
        - names.each do |key, value|
          %li= link_to '', 'http://info.fairnopoly.de/fairnopoly-in-der-presse/',
          class: "sprite_#{key}", title: value, target: '_blank'


-# Trending libraries
- if @trending_libraries.to_a.any?
  .teaser.teaser--full.libraries
    .teaser-inner
      %h2= t('welcome.trending_libraries')
      = render partial: "libraries/library", collection: @trending_libraries, locals: { header_comments: false }


-# USPs
.teaser.teaser--double.teaser--cardslides
  .teaser-inner
    #js-cardslides
      %a{href: '#', class: 'slidesjs-previous slidesjs-navigation'}
        %span.teaser-arrow.teaser-arrow--left.sprite_left_arrow
      %a{href: '#', class: 'slidesjs-next slidesjs-navigation'}
        %span.teaser-arrow.teaser-arrow--right.sprite_right_arrow
      - 8.times do |i|
        = image_tag "slides/cards/#{i}.png"
      %a{href: '#', class: 'slidesjs-next slidesjs-navigation'}
        %i.icon-left_arrow
      %a{href: '#', class: 'slidesjs-previous slidesjs-navigation'}
        %i.icon-right_arrow


-# Article queue 'donation'
.teaser.teaser--double.teaser--collapsible
  .teaser-inner
    %h2
      = link_to('Mit Spendenanteil', featured_library_path(@donation_articles[:library]))
    - @donation_articles[:exhibits].each do |article|
      .teaser-queue
        = render 'articles/shared/show_article', article: article


-# User comment slides
.teaser.teaser--full.teaser--userslides
  .teaser-inner
    #js-userslides
      %a{href: '#', class: 'slidesjs-previous slidesjs-navigation'}
        %span.teaser-arrow.teaser-arrow--left.sprite_left_arrow
      %a{href: '#', class: 'slidesjs-next slidesjs-navigation'}
        %span.teaser-arrow.teaser-arrow--right.sprite_right_arrow

      = render 'welcome/index/user_slide', number: 1,
                             quote: 'Für Veränderungen in der Gesellschaft benötigt es mehr Mut – bei Fairnopoly erleben wir viele junge mutige Menschen. Wir freuen uns auf die Zusammenarbeit mit Fairnopoly, wünschen der Genossenschaft einen erfolgreichen Start, viele Mitglieder und viel Erfolg auf dem Weg zu mehr Transparenz in Onlinehandel und Gesellschaft!',
                             source: 'Jorge Inostroza, Gepa'

      = render 'welcome/index/user_slide', number: 2,
                                   quote: 'Ich bin Genossenschafts-Mitglied bei Fairnopoly, weil es uns Spaß macht, Fairnopoly mitzuentwickeln. Für uns ist Fairnopoly eine super Plattform, um unsere ethisch produzierten Produkte zu vermarkten.',
                                   source: 'Isabelle Dechamps, Be Able'

      = render 'welcome/index/user_slide', number: 3,
                                   quote: 'Bei Fairnopoly finde ich genial, dass die Struktur eine Genossenschaft ist. Das heißt, ich bin Genosse dort, ich kann mitentscheiden, was da passiert – und was mit der Firma passiert.',
                                   source: 'Van Bo Le-Mentzel, Architekt'

      = render 'welcome/index/user_slide', number: 4,
                                   quote: 'Ich bin Genossin bei Fairnopoly, weil ich glaube, dass wir alle bewusster konsumieren sollten. Fairnopoly gibt uns online die Chance dazu – und deswegen bin ich gerne ein Teil davon.',
                                   source: 'Maria Gross, Social Impact Lab'

      = render 'welcome/index/user_slide', number: 5,
                                   quote: 'Ich bin in die Genossenschaft Fairnopoly eingestiegen, weil ich die Idee sehr überzeugend finde. Ich hab\' das Team auch kennengelernt und ich sehe, dass die wirklich mit Enthusiasmus und viel Elan dabei sind. Wir handeln auf Fairnopoly, weil wir darin eine Chance sehen, faire und Bio-Produkte weiter zu verbreiten.',
                                   source: 'Thomas Kappauf, Black Star'


-# Hero teaser
.teaser.teaser--double
  .teaser-inner.teaser--center
    %h2 Aktiv mitwirken
    %p Unterstütze Fairnopoly mit Deinem Einsatz und werde am Erfolg beteiligt.
    %p= link_to 'Held*in werden', 'http://helden.fairnopoly.de/helden/', class: 'Button', target: '_blank'


-# Blog
.teaser.teaser--double.teaser--news
  .teaser-inner.teaser--hide#js-teaser-news-placeholder


-# Social media buttons
.socialshareprivacy{data: {uri: "http://www.fairnopoly.de/", title: "Dreh' das spiel um!"}}


-# NGOs
- cache "ngo_logos" do
  .teaser.teaser--full.teaser--ngos
    .teaser-inner
      %h5= "Spendenpartner*innen"
      %ul.image_list
        - User.ngo_with_profile_image.each do |ngo|
          %li= link_to image_tag(ngo.image_url(:profile)), user_path(ngo), title: ngo.name

