-#
-# Farinopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Farinopoly.
-#
-# Farinopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Farinopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Farinopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
#js-masonry.Masonry
	-#
		.Teaser
			= tinycms_content "test_phase_greeting"
		.Teaser
			= tinycms_content "buy-ffps"
		.Teaser
			= tinycms_content "progress-ffps"
		.Teaser
			= link_to t('devise.links.sign_up'), new_registration_path(:user), :class => "btn btn-success btn-large pull-right"
		.Teaser
			= tinycms_content "please-register"
		.Teaser
			.bar{:style => "height:100%;width: #{@percentage}%"}
		.Teaser
			= link_to t('common.actions.take_part'), new_registration_path(:user), :class => "pull-right"

		.Teaser
			= @articles
			= t("common.text.inserted")

	.Teaser.Teaser--video
		= tinycms_content "start-video"

	.Teaser.Teaser--text.Teaser--welcome
		%h2.Teaser-title.Icon
			%i.icon-interrogation--green
			Willkommen bei Fairnopoly
		%p <strong>dem fairen Online-Markplatz in Hand der Nutzer*innen</strong>
		%p Die Pionierphase ist gestartet! Du hast jetzt die Chance, zu den zu gehören, die hier ihre Artikel anbieten
		%a.Btn.Btn--blue{:href => "#"} werde Pionier*in
	
	.Teaser.Teaser--text
		%h2.Teaser-title.Icon
			%i.icon-pionier--green
			Was is Fairnopoly?
		%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, neque unde quasi mollitia eos. Maxime, blanditiis nam officia a perspiciatis asperiores temporibus animi consequatur sed dolorem rem praesentium iure libero.
		%a.Btn.Btn--blue{:href => "#"}
			%i.icon-index-arrow--draw
			Mehr erfahren

	.Teaser.Teaser--pioneer
		%h2.Teaser-title Pionier des Tages
		
		%figure.Profile
			.Profile-name Felix Weth, Berlin
			%img.Profile-avatar{:src => "assets/dummy/avatar.png", :alt => "Felix Weth"}
		
		%img.Teaser--pioneer-image{:src => "assets/dummy/dummy-245.png", :alt => ""}
		
		-# =image_tag "dummy/dummy-245.png", :class => ""
		
		%p.Teaser--pioneer-1 Kreidetier
		%p.Teaser--pioneer-2 12 €*
		%span.Teaser--pioneer-3 inkl. 19% MwSt
		%span.Teaser--pioneer-4 *Grundpreis 1.29€/Kg
	
	.Teaser.Teaser--total
		%h2.Teaser-title Bis jetzt eingestellte Artikel
		.Teaser--total-number 11.558
