-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
/ The next line is for providing the proper title image to facebook
- provide( :title_image, image_path('fairnopoly_social_media.png') )

.l-Teaser--queues
  .Teaser
    %h2.Teaser-header
      = tinycms_content_body_sanitized("heading_features").upcase
    .Teaser-queues
      - [@queue1, @queue2, @queue3, @queue4].each_with_index do |queue,index|
        .Teaser-queue
          = render "exhibition", articles: queue, layout: :single
          %p.Teaser-more
            = link_to tinycms_content_body_sanitized("heading_queue#{index+1}"), articles_path(:queue => "queue#{index+1}"), :class => "Btn"
.l-Teaser--double.l-Teaser--collapsible.l-Teaser--old
  .Teaser
    %h2.Teaser-header
      GEBRAUCHT BEI FAIRNOPOLY
    = render "exhibition", articles: @old, layout: :double
.l-Teaser--double.l-Teaser--collapsible.l-Teaser--ecologic
  .Teaser
    %h2.Teaser-header
      UNSERE PIONIERE
    = render "exhibition", articles: @pioneer, layout: :double

.l-Teaser--double.l-Teaser--slides
  .Teaser.Teaser--text
    #slides
      - 6.times do |i|
        = image_tag "slides/cards/#{i}.png"
      %a{href: '#', class: 'slidesjs-next slidesjs-navigation'}
        %i.icon-left_arrow
      %a{href: '#', class: 'slidesjs-previous slidesjs-navigation'}
        %i.icon-right_arrow
.l-Teaser--single.l-Teaser--shares
  .Teaser.Teaser--text
    %h2.Teaser-header GEZEICHNETE ANTEILE IM NOVEMBER
    - all_this_year = Sanitize.clean( tinycms_content "bisherige_einlagen" ).strip.to_f || 300000.0
    - reached = Sanitize.clean( tinycms_content "monatsanteile" ).strip.to_f || 50.0
    -# goal = Sanitize.clean( tinycms_content "monatsziel" ).strip.to_f || 750000.0
    -#.Teaser-goal
      -# unless goal == 0
        -#.Teaser-goal--reached{ :style => "width: #{ ((reached / goal) * 100).floor }%; " }
    %strong
      = "Diesen Monat wurden #{money_without_cents(reached)}€ erreicht!"
    %p
      = "Insgesamt wurden Genossenschaftsanteile im Wert von #{money_without_cents( all_this_year + reached)}€ gezeichnet."
    %p
      Als Mitglied gehört Fairnopoly auch Dir!
    %a.Btn{ :href => "/anteile-zeichnen" }
      Mehr erfahren
.l-Teaser--single.l-Teaser--counters
  .Teaser.Teaser--counter.Teaser--text
    %h2.Teaser-header  FAIRNOPOLY WÄCHST!
    %p So viele Artikel wurden bisher eingestellt:
    .Teaser-total.Teaser-total--number= number_with_delimiter(Article.counting.count, delimiter: ".")
    %p So viele Nutzer*innen haben sich bisher registriert:
    .Teaser-total.Teaser-total--user= number_with_delimiter(User.count, delimiter: ".")

.l-Teaser--double.l-Teaser--participate
  .Teaser.Teaser--text
    %h2.Teaser-header AKTIV MITWIRKEN
    %p
      Unterstütze Fairnopoly mit Deinem Einsatz und werde am Erfolg beteiligt.
    %p
      %a{ :href => "http://helden.fairnopoly.de/fnhelden/content/willkommen-im-heldinnencrm", :class => "Btn Btn--blue", :target => "_blank" }
        Held*in werden
.l-Teaser--double.l-Teaser--news
  .Teaser.Teaser-news.Teaser-hide#Teaser-news-placeholder

.Teaser--user-slides
  .Teaser.Teaser--text
    %h2.Teaser-header NUTZER*INNEN STIMMEN
    %a{href: '#', class: 'slidesjs-next slidesjs-navigation'}
      %i.icon-left_arrow
    = image_tag "slides/users/0.jpg"
    %p
      %span.Teaser--fatquote &bdquo;
      %span.Teaser--quote Für Veränderungen in der Gesellschaft benötigt es mehr Mut – bei Fairnopoly erleben wir viele junge mutige Menschen. Wir freuen uns auf die Zusammenarbeit mit Fairnopoly, wünschen der Genossenschaft einen erfolgreichen Start, viele Mitglieder und viel Erfolg auf dem Weg zu mehr Transparenz in Onlinehandel und Gesellschaft!
      %span.Teaser--fatquote &bdquo;
    %a{href: '#', class: 'slidesjs-previous slidesjs-navigation'}
      %i.icon-right_arrow