-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
/ The next line is for providing the proper title image to facebook
- provide( :title_image, image_path('fairnopoly_social_media.png') )
- cache 'category-dropdown-welcome' do
  .category-dropdown
    = render 'categories/shared/category_tree'


-# Article queue 1
.teaser.teaser--double#teaser--first
  .teaser-inner
    %h2
      = link_to(tinycms_content_body_sanitized("heading_features"), featured_library_path(@queue1[:library]))
    - @queue1[:exhibits].each_with_index do |article, index|
      %div{class: 'teaser-queue' + (index == 1 ? ' teaser-queue-before-hidden' : '')}
        = render 'articles/shared/show_article', article: article


-# Bluebox
#bluebox
  #bluebox-container
    #bluebox1
      %h3.bluebox-header Konsequent fair
      .bluebox-inner
        .bluebox-ornament-right
        .bluebox-ornament-left
        .bluebox-content
          .bluebox-text Fairnopoly ist ein neuer Online-Marktplatz mit einem konse&shy;quent fairen Unter&shy;nehmen dahinter.
          .bluebox-link
            %a{href: "/about_us"} Mehr erfahren
    #bluebox2
      %h3.bluebox-header Für alle
      .bluebox-inner
        .bluebox-ornament-right
        .bluebox-ornament-left
        .bluebox-content
          .bluebox-text Privat&shy;personen und gewerb&shy;liche Händler*innen kön&shy;nen hier alles verkaufen.
          .bluebox-link
            %a{href: "/articles/new"} Selbst verkaufen
    #bluebox3
      %h3.bluebox-header Dein Anteil
      .bluebox-inner
        .bluebox-ornament-right
        .bluebox-ornament-left
        .bluebox-content
          .bluebox-text Auch Du kannst in die Genos&shy;sen&shy;schaft ein&shy;steigen oder Dich aktiv ein&shy;bringen:
          .bluebox-link
            %a{href: "http://www.projektzehntausend.de/projektzehntausend/", target: '_blank'} Projekt 10.000


-# Article queue 3
.teaser.teaser--double#teaser--clear-after-bluebox
  .teaser-inner
    %h2
      = link_to(tinycms_content_body_sanitized("heading_features2"), featured_library_path(@queue3[:library]))
    - @queue3[:exhibits].each do |article|
      .teaser-queue
        = render 'articles/shared/show_article', article: article


-# Article queue 'used/old'
.teaser.teaser--double.teaser--collapsible#teaser--used
  .teaser-inner
    %h2
      = link_to('Gebraucht bei Fairnopoly', featured_library_path(@old[:library]))
    - @old[:exhibits].each do |article|
      .teaser-queue
        = render 'articles/shared/show_article', article: article

-# Trending libraries
- trending_libraries = Library.trending_welcome_page
- if trending_libraries.to_a.any?
  .teaser.teaser--full.libraries
    .teaser-inner
      %h2= t('welcome.trending_libraries')
      - trending_libraries.each do |library|
        %details{id: "library#{library.id.to_s}", class: 'Library'}
          %summary
            = render 'libraries/library_header', library: library
          .Library-details
            .socialshareprivacy{data: {uri: library_url(library), title: library.name}}
            = render 'libraries/library_buttons', library: library
            .Library-elements
              = render 'libraries/library', library: library

-# USPs
.teaser.teaser--double.teaser--cardslides
  .teaser-inner
    #js-cardslides
      %a{href: '#', class: 'slidesjs-previous slidesjs-navigation'}
        %span.teaser-arrow.teaser-arrow--left.sprite_left_arrow
      %a{href: '#', class: 'slidesjs-next slidesjs-navigation'}
        %span.teaser-arrow.teaser-arrow--right.sprite_right_arrow
      - 8.times do |i|
        = image_tag "slides/cards/#{i}.png"
      %a{href: '#', class: 'slidesjs-next slidesjs-navigation'}
        %i.icon-left_arrow
      %a{href: '#', class: 'slidesjs-previous slidesjs-navigation'}
        %i.icon-right_arrow


-# Article queue 'donation'
.teaser.teaser--double.teaser--collapsible
  .teaser-inner
    %h2
      = link_to('Mit Spendenanteil', featured_library_path(@donation_articles[:library]))
    - @donation_articles[:exhibits].each do |article|
      .teaser-queue
        = render 'articles/shared/show_article', article: article


-# Hero teaser
.teaser.teaser--double
  .teaser-inner.teaser--center
    %h2 Aktiv mitwirken
    %p
      Unterstütze Fairnopoly mit Deinem Einsatz und werde am Erfolg beteiligt.
    %p
      %a{ href: "http://helden.fairnopoly.de/helden/", class: "Button", target: "_blank" }
        Held*in werden


-# Blog
.teaser.teaser--double.teaser--news
  .teaser-inner.teaser--hide#js-teaser-news-placeholder


-# User comment slides
.teaser.teaser--full.teaser--userslides
  .teaser-inner
    #js-userslides
      %a{href: '#', class: 'slidesjs-previous slidesjs-navigation'}
        %span.teaser-arrow.teaser-arrow--left.sprite_left_arrow
      %a{href: '#', class: 'slidesjs-next slidesjs-navigation'}
        %span.teaser-arrow.teaser-arrow--right.sprite_right_arrow
      #slide1
        = image_tag "slides/users/0.jpg"
        %p.teaser-quotation
          %span.teaser-quote> &bdquo;
          Für Veränderungen in der Gesellschaft benötigt es mehr Mut – bei Fairnopoly erleben wir viele junge mutige Menschen. Wir freuen uns auf die Zusammenarbeit mit Fairnopoly, wünschen der Genossenschaft einen erfolgreichen Start, viele Mitglieder und viel Erfolg auf dem Weg zu mehr Transparenz in Onlinehandel und Gesellschaft!
          %span.teaser-quote> &ldquo;
          .teaser-quotesource JORGE INOSTROZA, GEPA
      #slide2
        = image_tag "slides/users/1.jpg"
        %p.teaser-quotation
          %span.teaser-quote> &bdquo;
          Ich bin Genossenschafts-Mitglied bei Fairnopoly, weil es uns Spaß macht, Fairnopoly mitzuentwickeln. Für uns ist Fairnopoly eine super Plattform, um unsere ethisch produzierten Produkte zu vermarkten.
          %span.teaser-quote> &ldquo;
          .teaser-quotesource ISABELLE DECHAMPS, BE ABLE
      #slide3
        %p.teaser-quotation
          = image_tag "slides/users/2.jpg"
          %span.teaser-quote> &bdquo;
          Bei Fairnopoly finde ich genial, dass die Struktur eine Genossenschaft ist. Das heißt, ich bin Genosse dort, ich kann mitentscheiden, was da passiert - und was mit der Firma passiert.
          %span.teaser-quote> &ldquo;
          .teaser-quotesource VAN BO LE-MENTZEL, ARCHITEKT
      #slide4
        %p.teaser-quotation
          = image_tag "slides/users/3.jpg"
          %span.teaser-quote> &bdquo;
          Ich bin Genossin bei Fairnopoly, weil ich glaube, dass wir alle bewusster konsumieren sollten. Fairnopoly gibt uns online die Chance dazu - und deswegen bin ich gerne ein Teil davon.
          %span.teaser-quote> &ldquo;
          .teaser-quotesource MARIA GROSS, SOCIAL IMPACT LAB
      #slide5
        %p.teaser-quotation
          = image_tag "slides/users/4.jpg"
          %span.teaser-quote> &bdquo;
          Ich bin in die Genossenschaft Fairnopoly eingestiegen, weil ich die Idee sehr überzeugend finde. Ich hab' das Team auch kennengelernt und ich sehe, dass die wirklich mit Enthusiasmus und viel Elan dabei sind. Wir handeln auf Fairnopoly, weil wir darin eine Chance sehen, faire und Bio-Produkte weiter zu verbreiten.
          %span.teaser-quote> &ldquo;
          .teaser-quotesource THOMAS KAPPAUF, BLACK STAR

-# Social media buttons
.socialshareprivacy{data: {uri: "http://www.fairnopoly.de/", title: "Dreh' das spiel um!"}}

-# NGO and press information ("known from")
- cache "ngo_logosand_known_from" do
  = render 'welcome/index/ngos'
  = render 'welcome/index/known_from'
