-#
-# Farinopoly - Fairnopoly is an open-source online marketplace soloution.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Farinopoly.
-#
-# Farinopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Farinopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Farinopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
.row
  .span12
    = tinycms_content "test_phase_greeting"
.row
  .span12
    #youtube
      = tinycms_content "start-video"
.row
  .span6
    .fairnopoly-well
      = tinycms_content "buy-ffps"
  .span6
    = tinycms_content "progress-ffps"
/ row
.row
  .span6
    .fairnopoly-well
      = link_to t('devise.links.sign_up'), new_registration_path(:user), :class => "btn btn-success btn-large pull-right"
      = tinycms_content "please-register"
  .span6
    .progress.progress-success.progress-landing
      .bar{:style => "height:100%;width: #{@percentage}%"}
    %p
      = link_to t('common.actions.take_part'), new_registration_path(:user), :class => "pull-right"
      = @articles
      = t("common.text.inserted")
