-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
#js-masonry.Masonry

  .Teaser.Teaser--image
    = image_tag("/assets/welcome/profil.png")

  .Teaser.Teaser--image
    = image_tag("/assets/welcome/dreamTeam.png")


  - if @featured_article
    .Teaser.Teaser--pioneer
      %h2.Teaser-title Pionier*in des Tages
      %figure.Profile
        .Profile-container
          .Profile-name= @featured_article.profile_name
        = link_to image_tag(@featured_article.seller.image_url(:profile), class: 'Profile-avatar', alt: @featured_article.seller.nickname), user_path(@featured_article.seller)

      = link_to image_tag(@featured_article.title_image_url(:thumb), alt: @featured_article.title), article_path(@featured_article), class: 'Teaser--pioneer-image'

      = link_to @featured_article.title, article_path(@featured_article), class: 'Teaser--pioneer-1' #Kreidetier
      -#%p.Article-price.Teaser--pioneer-2= humanized_money_with_symbol(@featured_article.price) + '*' #12 €*
      -#%span.Teaser--pioneer-3= render 'articles/show/vat' , :article => @featured_article
      -#%span.Teaser--pioneer-3= render '/articles/show/basic_price',  :article => @featured_article
      %a.Btn{:href => "http://info.fairnopoly.de/pionierkalender/"}
        Zum Pionierkalender


  .Teaser.Teaser--text
    %h2.Teaser-title Gezeichnete Anteile im September:
    %p
      .goal-container
        - all_this_year = Sanitize.clean( tinycms_content "bisherige_einlagen" ).strip.to_f || 200000.0
        - reached = Sanitize.clean( tinycms_content "monatsanteile" ).strip.to_f || 50.0
        - goal = Sanitize.clean( tinycms_content "monatsziel" ).strip.to_f || 50000.0
        .goal{ :style => "width: 100%; height: 50px;"}
          - unless goal == 0
            .reached{ :style => "width: #{ ((reached / goal) * 100).floor }%; height: 48px;" }
        %strong
          = "#{money_without_cents(reached)}€ von #{money_without_cents(goal)}€ diesen Monat erreicht!"
        %p
          = "Insgesamt wurden Genossenschaftsanteile im Wert von #{money_without_cents( all_this_year + reached)}€ gezeichnet."
        %p
          %a{ :href => "/anteile-zeichnen" }
            Weitere Informationen zum Anteile zeichnen.

