-#
-# Farinopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Farinopoly.
-#
-# Farinopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Farinopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Farinopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
#js-masonry.Masonry

  .Teaser.Teaser--text.Teaser--welcome
    %h2.Teaser-title.Icon
      %i.icon-pionier--blue
      Willkommen bei Fairnopoly
    %p
      %strong Fairnopoly - Der Online-Marktplatz für alle.
    %p Stelle bis zum 24. September Artikel ein, und wir schenken Dir die Verkaufsprovision für Deine ersten 10 verkauften Artikel.
    %p Am 24. September eröffnen wir dann offiziell den Verkauf!
    = link_to "Jetzt registrieren", new_user_registration_path, class: "Btn Btn--blue"

  - if @featured_article
    .Teaser.Teaser--pioneer
      %h2.Teaser-title Pionier*in des Tages
      %figure.Profile
        .Profile-container
          .Profile-name= @featured_article.profile_name
        = link_to image_tag(@featured_article.seller.image_url(:profile), class: 'Profile-avatar', alt: @featured_article.seller.nickname), user_path(@featured_article.seller)

      = link_to image_tag(@featured_article.title_image_url(:thumb), alt: @featured_article.title), article_path(@featured_article), class: 'Teaser--pioneer-image'

      = link_to @featured_article.title, article_path(@featured_article), class: 'Teaser--pioneer-1' #Kreidetier
      -#%p.Article-price.Teaser--pioneer-2= humanized_money_with_symbol(@featured_article.price) + '*' #12 €*
      -#%span.Teaser--pioneer-3= render 'articles/show/vat' , :article => @featured_article
      -#%span.Teaser--pioneer-3= render '/articles/show/basic_price',  :article => @featured_article
      %a.Btn{:href => "http://info.fairnopoly.de/pionierkalender/"}
        Zum Pionierkalender


  .Teaser.Teaser--total
    %h2.Teaser-title Fairnopoly wächst!
    %p So viele Artikel wurden bisher eingestellt:
    .Teaser--total-number= number_with_delimiter(Article.active.count, delimiter: ".")
    %p So viele Nutzer*innen haben sich bisher registriert:
    .Teaser--total-user= number_with_delimiter(User.count, delimiter: ".")


  .Teaser.Teaser--video
    = tinycms_content "start-video"

  .Teaser.Teaser--text
    %h2.Teaser-title Gezeichnete Anteile im September:
    %p
      .goal-container
        - all_this_year = Sanitize.clean( tinycms_content "bisherige_einlagen" ).strip.to_f || 200000.0
        - reached = Sanitize.clean( tinycms_content "monatsanteile" ).strip.to_f || 50.0
        - goal = Sanitize.clean( tinycms_content "monatsziel" ).strip.to_f || 50000.0
        .goal{ :style => "width: 100%; height: 50px;"}
          - unless goal == 0
            .reached{ :style => "width: #{ ((reached / goal) * 100).floor }%; height: 48px;" }
        %strong
          = "#{money_without_cents(reached)}€ von #{money_without_cents(goal)}€ diesen Monat erreicht!"
        %p
          = "Insgesamt wurden Genossenschaftsanteile im Wert von #{money_without_cents( all_this_year + reached)}€ gezeichnet."
        %p
          %a{ :href => "/anteile-zeichnen" }
            Weitere Informationen zum Anteile zeichnen.

  .Teaser.Teaser--text
    %h2.Teaser-title.Icon
      Was ist Fairnopoly?
    %p Fairnopoly ist ein neuer Online-Marktplatz, der als Genossenschaft seinen Nutzer*innen gehört.
    %p Gewinne werden fair verteilt, Informationen statt Werbung geboten - und das alles transparent und kontrollierbar.
    %p
      Du kannst Dich jetzt
      %a{ :href =>  new_user_registration_path }
        registrieren
      und bereits Artikel einstellen, Sammlungen anlegen und
      %a{:href => "/anteile-zeichnen"}
        Anteile zeichnen.
    %a.Btn.Btn--blue{href: "about_us"}
      Mehr erfahren