<div class="row">
	<div class="span12" >
		<div id="youtube">
			<%= tinycms_content "test_phase_greeting" %>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12" >
		<div id="youtube">
			<%= tinycms_content "start-video" %>
		</div>
	</div>
</div>
<div class="row">
	<div class="span6 ">
		<div class="well">
			<%= tinycms_content "buy-ffps" %>
		</div>
	</div>
	<div class="span6">
		<%= tinycms_content "progress-ffps" %>
	</div>
</div><!-- row -->
<div class="row">
	
	<div class="span6">
		<div class="well">
			<%= link_to t('common.actions.take_part'), new_registration_path(resource_name), :class => "btn btn-success btn-large pull-right" %>
			<%= tinycms_content "please-register" %>
			
				
		</div>
	</div>	
	
			
	
	<div class="span6">
		<div class="progress progress-success progress-landing">
				<div class="bar" style="height:100%;width: <%= @percentage%>%"></div>
		</div>
		<p>
			<%= link_to t('common.actions.take_part'), new_registration_path(resource_name), :class => "pull-right" %>
			<%= @auctions%> <%= t("common.text.inserted")%>
			
		</p>
	</div>
</div>
