-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
/ The next line is for providing the proper title image to facebook
- provide( :title_image, image_path('fairnopoly_social_media.png') )
.Teaser-left
  .Teaser
    = image_tag "welcome/welcome.png", class: "Teaser--welcomeimage"
    .Teaser-welcome
      %p
        bei
        %br
        Fairnopoly
      %p
        dem Online-Marktplatz für alle.
    %p
      Ab sofort kannst Du hier alles kaufen und verkaufen, was Du möchtest.
      %br
      Und das bei einem Marktplatz mit einem
      %a{ :href => "https://www.fairnopoly.de/about_us"}
        konsequent fairen Unternehmen
      dahinter.
    = link_to "Jetzt registrieren", new_user_registration_path, class: "Btn Btn--blue"
  .Teaser
    = image_tag "welcome/top_bar.png", class: "Teaser--topbar"
    %h2.Teaser-header
      UNSERE PIONIERE
    = image_tag "welcome/bottom_bar.png", class: "Teaser--bottombar"
    = render "exhibition", articles: @pioneer


.Teaser-right.Teaser-clear
  .Teaser
    = image_tag "welcome/top_bar.png", class: "Teaser--topbar"
    %h2.Teaser-header
      DREAM TEAM DES TAGES
    = image_tag "welcome/bottom_bar.png", class: "Teaser--bottombar"
    = render "exhibition", articles: @dream_team


  .Teaser
    = image_tag "welcome/top_bar.png", class: "Teaser--topbar"
    %h2.Teaser-header
      GEBRAUCHT BEI FAIRNOPOLY
    = image_tag "welcome/bottom_bar.png", class: "Teaser--bottombar"
    = render "exhibition", articles: @old
  .Teaser.Teaser--single
    %h2.Teaser-header GEZEICHNETE ANTEILE IM OKTOBER
    - all_this_year = Sanitize.clean( tinycms_content "bisherige_einlagen" ).strip.to_f || 300000.0
    - reached = Sanitize.clean( tinycms_content "monatsanteile" ).strip.to_f || 50.0
    - goal = Sanitize.clean( tinycms_content "monatsziel" ).strip.to_f || 750000.0
    .Teaser-goal
      - unless goal == 0
        .Teaser-goal--reached{ :style => "width: #{ ((reached / goal) * 100).floor }%; " }
    %strong
      = "#{money_without_cents(reached)}€ von #{money_without_cents(goal)}€ diesen Monat erreicht!"
    %p
      = "Insgesamt wurden Genossenschaftsanteile im Wert von #{money_without_cents( all_this_year + reached)}€ gezeichnet."
    %p
      %a{ :href => "/anteile-zeichnen" }
        Als Mitglied gehört Fairnopoly auch Dir!

  .Teaser.Teaser-counter.Teaser--single
    %h2.Teaser-header.Teaser-header--nacked  FAIRNOPOLY WÄCHST!
    %p So viele Artikel wurden bisher eingestellt:
    .Teaser--total-number= number_with_delimiter(Article.counting.count, delimiter: ".")
    %p So viele Nutzer*innen haben sich bisher registriert:
    .Teaser--total-user= number_with_delimiter(User.count, delimiter: ".")

.Teaser-left
  .Teaser
    %h2.Teaser-header.Teaser-header--nacked  AKTIV MITWIRKEN
    %p
      Unterstütze Fairnopoly mit Deinem Einsatz und werde am Erfolg beteiligt.
    %p
      %a{ :href => "http://helden.fairnopoly.de/fnhelden/content/willkommen-im-heldinnencrm", :class => "Btn Btn--blue", :target => "_blank" }
        Held*in werden
.Teaser-right.Teaser-last
  .Teaser.Teaser-news.Teaser-hide#Teaser-news-placeholder
