-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
#js-masonry.Masonry

  .Teaser.Teaser--image
    = image_tag("/assets/welcome/profil.png")

  .Teaser.Teaser--image
    = image_tag("/assets/welcome/dreamTeam.png")


  - if @dream_team_article
    .Teaser.Teaser--pioneer
      -#%figure.Profile
      -#  .Profile-container
      -#    .Profile-name= @featured_article.profile_name
      -#  = link_to image_tag(@featured_article.seller.image_url(:profile), class: 'Profile-avatar', alt: @featured_article.seller.nickname), user_path(@featured_article.seller)

      = link_to image_tag(@dream_team_article.title_image_url(:thumb), alt: @dream_team_article.title), article_path(@dream_team_article), class: 'Teaser--pioneer-image'
      = link_to @dream_team_article.title, article_path(@dream_team_article), class: 'Teaser--pioneer-1' #Kreidetier

  - if @dream_team_article2
    .Teaser.Teaser--pioneer
      -#%figure.Profile
      -#  .Profile-container
      -#    .Profile-name= @featured_article2.profile_name
      -#  = link_to image_tag(@featured_article2.seller.image_url(:profile), class: 'Profile-avatar', alt: @featured_article2.seller.nickname), user_path(@featured_article2.seller)

      = link_to image_tag(@dream_team_article2.title_image_url(:thumb), alt: @dream_team_article2.title), article_path(@dream_team_article2), class: 'Teaser--pioneer-image'
      = link_to @dream_team_article2.title, article_path(@dream_team_article2), class: 'Teaser--pioneer-1' #Kreidetier

  .Teaser.Teaser--text
    %h2.Teaser-title Gezeichnete Anteile im September:
    %p
      .goal-container
        - all_this_year = Sanitize.clean( tinycms_content "bisherige_einlagen" ).strip.to_f || 200000.0
        - reached = Sanitize.clean( tinycms_content "monatsanteile" ).strip.to_f || 50.0
        - goal = Sanitize.clean( tinycms_content "monatsziel" ).strip.to_f || 50000.0
        .goal{ :style => "width: 100%; height: 50px;"}
          - unless goal == 0
            .reached{ :style => "width: #{ ((reached / goal) * 100).floor }%; height: 48px;" }
        %strong
          = "#{money_without_cents(reached)}€ von #{money_without_cents(goal)}€ diesen Monat erreicht!"
        %p
          = "Insgesamt wurden Genossenschaftsanteile im Wert von #{money_without_cents( all_this_year + reached)}€ gezeichnet."
        %p
          %a{ :href => "/anteile-zeichnen" }
            Weitere Informationen zum Anteile zeichnen.

  .Teaser.Teaser--image
    = image_tag("/assets/welcome/pionier.png")
  - if @pioneer
    .Teaser.Teaser--pioneer
      = link_to image_tag(@pioneer.image_url(:profile), alt: @pioneer.nickname), user_path(@pioneer), class: 'Teaser--pioneer-image'
  - if @pioneer2
    .Teaser.Teaser--pioneer
      = link_to image_tag(@pioneer2.image_url(:profile), alt: @pioneer2.nickname), user_path(@pioneer2), class: 'Teaser--pioneer-image'


