-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
/ The next line is for providing the proper title image to facebook
- provide( :title_image, image_path('fairnopoly_social_media.png') )

.teaser.teaser--double
  .teaser-inner
    %h2
      = tinycms_content_body_sanitized("heading_features").upcase
    - [@queue1, @queue2].each_with_index do |queue,index|
      .teaser-queue
        - queue.each do |article|
          = render "/articles/shared/show_article", article: article
        = link_to tinycms_content_body_sanitized("heading_queue#{index+1}"), articles_path(:queue => "queue#{index+1}"), :class => "Button"

.teaser.teaser--collapsible.teaser--center
  .teaser-inner
    = tinycms_content 'cfk_box'

.teaser.teaser--full.teaser--userslides
  .teaser-inner
    #js-userslides
      %a{href: '#', class: 'slidesjs-previous slidesjs-navigation'}
        %span.teaser-arrow.teaser-arrow--left.sprite_left_arrow
      %a{href: '#', class: 'slidesjs-next slidesjs-navigation'}
        %span.teaser-arrow.teaser-arrow--right.sprite_right_arrow
      #slide1
        = image_tag "slides/users/0.jpg"
        %p.teaser-quotation
          %span.teaser-quote> &bdquo;
          Für Veränderungen in der Gesellschaft benötigt es mehr Mut – bei Fairnopoly erleben wir viele junge mutige Menschen. Wir freuen uns auf die Zusammenarbeit mit Fairnopoly, wünschen der Genossenschaft einen erfolgreichen Start, viele Mitglieder und viel Erfolg auf dem Weg zu mehr Transparenz in Onlinehandel und Gesellschaft!
          %span.teaser-quote> &ldquo;
          .teaser-quotesource JORGE INOSTROZA, GEPA
      #slide2
        = image_tag "slides/users/1.jpg"
        %p.teaser-quotation
          %span.teaser-quote> &bdquo;
          Ich bin Genossenschafts-Mitglied bei Fairnopoly, weil es uns Spaß macht, Fairnopoly mitzuentwickeln. Für uns ist Fairnopoly eine super Plattform, um unsere ethisch produzierten Produkte zu vermarkten.
          %span.teaser-quote> &ldquo;
          .teaser-quotesource ISABELLE DECHAMPS, BE ABLE
      #slide3
        %p.teaser-quotation
          = image_tag "slides/users/2.jpg"
          %span.teaser-quote> &bdquo;
          Bei Fairnopoly finde ich genial, dass die Struktur eine Genossenschaft ist. Das heißt, ich bin Genosse dort, ich kann mitentscheiden, was da passiert - und was mit der Firma passiert.
          %span.teaser-quote> &ldquo;
          .teaser-quotesource VAN BO LE-MENTZEL, ARCHITEKT
      #slide4
        %p.teaser-quotation
          = image_tag "slides/users/3.jpg"
          %span.teaser-quote> &bdquo;
          Ich bin Genossin bei Fairnopoly, weil ich glaube, dass wir alle bewusster konsumieren sollten. Fairnopoly gibt uns online die Chance dazu - und deswegen bin ich gerne ein Teil davon.
          %span.teaser-quote> &ldquo;
          .teaser-quotesource MARIA GROSS, SOCIAL IMPACT LAB
      #slide5
        %p.teaser-quotation
          = image_tag "slides/users/4.jpg"
          %span.teaser-quote> &bdquo;
          Ich bin in die Genossenschaft Fairnopoly eingestiegen, weil ich die Idee sehr überzeugend finde. Ich hab' das Team auch kennengelernt und ich sehe, dass die wirklich mit Enthusiasmus und viel Elan dabei sind. Wir handeln auf Fairnopoly, weil wir darin eine Chance sehen, faire und Bio-Produkte weiter zu verbreiten.
          %span.teaser-quote> &ldquo;
          .teaser-quotesource THOMAS KAPPAUF, BLACK STAR

.teaser.teaser--double
  .teaser-inner
    %h2
      GEBRAUCHT BEI FAIRNOPOLY
    - @old.each do |article|
      .teaser-queue
        = render "/articles/shared/show_article", article: article


.teaser.teaser--double.teaser--collapsible
  .teaser-inner
    %h2
      MIT SPENDENANTEIL
    - @donation_articles.each do |article|
      .teaser-queue
        = render "/articles/shared/show_article", article: article


.teaser.teaser--double.teaser--cardslides
  .teaser-inner
    #js-cardslides
      %a{href: '#', class: 'slidesjs-previous slidesjs-navigation'}
        %span.teaser-arrow.teaser-arrow--left.sprite_left_arrow
      %a{href: '#', class: 'slidesjs-next slidesjs-navigation'}
        %span.teaser-arrow.teaser-arrow--right.sprite_right_arrow
      - 8.times do |i|
        = image_tag "slides/cards/#{i}.png"
      %a{href: '#', class: 'slidesjs-next slidesjs-navigation'}
        %i.icon-left_arrow
      %a{href: '#', class: 'slidesjs-previous slidesjs-navigation'}
        %i.icon-right_arrow

.teaser.teaser--double.teaser--collapsible
  .teaser-inner
    %h2
      = tinycms_content_body_sanitized("heading_features2").upcase
    - [@queue3, @queue4].each_with_index do |queue,index|
      .teaser-queue
        - queue.each do |article|
          = render "/articles/shared/show_article", article: article
          = link_to tinycms_content_body_sanitized("heading_queue#{index+3}"), articles_path(:queue => "queue#{index+3}"), :class => "Button"

.teaser.teaser--double
  .teaser-inner.teaser--center
    %h2 AKTIV MITWIRKEN
    %p
      Unterstütze Fairnopoly mit Deinem Einsatz und werde am Erfolg beteiligt.
    %p
      %a{ :href => "http://helden.fairnopoly.de/fnhelden/content/willkommen-im-heldinnencrm", :class => "Button", :target => "_blank" }
        Held*in werden
.teaser.teaser--double.teaser--news
  .teaser-inner.teaser--hide#js-teaser-news-placeholder


- cache "ngo_logosand_known_from" do
  = render "welcome/index/ngos"
  = render "welcome/index/known_from"
