-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#

%h3= t('common.text.hello') +" "+ @user.nickname + ","

%p= t('users.terms_new_info')

= semantic_form_for(:reconfirm_terms, :url =>  welcome_reconfirm_terms_path, :builder => Fairtastic::FormBuilder) do |f|
  -#= f.semantic_errors
  .User-registration
    .User-registration-checkbox
      = f.inputs do
        -# onclick javascript because icheck causes click on link to fail
        - legal_link = link_to t('users.legal_new'), "/agb", :target => "_blank", onclick: on_click_open_link_in_label('/agb')
        - privacy_link = link_to t('users.privacy'), "/privacy", :target => "_blank", onclick: on_click_open_link_in_label('/privacy')

        = f.input :legal,  :as => :boolean,:required => true , :label => t("common.text.i_accept_the").html_safe + legal_link
        = f.input :privacy, :as => :boolean,:required => true , :label => t("common.text.i_accept_the").html_safe + privacy_link

        %p= t('users.activate_all_articles')
        %br
        = f.input :activate_to_buy, :label => false ,:as => :radio, :required => true, :collection => [[t('article.activate_to_buy'),"activate",:checked=> true], [t('article.not_activate_to_buy'),"not_activate"]]

        .User-additional.Accordion--containsArticles.Accordion--activated
          = render partial: '/users/article_box', locals: {item_name: 'active_old', sub_articles: @active_old_articles}

      = f.actions do
        = f.action :submit, :button_html => {:class => "Btn", :id => "sign_up"}, :label => "ok"
