<p>
	
  <h1><%= @auction.title %></h1>
  <%= link_to image_tag(@auction.imagePath), @auction %>
  <br/>
  <%= @auction.content %>
</p>

<%= link_to t('common.actions.edit'), edit_auction_path(@auction) %> |
<%= link_to t('common.actions.back'), auctions_path %>
