-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#

.Rating
  .Rating-left
    = render 'shared/profile_img', user: @user
  .Rating-middle
    - @ratings.each do |rating|
      .Rating-show
        .Rating-icon
          %img{ :src => image_path('thumbs/'+rating.value+'.png'), :alt => "thumb" }
        .Rating-user
          %a{:href => user_path(rating.rating_user)}
            = image_tag(rating.rating_user.image_url(:profile), :class => "Rating-user-image")
        %p.Rating-text
          %a{:href => user_path(rating.rating_user)}
            = rating.rating_user.nickname
          = " schrieb am " + rating.created_at.strftime("%d.%m.%Y") + ":"
        %p.Rating-text
          %q
            = rating.text
    = paginate @ratings
