-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#

.user
  = render '/users/profile_img', user: @user
.ratings
  - if @ratings.any?
    - @ratings.each do |rating|
      .rating
        .image
          %span{class: "sprite_#{rating.value}" }
        .quote
          - if rating.text.empty?
            %p
              %a{:href => user_path(rating.rating_user)}
                = rating.rating_user.nickname
              = " am #{l rating.created_at, format: :short}"
          - else
            %p
              %a{:href => user_path(rating.rating_user)}
                = rating.rating_user.nickname
              = " schrieb am #{l rating.created_at, format: :short}:"
            %p
              %q
                = rating.text
        .profile
          %a{:href => user_path(rating.rating_user)}
            = image_tag(rating.rating_user.image_url(:profile))
    = paginate @ratings
  - else # if no ratings
    .rating= t('users.ratings.no_ratings')
