-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#


.user
  = render '/users/profile_img', user: resource.line_item_group.seller, show_title: true
.rating_form
  .rating_form-inner
    %h3
      = t('rating.create.head')
    = semantic_form_for resource, url: user_ratings_path, builder: Fairtastic::FormBuilder do |f|
      = f.inputs do
        = f.input :line_item_group_id, as: :hidden
        = f.semantic_errors :line_item_group_id
        = f.input :rating, as: :plain_radio, wrapper_html: { class: "rating-choice"}, label: false, collection: { content_tag(:span, class: "sprite_positive"){} => "positive", content_tag(:span, class: "sprite_neutral"){} => "neutral",  content_tag(:span, class: "sprite_negative"){} => "negative" }
      = f.inputs do
        = f.input :text, :label => t('rating.create.comment')

      = f.actions do
        = f.action :submit , button_html: {class: "Button" }, label: t('rating.create.save')

