-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
.row
  - if false
    .span4
      - if @invitor
        .span3
          %h3
            = t('dashboard.headers.invitor')
            \:
          .thumbnail{:style => "position: relative;"}
            - if @invitor_image
              = link_to image_tag(@invitor.image.url(:thumb), :style=> "width:260; height:auto;"), dashboard_path(:id => @invitor.id)
            - else
              = link_to image_tag("http://placehold.it/260x180" ,:style=> "width:260; height:auto;"), dashboard_path(:id => @invitor.id)
            .caption
              %h5= @invitor.name
      - else
        .span4
          %h2
            %i.icon-certificate
            %gruender= t('users.founder')
  .span8
    %h3
      = t('dashboard.headers.invited_people')
      \:
    - if @user == current_user
      .span3
        .well
          %p
            %strong
              = t('dashboard.community.new_invitation')
              \:
          %a.btn.btn-large{:href => new_invitation_path}/
      %link/
      = t('dashboard.actions.send_invitation')
.span4
  .well
    %p
      %strong
        = t('dashboard.community.existing_invitation')
        \:
    = render 'user_search'
- if @users.length > 0
  .span8
    = render 'list_user'
- else
  .span8
    = t('dashboard.community.no_invited')
