= tinymce_assets
- url = @tinycms_content.new_record? ? { :action => "create" } : admin_tinycms_content_path(@tinycms_content)
= form_for [:admin, @tinycms_content], :url => url do |f|
  %fieldset.inputs
    %ol
      - if @tinycms_content.new_record?
        %li#tinycms_content_key_input.string.input.optional.stringish
          = f.label :key, "URL um die Seite zu erreichen"
          = f.text_field :key
      %li#tinycms_content_body_input.string.input.optional.stringish
        = f.label :body, "Inhalt"
        = tinycms_field(f, :body)
  %fieldset.actions
    %ol
      %li#tinycms_content_submit_action.action.input_action
        = f.submit
      %li.cancel
        %a{:href => "/admin/tinycms_contents"} Abbrechen
