= semantic_form_for @invitation do |f|
  = f.semantic_errors
  = f.inputs do
    - if @user
      .thumbnail{:style => "position: relative;"}
        - if @image
          = link_to image_tag(@image.url(:thumb), :style=> "width:260; height:auto;"),user_path(:id => @user.id)
        - else
          = link_to image_tag("http://placehold.it/260x180" , :style=> "width:260; height:auto;"),user_path(:id => @user.id)
        .caption
          %h5= @user.name
      = f.input :name,:as => :hidden,:input_html => { :value => @user.name,:readonly => true }
      = f.input :email,:as => :hidden,:input_html => { :value => @user.email,:readonly => true }
    = f.input :relation, :as => :radio, :collection => [[t('invitation.relation.relative'),UserRelation::RELATIVE],         |
      [t('invitation.relation.friend'),UserRelation::FRIEND], [t('invitation.relation.colleague'),UserRelation::COLLEAGUE]] |
    %hr/
    = f.input :trusted_1, :label => t('invitation.conformation.trusted1')
    = f.input :trusted_2, :label => t('invitation.conformation.trusted2')
  = f.actions do
    = f.action :submit , :button_html => {:value => t('invitation.actions.send')}
