<%= semantic_form_for @invitation do |f|  %>

		  <%= f.semantic_errors %>
	
		  <%= f.inputs do %>
	
			<% if @user %>
				<div class="thumbnail" style="position: relative;">
					<% if @image%>
							<%=link_to image_tag(@image.url(:thumb), :style=> "width:260; height:auto;"),dashboard_path(:id => @user.id)  %>
					<%else%>
							<%=link_to image_tag("http://placehold.it/260x180" , :style=> "width:260; height:auto;"),dashboard_path(:id => @user.id) %>
					<%end%>
					<div class="caption">
				      <h5><%= @user.name %></h5>
				    </div>
		    	</div>
			    <%= f.input :name,:as => :hidden,:input_html => { :value => @user.name,:readonly => true }%>
			    <%= f.input :email,:as => :hidden,:input_html => { :value => @user.email,:readonly => true } %>
		   	<%end%>
		    	<%= f.input :relation, :as => :radio, :collection => [[t('invitation.relation.relative'),UserRelation::RELATIVE], 
		    		[t('invitation.relation.friend'),UserRelation::FRIEND], [t('invitation.relation.colleague'),UserRelation::COLLEAGUE]]%>
	
				<hr/>
		    	<%= f.input :trusted_1, :label => t('invitation.conformation.trusted1') %>
		    	<%= f.input :trusted_2, :label => t('invitation.conformation.trusted2') %>
	
		   
		   <% end %>

	  <%= f.actions do %>
	    <%= f.action :submit , :button_html => {:value => t('invitation.actions.send')} %>
	  <% end %>

<% end %>
