.span12
  .well
    %h1
      = t('invitation.title.confirm')
    %p
      = t('invitation.notices.confirmation')
      \:
    %p
      %strong= @invitation.name
    %p
      %strong= @invitation.email
    %p
      %strong= @invitation.relation
