
<div class="span12">
	<div class="well">
		<h1> Invitation Confirmation </h1>
		<p>
			<%=t('invitation.notices.confirmation')%>:
		</p>
		
		<p><strong><%=@invitation.name%></strong></p>
		<p><strong><%=@invitation.surname%></strong></p>
		<p><strong><%=@invitation.email%></strong></p>
		<p><strong><%=@invitation.relation%></strong></p>
		
	</div>

</div>
