<div class="row">
	<div class="span12">

		<div>
			<%= link_to (raw glyphicons("icon-chevron-left")) +" "+ t('common.actions.back'), :back , :class => "btn"%>
	  	</div>
		
		<table class="table table-bordered">
			<tr>
				<td>
				<p>
					<b>Name:</b>
					<%= @invitation.name %>
				</p></td>
			</tr>
			<tr>
				<td>
				<p>
					<b>Surname:</b>
					<%= @invitation.surname %>
				</p></td>
			</tr>
			<tr>
				<td>
				<p>
					<b>Email:</b>
					<%= @invitation.email %>
				</p></td>
			</tr>
			<tr>
				<td>
				<p>
					<b>Relation:</b>
					<%= @invitation.relation %>
				</p></td>
			</tr>
		</table>
	</div>
</div>