%h1= t('feedback.title.send_feedback')
= tinycms_content 'faq-teaser'
= semantic_form_for resource, url: feedbacks_path do |f|
  = f.inputs do
    -# hidden
    = f.input :variety, as: :hidden, input_html: { value: 'send_feedback' }
    -# user-input

    = f.input :from, required: false
    = f.input :subject, required: true
    = f.input :text, label: false, required: true
    = f.input :feedback_subject, as: :select, required: true, include_blank: true

    = render '/shared/recaptcha'

  = f.actions do
    = f.action :submit, label: t('feedback.actions.send_feedback'), button_html: {class: "Btn"}
