%h1= t('feedback.title.send_feedback')
= tinycms_content 'faq-teaser'
= semantic_form_for resource, url: feedbacks_path, html: {multipart: true, class: 'js-visual-submit'} do |f|
  = f.inputs do
    -# hidden
    = f.input :variety, as: :hidden, input_html: { value: 'send_feedback' }
    -# user-input

    = f.input :from, required: false
    = f.input :subject, required: true
    = f.input :text, label: false, required: true

    - f.object.build_image
    = f.semantic_fields_for :image do |image|
      = f.inputs do
        = image.input :image, as: :file, required: false

    = f.input :feedback_subject, as: :select, required: true, include_blank: true
  .captacha
    = render '/shared/recaptcha'

  = f.actions do
    = f.action :submit, label: t('feedback.actions.send_feedback'), button_html: {class: "Button"}
