= semantic_form_for feedback, url: feedbacks_path do |f|
  = t('article.show.report')
  = f.inputs do
    -# hidden
    = f.input :article_id, as: :hidden, input_html: { value: resource.id }
    = f.input :variety, as: :hidden, input_html: { value: 'report_article' }
    -# user input
    = f.input :text, input_html: { rows: 4 }

    = render '/shared/recaptcha'

  = f.actions do
    = f.action :submit , label: t('article.actions.report'), button_html: {class: "Btn"}
