
<table class="table table-bordered">
	<tr>
		<td>
		<p>
			<b>Fair Founding Points:</b>
			<%= @ffp.price*20 %> FFP
		</p></td>
	</tr>
	<tr>
		<td>
		<p>
			<b>Price:</b>
			<%= @ffp.price %> Euro
		</p></td>
	</tr>
	<tr>
		<td>
		<p>
			<b>Name:</b>
			<%= @ffp.name %>
		</p></td>
	</tr>
	<tr>
		<td>
		<p>
			<b>Surname:</b>
			<%= @ffp.surname %>
		</p></td>
	</tr>
	<tr>
		<td>
		<p>
			<b>Email:</b>
			<%= @ffp.email %>
		</p></td>
	</tr>
</table>