<div class="span3">
	<%= render :partial=>'/shared/profile_img', :locals=>{:user => @auction.seller} %>
	<div class="box" id="other_products">
		<div class="box-legend">
			<a href="#other_products"> <h6><%= t('auction.titles.other-products')%> (<%= @seller_products.count%>)</h6> </a>
		</div>
		<div class="box-content">

			<%= render :partial=>'/shared/list_auctions_small', :locals=>{ :auctions=> @seller_products, :paginate => true, :list_class=>"span4", :anchor=> "other_products"} %>

		</div>
	</div>
	<div class="box" id="library">
		<div class="box-legend">
			<a href="#library"> <h6><%= t('auction.titles.libraries')%> (<%= @libraries.count%>)</h6> </a>
		</div>
		<div class="box-content">
			<% @libraries.each do |lib| %>
			<div class="well-column-small-padding">
				<div class="row-fluid">
					<div class="span8">
						<%= link_to lib.name, :controller => "dashboard", :action=>"libraries", :id=>lib.user.id, :anchor => "library_"+lib.id.to_s %>
						<p>
							<%= t('common.text.from') + " " + lib.user.nickname%>
						</p>
					</div>
					<div class="span4">
						<%= link_to image_tag(lib.user.image.url(:thumb)), dashboard_path(:id => lib.user.id) %>
					</div>
				</div>
			</div>
			<%end%>
			<%= will_paginate @libraries,:params => {:anchor => "library" } %>
		</div>
	</div>

</div>