.well
  - if current_user && @auction.seller.id == current_user.id
    %span.pull-right
      - if policy(@auction).edit?
        = link_to t('auction.titles.edit') , edit_auction_path , :class => "btn"
      - if policy(@auction).deactivate?
        = link_to t('auction.labels.deactivate') , deactivate_auction_path, :class => "btn "
  %h2
    = @auction.title
  - @auction.categories.each do |leaf|
    %ul.breadcrumb
      - category_tree = get_category_tree(@auction,leaf)
      - count = 1
      - category_tree.each do |category|
        %li
          %a{:href => auctions_path(:auction => {:categories_and_ancestors  => category.self_and_ancestors_ids })}
            %i.icon-tag
            = category.name
          - unless category_tree.last == category
            %span.divider
              %i.icon-angle-right.icon-large
        - count = count + 1
  .clearfix
  .row-fluid
    .span6
      .in-image-container.title-image-wrapper
        = link_to image_tag(@title_image?@title_image.image.url(:thumb):"missing.png" , :class=> "title_image"), "#"
        = features_label @auction, "in-image-alt"
        = condition_label @auction, "in-image"
      %ul.thumbnails.auction-thumbnails
        - @thumbnails.each do |image|
          %li.span3
            = link_to image_tag(image.image.url(:mini) , :class=> "thumbnail_image") , auction_path(@auction, :image => image.id )
    
    .span3
      %p
        %b
          %span.pull-right= humanized_money_with_symbol @auction.price
          = t('formtastic.labels.auction.price')
      - if @auction.quantity && @auction.quantity != ""
        %p
          %span.pull-right= @auction.quantity
          = t('formtastic.labels.auction.quantity')
      - if @auction.friendly_percent && @auction.friendly_percent > 0
        %p
          %b= t('auction.show.friendly_percent')
          %br/
          %strong= @auction.friendly_percent.to_s + "%"
          = t('auction.show.will_be')
          %a= t('enumerize.auction.friendly_percent_organisation.'+@auction.friendly_percent_organisation)
          = t('auction.show.contributed')
      - if @auction.active && current_user && current_user.id != @auction.seller.id
        %p
          %a.btn.btn-primary.btn-fill
            = t('common.actions.buy')
        - if user_signed_in?
          = semantic_form_for(@auction.library_elements.build,:html => {:class =>  "form-inline" } ,:url => user_library_elements_path(:user_id => current_user)) do |f|
            = f.input :library, :collection => current_user.libraries,  :include_blank => false , :input_html => { :class => "btn-fill boarder-no-bottom"}, :label => false
            = f.input :auction_id, :as => :hidden
            = f.submit t('common.actions.collect'), :class => "btn btn-fill btn-white"
    .span3.dark-gray-well.break-word
      %strong= tinycms_content "auction-side-bar"
  .row-fluid
    .span12
      #socialshareprivacy
        .clearfix
  .row-fluid
    .span12
    
      / All Sellers
      = render_box_open "content" do 
        = @auction.content.html_safe
        
      = render_box "payment" do
        %strong
          = t('auction.labels.payment')
          \:
        %p
          = @auction.payment.map(&:text) * ", "
        .border-box.middle-padding
          = simple_format(@auction.payment_details).html_safe
        %br/
        %strong
          = t('formtastic.labels.auction.transport')
          \:
        %p
          = @auction.transport.map(&:text) * ", "
        .border-box.middle-padding
          = simple_format(@auction.transport_details).html_safe
          
      - if @auction.fair || @auction.ecologic || @auction.small_and_precious
        = render_box "commendation" do
          = render 'show_commendation'
      / Only legal sellers
      - if @auction.seller.is_a?(LegalEntity)
        = render_box "terms" do
          = @auction.seller.terms.html_safe
        = render_box "cancellation" do
          = @auction.seller.cancellation.html_safe
        = render_box "about" do
          = @auction.seller.about.html_safe
            
- if policy(@auction).report?
  = render_box "report" do
    .element-in-box
      = form_for :report, :url => report_auction_path, :method => :get do |f|
        = t('auction.notices.report')
        = f.text_area "melden", :rows => 4,:cols => 40,  :name=>"report", :value => params["report"]
        %br/
        %button.btn.btn-primary
          = t('auction.actions.report')
