.span3
  .well
    = render_tooltip t("auction.preview.tooltips.fees_and_donations")
    %h3
      = t('auction.preview.fees_and_donations.title')
    %table.table.table-bordered.table-total
      %tbody
        %tr
          %td
            %b= raw t('auction.preview.fees_and_donations.corruption_percent')
          %td= humanized_money_with_symbol @auction.calculated_corruption
        %tr
          %td
            %b
            = t('auction.preview.fees_and_donations.friendly_percent')
          %td= humanized_money_with_symbol @auction.calculated_friendly
        %tr
          %td
            %b= t('auction.preview.fees_and_donations.fee')
          %td= humanized_money_with_symbol @auction.calculated_fee
        %tr.table-total-row
          %td
            %b= t('auction.preview.fees_and_donations.total')
          %td= humanized_money_with_symbol @auction.calculated_fees_and_donations
    = render_tooltip t("auction.preview.tooltips.double_check")
    %h3= t("auction.preview.double_check.title")
    = link_to t("auction.labels.submit"), activate_auction_path(@auction), :class=>"btn btn-success"
