<div class="span3">
	<div class="well">
		<%= render_tooltip t("auction.preview.tooltips.fees_and_donations")%>
		<h3><%= t('auction.preview.fees_and_donations.title') %> </h3>

		<table class="table table-bordered table-total">

			<tbody>

				<tr>
					<td><b><%= raw t('auction.preview.fees_and_donations.corruption_percent') %></b></td>
					<td><%= humanized_money_with_symbol @auction.calculated_corruption%></td>
				</tr>
				<tr>
					<td><b></b><%= t('auction.preview.fees_and_donations.friendly_percent') %></b></td>
					<td><%= humanized_money_with_symbol @auction.calculated_friendly%></td>
				</tr>
				<tr>
					<td><b><%= t('auction.preview.fees_and_donations.fee') %></b></td>
					<td><%= humanized_money_with_symbol @auction.calculated_fee%></td>
				</tr>
				<tr class="table-total-row">
					<td><b><%= t('auction.preview.fees_and_donations.total') %></b></td>
					<td><%= humanized_money_with_symbol @auction.calculated_fees_and_donations%></td>
				</tr>
			</tbody>
		</table>
		<%= render_tooltip t("auction.preview.tooltips.double_check")%>
		<h3><%= t("auction.preview.double_check.title") %></h3>
		<%= link_to t("auction.labels.submit"), activate_auction_path(@auction), :class=>"btn btn-success" %>

	</div>
</div>