-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
.l-User
  .l-Inner
    .User.User--detail{:class => "#{"closed-container-hero" unless params[:action]== "show"}"}
      .User-primary
        = render :partial=>'/shared/profile_img', :locals=>{:user => user_resource}
        - if user_resource.is? current_user
          %p.align-center
            %a.Icon{:href =>  edit_user_registration_path}
              %i.icon-pencil
              = t 'common.actions.edit_profile'
      .User-secondary
        - if user_resource.about_me && !user_resource.about_me.empty?
          %div{:data => {:truncate => 250}}
            = user_resource.about_me.html_safe
            .clearfix

        - else
          .empty-well
            - if user_resource.is? current_user
              %a.pull-right{:href => edit_user_registration_path}
                = t 'users.text.add_desription'
            %h4
              = t 'users.text.no_description'
        .User-collection
          - if user_resource.is? current_user
            %a.Btn.Btn-icon{:href => user_path(current_user)}
              %i.icon-box--open
              = t 'common.text.my_articles'
          %a.Btn.Btn-icon{:href => user_libraries_path(user_resource)}
            %i.icon-box
            = t 'common.text.libraries'
          - if user_resource.is_a? LegalEntity
            %a.Btn.Btn-icon{:href => profile_user_path(user_resource)}
              %i.icon-paper
              = t 'common.text.about_terms'
    = render '/shared/take_part'