-#
-# Farinopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Farinopoly.
-#
-# Farinopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Farinopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Farinopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
#dashboard-hero{:class => "container #{"closed-container-hero" unless params[:action]== "show"}"}
	.row-fluid
		= render :partial=>'/shared/profile_img', :locals=>{:user => user_resource}
		#dashboard-middle
			#dashboard-events
				- if user_resource.about_me && !user_resource.about_me.empty?
					%div{:class => "fairnopoly-well clear-margin-bottom about #{"small-about" unless params[:full_about]}"}
						= user_resource.about_me.html_safe
						.clearfix
					- if params[:full_about]
						%a.pull-right{:href => user_path(:id => user_resource.id)}
							%i.icon-chevron-up
							weniger anzeigen
					- else
						%a.pull-right{:href => user_path(:id => user_resource.id, :full_about => "true")}
							%i.icon-chevron-down
							mehr anzeigen
				- else
					.empty-well
						- if user_resource.id==current_user.id
							%a.pull-right{:href => edit_user_registration_path}
								Beschreibung hinzufügen
						%h4 Noch keine Beschreibung hinzugefügt.
			- if user_resource.id==current_user.id
				%a.Btn.Btn-icon{:href => user_path(current_user)}
					%i.icon-box--open
					Verkaufen
			%a.Btn.Btn-icon{:href => user_libraries_path(user_resource)}
				%i.icon-box
				Sammlungen
			#hero-unfold
				%a.pull-right{:href => "#dashboard-hero"}= raw glyphicons("icon-chevron-up")
		#dashboard-edit
			- if user_resource.id==current_user.id
				%a.Icon{:href =>  edit_user_registration_path}
					%i.icon-pencil
					Profil bearbeiten
			- elsif user_resource.is_a?(LegalEntity)
				%a{:href => profile_user_path(user_resource)}
					AGB / Widerrufserklärung / Impressum

