= visual_checkout_steps :step2, @cart
.Content
  - @cart.line_item_groups.each do |group|
    .seller
      %h2
        = link_to group.seller_nickname, user_path(group.seller)
      .payment-boxes
        - abacus = Abacus.new(group).payment_listing
        - abacus.payments.each do |payment, hash|
          .payment-box
            %h3= payment
            .payment-details
              - hash[:business_transactions].each do |bt|
                .bt-details
                  .bt-title
                    = image_tag(bt.article.title_image_url_thumb, style: "max-width: 50px; max-height: 50px")
                    = bt.quantity_bought.to_s + 'x'
                    = bt.article_title
                  .bt-left-cell
                    Verkaufspreis
                  .bt-right-cell
                    10 eu
                  .bt-left-cell
                    Versand
                  .bt-right-cell
                    5 eu
            .payment-totals
              .bt-left-cell
                Nachnahme
              .bt-right-cell
                nix
              .bt-left-cell.total
                Gesamt für Bezahlung
              .bt-right-cell.total
                17,50 eu


  .adresses
    .Grid
      = render 'addresses/address', address: @cart.line_item_groups.first.transport_address, title: 'Deine Lieferadresse'
      = render 'addresses/address', address: @cart.line_item_groups.first.payment_address, title: 'Deine Rechnungsadresse'


  = button_to t('cart.actions.confirm_purchase'), cart_path(@cart, checkout: true), method: :patch, class: 'Button'