= visual_checkout_steps :step2, @cart
.Content
  - @cart.line_item_groups.each do |group|
    = line_item_group_frame link_to(group.seller_nickname, user_path(group.seller)) do
      - Abacus.new(group).payment_listing.payments.each do |payment, hash|
        .payment-box
          %h3= payment
          %table{cellspacing: 0}
            - hash[:business_transactions].each do |bt|
              %tr
                %th{colspan: 2}
                  = image_tag(bt.article.title_image_url_thumb, style: "max-width: 50px; max-height: 50px")
                  = bt.quantity_bought.to_s + 'x'
                  = bt.article_title
              %tr
                %td
                  Verkaufspreis
                %td
                  = humanized_money_with_symbol bt.article_price
              %tr
                %td
                  Versand
                %td
                  5 eu
              %tr
                %td.spacer{colspan: 2}

            %tr
              %td
                Nachnahme
              %td
                nix
            %tr.bt-totals
              %td.total
                Gesamt für Bezahlung
              %td.total
                17,50 eu


  .adresses
    .Grid
      = render 'addresses/address', address: @cart.line_item_groups.first.transport_address, title: 'Deine Lieferadresse'
      = render 'addresses/address', address: @cart.line_item_groups.first.payment_address, title: 'Deine Rechnungsadresse'


  = button_to t('cart.actions.confirm_purchase'), cart_path(@cart, checkout: true), method: :patch, class: 'Button'