= visual_checkout_steps :step2, @cart
.prices_overview
  - @abaci.each do |abacus|
    - group = abacus.line_item_group
    = gray_box line_item_group_title(group) do
      - abacus.payment_listing.payments.each do |payment, hash|
        .Payment
          %h3= t("enumerize.business_transaction.selected_payment.#{payment}")
          .Payment-table
            - hash[:business_transactions].each do |bt|
              = render '/line_item_groups/abacus/business_transaction_row', abacus: abacus, business_transaction: bt
            - hash[:transports].each do |transport|
              = render '/line_item_groups/abacus/transport_row', abacus: abacus, transport: transport
            = render '/line_item_groups/abacus/cash_on_delivery_row', cash_on_delivery_total: hash[:cash_on_delivery_total]
            = render '/line_item_groups/abacus/total_row', total: hash[:total], payment: payment

.sidebar
  .payment_address
    = gray_box t('cart.texts.addresses.payment') do
      .Address
        = render 'addresses/address_lines', address: @cart.line_item_groups.first.payment_address
  .transport_address
    = gray_box t('cart.texts.addresses.transport') do
      .Address
        = render 'addresses/address_lines', address: @cart.line_item_groups.first.transport_address
  .total_overview
    = gray_box t('cart.texts.total') do
      .total_big
        = money(@total)
.checkout-actions

  = link_to t('cart.actions.back'), edit_cart_path(@cart), class: 'Button Button--gray checkout-back'
  = button_to t('cart.actions.confirm_purchase', total: money(@total)), cart_path(@cart, checkout: true), method: :patch, class: 'Button checkout_button', form_class: 'js-visual-submit checkout-submit'
  .warning
    = I18n.t('cart.texts.long_security_warning')