.Content
  - @cart.line_item_groups.each do |group|
    Angeboten von #{link_to group.seller.nickname, user_path(group.seller)}
    - group.line_items.each do |line_item|
      - article = line_item.business_transaction.article
      .Listview
        .Listview-item
          .Listview-image
            = link_to image_tag(article.title_image_url(:thumb)), article_path(article)
          = render "shared/listview/listview_detail", article: article
          .Listview-actions
            - unless line_item.business_transaction.is_a? SingleFixedPriceTransaction
              Quantity Form
            = link_to t('common.actions.destroy'), line_item_path(line_item.id), class: "Button Button--red", confirm: 'Sure?', method: :delete





  = link_to "Zur Kasse", edit_cart_path(@cart), class: "Button"
