= "Die Nutzer*in " + @refund.business_transaction.seller.nickname + " hat eine Rückerstattung für die Transaktion #{@refund.business_transaction.id} beantragt"
= "Grund: #{@refund.reason}"
= "Begründung: #{@refund.description}"
