= "Die Nutzer*in " + @refund.transaction.seller.nickname + " hat eine Rückerstattung für die Transaktion #{@refund.transaction.id} beantragt"
= "Grund: #{@refund.reason}"
= "Begründung: #{@refund.description}"
