-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
%section.l-GridContainer
  .Search-Leftbar
    .Category-index-parent
      - if @search_cache.searched_category
        = render '/shared/category_tree', category: @search_cache.searched_category
      - else
        -# TODO implement general category tree
  .Search-ArticleContainer
    .l-ArticleList
      - articles.each do |article|
        %Article.Search-Grid.Article.Article--teaser
          = render '/articles/shared/show_article' , article: article

- if User.is_admin?(current_user)
  .Admin-controls
    %h2 Administration:
    %h3 Warteschlange befüllen
    = semantic_form_for :exhibit, url: create_multiple_exhibits_path, method: :post do |f|
      = f.inputs do
        = f.input :articles, as: :check_boxes, multiple: true,  :collection => Hash[ articles.map{|a| [ a.slug, a.id.to_s ]} ], :input_html => { :checked => true }
        = f.input :queue, :as => :select, :collection => Exhibit.queue.options
      = f.actions do
        = f.action :submit, label: t('article.show.add_as_exhibit') , button_html: {class: "Btn"}
