= hidden_field_tag 'article_search_form[fair]', article_search_form[:fair]
= hidden_field_tag 'article_search_form[ecologic]', article_search_form[:ecologic]
= hidden_field_tag 'article_search_form[small_and_precious]', article_search_form[:small_and_precious]
= hidden_field_tag 'article_search_form[condition]', article_search_form[:condition]
= hidden_field_tag 'article_search_form[category_id]', article_search_form[:category]
= hidden_field_tag 'article_search_form[zip]', article_search_form[:zip]
= hidden_field_tag 'article_search_form[order_by]', article_search_form[:order_by]
= hidden_field_tag 'article_search_form[search_in_content]', article_search_form[:search_in_content]
