- title index_title_for search_cache
- specific_content = content_for :category_specific_content

.Search
  .Search-sidebar
    = render 'categories/shared/category_tree'
  .Search-results
    = specific_content
    = render '/articles/shared/search_filter', search_cache: search_cache
    - if articles.empty?
      %h2= t("common.text.no_search_result_text")
    - elsif !@exclusive
      = render '/articles/shared/articles_grid', articles: articles
      = paginate articles
      - if params[:queue]
        = link_to t("enumerize.exhibit.queue.more_articles"), articles_path
  - if articles.total_count <= 4
    = render "/articles/shared/iframe"
