-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
.Search-filter-wrapper.JS-active-toggle--container{ data: { sustained: "true" } }
  .Search-filter-button
    %h3.Search-heading.JS-active-toggle--trigger
      Filter
      %span.Search-arrow.sprite_down_arrow.JS-active-toggle--target
      %span.Search-arrow.sprite_up_arrow.JS-active-toggle--target
  .Search-filter-container.JS-active-toggle--target
    .Search-filters
      = render 'articles/shared/filter/filter_condition', title: 'Zustand', parameter: :condition, values: ArticleSearchForm.enumerized_attributes[:condition].values
      = render 'articles/shared/filter/filter_commendation', title: 'Filter', parameters: [:fair, :ecologic, :small_and_precious, :swappable, :borrowable]
      = render 'articles/shared/filter/filter_price_range', title: 'Preis', parameter: :order_by, values: []
      = render 'articles/shared/filter/filter_zip', title: 'Standort', parameter: :zip
      = render 'articles/shared/filter/filter_order', title: 'Sortierung', parameter: :order_by, values: ArticleSearchForm.enumerized_attributes[:order_by].values
    .Search-additional
      = render 'articles/shared/filter/filter_additional', title: fa_icon('cogs')
