-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
.Search-filters
  = render 'articles/shared/filter/filter_radio', title: 'Zustand', parameter: :condition, values: ArticleSearchForm.enumerized_attributes[:condition].values, search_cache: search_cache
  = render 'articles/shared/filter/filter_checkbox', title: 'Filter', parameters: [:fair, :ecologic, :small_and_precious], search_cache: search_cache
  = render 'articles/shared/filter/filter_price_range', title: 'Preis', parameter: :order_by, values: [], search_cache: search_cache
  = render 'articles/shared/filter/filter_zip', title: 'Standort', parameter: :zip, values: [], search_cache: search_cache
  = render 'articles/shared/filter/filter_radio', title: 'Sortierung', parameter: :order_by, values: ArticleSearchForm.enumerized_attributes[:order_by].values, search_cache: search_cache
  = render 'articles/shared/filter/filter_text', title: fa_icon('cogs'), parameter: :order_by, values: [], search_cache: search_cache
