-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
.Article
  - cache_if (article.title_image_url_thumb != ArticleImage::PROCESSING_IMAGE_URL), ["articles", article.id, "tile"] do
    %figure.Article-image
      = link_to image_tag(article.title_image_url_thumb), article_path(article.slug)

    .Article-info
      %h3= link_to truncate(article.title, :length => 65), article_path(article.slug), :title => article.title
      .Article-price= humanize_money_or_cents article.price

      - if article.belongs_to_legal_entity? && article.vat != 0
        .Article-vat
          = "#{t('article.included_short')} #{article.vat.to_s}% #{t('article.vat')}"

      = render "articles/show/basic_price", article: article

      - if article.seller_ngo
        .Article-donation
          = t('article.show.donate_ngo_short_html', percent: '100', ngo:(link_to article.seller_nickname, user_path(article.seller) ))
      - elsif show_friendly_percent_for? article
        .Article-donation
          = t('article.show.donate_ngo_short_html', percent: article.friendly_percent , ngo:(link_to article.friendly_percent_organisation_nickname, user_path(article.friendly_percent_organisation)) )

    .Article-tags
      = condition_label article
      = commendation_labels_for article
    - if defined?(extra) && extra
      .Article-extra
        = yield

