-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
- cache [article, "thumbnail"] do
  %figure.Article-image
    = link_to image_tag(article.title_image_url(:thumb)), article_path(article)

  .Article-info

    %h3.Articles-title= link_to truncate(article.title, :length => 65), article_path(article), :title => article.title
    %p.Article-price= humanized_money_with_symbol article.price
    = render 'articles/show/vat', :article => article
    = render '/articles/show/basic_price', :article => article
    = render '/articles/show/ngo_donation', :article => article
  .Article-tags
    = condition_label article
    = commendation_labels_for article

- if User.is_admin?(current_user) && article.exhibits.present?
  .Article-admin
    %p= 'löschen aus:'
    - article.exhibits.each do |exhibit|
      - if exhibit.queue
        = (link_to t('enumerize.exhibit.queue.' + exhibit.queue), exhibit_path(exhibit.id), method: :delete) + "|"
