.sessions-form
  = semantic_form_for(User.new, :as => :user,  :url => session_path(:user)) do |f|
    = f.semantic_errors
    = f.inputs do
      = f.input :email, :tooltip => false
      = f.input :password, :tooltip => false
      - if devise_mapping.rememberable?
        = f.input :remember_me, :as => :boolean , :label => false
    = f.actions do
      = f.action :submit, :button_html => {:class => "Button"} , :label => :login
  = render "/devise/links"