<h2>Sign in</h2>
<%= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.semantic_errors %>
  <%= f.inputs do %>
    <%= f.input :email, :hint => "Enter your email address" %>
    <%= f.input :password, :hint => "Enter password" %>
  		<% if devise_mapping.rememberable? -%>
	     	<%= f.input :remember_me, :as => :boolean%> 
	  	<% end -%>
  <% end %>
  <%= f.buttons do %>
    <%= f.commit_button :button_html => {:class => "primary"} , :label => :login%>
  <% end %>
<% end %>

<%= render "links" %>