-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
.Article-form.Accordion.Accordion--activated.article-form
  = semantic_form_for resource, html: {multipart: true, class: 'js-visual-submit js-category-add'}, :builder => ::Fairtastic::FormBuilder do |f|
    = f.input_step 'template' do
      .Accordion-step
        = f.inputs do
          = f.input :name
    = render '/articles/form/common_inputs', f: f
    = f.actions do
      = f.action :submit , :button_html => {:class => "Button" }
