-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
- if article_template && article_template.article
  %tr
    %td= article_template.name
    %td= article_template.article_title
    %td= link_to t('formtastic.actions.template_select.submit'), new_article_path(:template_select => {:article_template => article_template.id} ), :class => 'action'
    %td= link_to t('common.actions.edit'), edit_article_template_path(article_template), :class => 'Btn Btn--blue icon-pencil--white Btn--table-icon Btn--table-icon-edit', :title => t('common.actions.edit')
    %td= link_to t('common.actions.destroy'), article_template, method: :delete, data: { confirm: t('common.actions.confirm') }, :class => 'Btn Btn--red Btn--table-icon Btn--table-icon-delete', :title => t('common.actions.destroy')
