
%h2
  =t('cart.heading')
- if cart.line_item_groups.any?
  - cart.line_item_groups.each do |group|
    = gray_box line_item_group_title(group) do
      .ArticleListview
        - group.line_items.each do |line_item|
          - article = line_item.article
          = render layout: 'articles/shared/listitem', locals: { article: article, actions: true } do
            .line_item_actions-inner
              - if line_item.article_quantity > 1
                = semantic_form_for line_item, html: {class: 'change_quantity'} do |f|
                  = f.inputs do
                    = f.input :requested_quantity, input_html: { min: 0, max: line_item.article_quantity_available, step: 1, value: line_item.requested_quantity || 1, class: 'JS-remote-validate-blur JS-enforce-input-constraints', data: { validation_params: "id=#{line_item.id}", validation_error_addition: I18n.t('line_item.errors.already_sold'), validation_allow: '0', validation_save_on_success: 'true' } }
                    = f.button title: t('line_item.labels.edit'), class: "Button"  do
                      %i.fa.fa-refresh
              - else
                .change_quantity &nbsp;

              = button_to line_item_path(line_item.id), title: t('common.actions.destroy'), class: "Button Button--red", method: :delete, data: { confirm: t('common.actions.confirm') }, form_class: 'delete_line_item' do
                %i.fa.fa-times
              .line_item_total
                = money @cart_abacus.line_item_totals[line_item]
  .checkout
    .total_price
      = t('cart.texts.total')
      %span.without_tranport
        = t('cart.texts.without_transport')
      %span.total
        = money @cart_abacus.total
    = link_to t('cart.actions.checkout'), edit_cart_path(cart), class: "Button"
- else
  .Content
    = t('cart.texts.empty_cart')