.Address{ id: "address_#{address.id}" }
  - radio = nil unless radio
  - if radio
    = label_tag 'cart_checkout_form[transport_address_id]' do
      .Address-radio
        = radio_button_tag 'cart_checkout_form[transport_address_id]', "#{address.id}", checked
      = render 'addresses/address_lines', address: address
  - else
    = render 'addresses/address_lines', address: address

  .Address-controls
    = link_to edit_user_address_path(current_user, address, radio: radio), title: t('common.actions.edit') ,class: 'colorbox Button edit-button' do
      .fa.fa-pencil
    - if policy(address).destroy?
      = link_to user_address_path(current_user, address, radio: radio), title: t('common.actions.destroy'), method: :delete, class: 'Button Button--red delete_address', remote: true do
        .fa.fa-times
