= semantic_form_for [current_user, address], html: { id: 'address-form' }, remote: true do |f|
  = f.semantic_errors

  = f.inputs do
    = f.input :title, as: :select, collection: [t('common.title.woman'),t('common.title.man')]
    = f.input :first_name, required: true
    = f.input :last_name, required: true
    = f.input :address_line_1, required: true
    = f.input :address_line_2
    = f.input :zip, required: true
    = f.input :city, required: true
    = f.input :country, required: true, as: :select, collection: [t('users.countries.germany')]

  = f.actions do
    = f.action :submit

