-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#

.activation_links
  %h3
    = t('article.preview.fees_and_donations.title')

  %dl
    %dt
      = t('article.preview.fees_and_donations.fee', :fee => (resource.fair ? "3%" : "6%"), :max => (resource.fair ? "€15" : "€30")  )
      %span.sprite_helper{title: "Bei erfolgreichem Verkauf gehen 6% des Artikelendpreises an Fairnopoly. Bei Artikeln unter dem Filter fair fallen lediglich 3% an."}
    %dd
      = humanized_money_with_symbol resource.calculated_fee
    %dt
      = t('article.preview.fees_and_donations.fair_percent')
      %span.sprite_helper{:title => t("article.preview.tooltips.fees_and_donations")}
    %dd
      = humanized_money_with_symbol resource.calculated_fair

    %dt
      = t('article.preview.fees_and_donations.friendly_percent')
      - if show_friendly_percent_for? resource
        %span.sprite_helper{:title => t("article.preview.tooltips.fp_fee_info",percent: resource.friendly_percent, ngo: resource.friendly_percent_organisation_nickname)}
    %dd= humanized_money_with_symbol resource.calculated_friendly

    %dt.total
      = t('article.preview.fees_and_donations.total')
      %span.sprite_helper{title: "Die Gesamtgebühr setzt sich aus den obigen Komponenten zusammen."}
    %dd.total
      = humanized_money_with_symbol resource.calculated_fees_and_donations
      = "*"
    %dt
      = "* " << t('article.preview.fees_and_donations.netto')
      = humanized_money_with_symbol resource.calculated_fees_and_donations_netto
    
    - if !resource.seller.ngo
      %dt
        / = t('article.preview.fees_and_donations.quarter_fee')
        Zzgl. der
        %a{:href => "/faq#geb1"}
          Quartalsgebühr
        von 1,- Euro (inkl. 19% MwSt).
        %span.sprite_helper{:title => t("article.preview.tooltips.fees_quarter_fee")}
  .activation
    - if resource.is_available?
      = link_to "Artikel zum Wiedereinstellen bearbeiten", new_article_path(:edit_as_new => resource.id), :class=>"Button Button--large"
    - else
      - if resource.seller.ngo
        - btn_text = t("article.labels.submit_free")
      - else
        - btn_text = show_friendly_percent_for?(resource) ? t("article.labels.submit_with_fp") : t("article.labels.submit")
      = button_to btn_text, article_path(:activate => true), :class=> "Button Button--large", :method => :put



