-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
.span3
  = render :partial=>'/shared/profile_img', :locals=>{:user => resource.seller}
  #other_products.box
    .box-legend
      %h6
        %a{:href => "#other_products"}
          = t('article.titles.other-products')
          (#{seller_articles.count})
    .box-content
      = render :partial=>'/shared/list_articles_small', :locals=>{ :articles=> seller_articles, :paginate => true, :list_class=>"span4", :anchor=> "other_products"}
  #library.box
    .box-legend
      %h6
        %a{:href => "#library"}
          = t('article.titles.libraries')
          (#{libraries.count})
    .box-content
      - libraries.each do |library|
        .well-column-small-padding
          .row-fluid
            .span8
              = link_to library.name, user_libraries_path(:user_id => library.user , :anchor => "library"+library.id.to_s)
              %p
                = t('common.text.from') + " " + library.user_nickname
            .span4
              = link_to image_tag(library.user.image.url(:thumb)), user_path(:id => library.user.id)
      = will_paginate libraries,:params => {:anchor => "library" }
