.Admin-controls
  %h2 Administration:
  - if resource.active?
    = semantic_form_for :exhibit, url: exhibits_path, method: :post do |f|
      = f.inputs do
        = f.input :article_id, as: :hidden, input_html: { value: resource.id }
        = f.input :queue, :as => :select, :collection => Exhibit.queue.options
      = f.actions do
        = f.action :submit, label: 'speichern' , button_html: {class: "Btn"}