.Admin-controls
  %h2 Administration:
  - if resource.active?
    = button_to 'Queue1', exhibits_path(exhibit: {article_id: resource.id, queue: :queue1}), class: "Btn Btn--redSmall", method: :post
    = button_to 'Queue2', exhibits_path(exhibit: {article_id: resource.id, queue: :queue2}), class: "Btn Btn--redSmall", method: :post
    = button_to 'Queue3', exhibits_path(exhibit: {article_id: resource.id, queue: :queue3}), class: "Btn Btn--redSmall", method: :post
    = button_to 'Queue4', exhibits_path(exhibit: {article_id: resource.id, queue: :queue4}), class: "Btn Btn--redSmall", method: :post
    = button_to '*Gebraucht bei Fairnopoly*-Artikel', exhibits_path(exhibit: {article_id: resource.id, queue: :old}), class: "Btn Btn--redSmall", method: :post
    = button_to '*Fairnopoly mag*-Artikel', exhibits_path(exhibit: {article_id: resource.id, queue: :fairnopoly_likes}), class: "Btn Btn--redSmall", method: :post
    = button_to '*Besonders & fair*-Artikel', exhibits_path(exhibit: {article_id: resource.id, queue: :fair_highlights}), class: "Btn Btn--redSmall", method: :post
    = button_to '*Besonders & öko*-Artikel', exhibits_path(exhibit: {article_id: resource.id, queue: :ecologic_highlights}), class: "Btn Btn--redSmall", method: :post
    = button_to '*Besonders & edel*-Artikel', exhibits_path(exhibit: {article_id: resource.id, queue: :small_and_precious_highlights}), class: "Btn Btn--redSmall", method: :post
