.Admin-controls

  %h2 Administration:
  = link_to t('article.show.reindex'), toolbox_reindex_path(resource), method: :patch, class: 'Button Button--red'
  = link_to "Artikel Administrieren", rails_admin.show_path(model_name: 'article', id: resource.id), class: 'Button'
  - if resource.active?
    %h3 Warteschlange befüllen
    = semantic_form_for :library, url: admin_add_to_libraries_path, method: :post do |f|
      = f.inputs do
        = f.input :article_id, as: :hidden, input_html: { value: resource.id }
        = f.input :exhibition_name, :as => :select, :collection => Library.exhibition_name.options
      = f.actions do
        = f.action :submit, label: t('article.show.add_as_exhibit') , button_html: {class: "Button"}

    %h3 Aus Warteschlange löschen
    - resource.libraries.where("exhibition_name IS NOT NULL").each do |library|
      = button_to ('aus ' + t("enumerize.library.exhibition_name." + library.exhibition_name) + ' löschen'), admin_remove_from_libraries_path(resource, library.exhibition_name), class: "Button Button--red", method: :delete

