.Admin-controls

  %h2 Administration:

  - if resource.active?
    %h3 Warteschlange befüllen
    = semantic_form_for :exhibit, url: exhibits_path, method: :post do |f|
      = f.inputs do
        = f.input :article_id, as: :hidden, input_html: { value: resource.id }
        = f.input :queue, :as => :select, :collection => Exhibit.queue.options
      = f.actions do
        = f.action :submit, label: t('article.show.add_as_exhibit') , button_html: {class: "Btn"}

    %h3 Aus Warteschlange löschen
    - resource.exhibits.each do |exhibit|
      = button_to ('aus '+t('enumerize.exhibit.queue.'+exhibit.queue)+' löschen'), exhibit_path(exhibit.id), class: "Btn Btn--redSmall", method: :delete
