.Admin-controls
  %h2 Administration:
  - if resource.active?
    = button_to '*Pionier*-Artikel', exhibits_path(exhibit: {article_id: resource.id, queue: :pioneer}), class: "Btn Btn--redSmall", method: :post
    = button_to '*Gebraucht bei Fairnopoly*-Artikel', exhibits_path(exhibit: {article_id: resource.id, queue: :old}), class: "Btn Btn--redSmall", method: :post
    = button_to '*Fairnopoly mag*-Artikel', exhibits_path(exhibit: {article_id: resource.id, queue: :fairnopoly_likes}), class: "Btn Btn--redSmall", method: :post
    = button_to '*Besonders & fair*-Artikel', exhibits_path(exhibit: {article_id: resource.id, queue: :fair_highlights}), class: "Btn Btn--redSmall", method: :post
    = button_to '*Besonders & öko*-Artikel', exhibits_path(exhibit: {article_id: resource.id, queue: :ecologic_highlights}), class: "Btn Btn--redSmall", method: :post
    = button_to '*Besonders & edel*-Artikel', exhibits_path(exhibit: {article_id: resource.id, queue: :small_and_precious_highlights}), class: "Btn Btn--redSmall", method: :post
    = button_to 'Neues Dreamteam', exhibits_path(exhibit: {article_id: resource.id, queue: :dream_team}), class: "Btn Btn--redSmall", method: :post
    %hr
    - Exhibit.where(:queue => :dream_team).where(:related_article_id => nil).each do |dreamteam|
      = form_tag exhibit_path(dreamteam), method: :put do
        = hidden_field_tag 'exhibit[related_article_id]', resource.id
        = submit_tag "Dreamteam mit #{truncate(dreamteam.article.title,:length => 15)}", class: "Btn Btn--redSmall"
        = link_to "#{truncate(dreamteam.article.title,:length => 15)} ansehen", dreamteam.article
        %hr