-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
/ Be careful, between case and when should not be a empty line
- if resource.fair
  - case resource.fair_kind
  - when "social_producer"
    - if resource.social_producer_questionnaire
      %h3= t('enumerize.article.fair_kind.social_producer')
      .border-box.middle-padding
        - for attribute in resource.social_producer_questionnaire.attributes.keys
          - value = resource.social_producer_questionnaire.attributes[attribute]
          - if !attribute.to_s.downcase.include? "id"
            - if attribute.to_s.downcase.include? "purposes"
              .border-box.middle-padding
                %ul.unstyled
                  - value.each do |purpose|
                    %li.middle-padding-left
                      %p= t('enumerize.social_producer_questionnaire.'+attribute.to_s+ '.' + purpose)
                      %p
                        %strong= t('article.show.agree')
            - else
              %h5= t('formtastic.labels.article.social_producer_questionnaire.' + attribute.to_s)
              %p
                %strong
                  = value ? t('article.show.agree') : t('article.show.non_agree')
  - when "fair_trust"
    - if resource.fair_trust_questionnaire
      %h3= t('enumerize.article.fair_kind.fair_trust')
      .border-box.middle-padding
        - for attribute in resource.fair_trust_questionnaire.attributes.keys
          - value = resource.fair_trust_questionnaire.attributes[attribute]
          - if !attribute.to_s.downcase.include? "id"
            - if attribute.to_s.downcase.include? "explanation"
              %p
                = value.to_s
            - else
              %p= t('formtastic.labels.article.fair_trust_questionnaire.' + attribute.to_s)
              %p
                %strong
                  = value ? t('article.show.agree') : t('article.show.non_agree')
  - when "fair_seal"
    %h3= t('enumerize.article.fair_kind.fair_seal')
    .border-box.middle-padding
      %p
        %strong= t('enumerize.article.fair_seal.' + resource.fair_seal)
- if resource.ecologic
  %h3= t('formtastic.labels.article.ecologic')
  .border-box.middle-padding
    %p= t('enumerize.article.ecologic_kind.' + resource.ecologic_kind)
    - if resource.ecologic_kind == "ecologic_seal"
      %p= t('enumerize.article.ecologic_seal.' + resource.ecologic_seal)
    - if resource.ecologic_kind == "upcycling"
      %strong
        = resource.upcycling_reason
- if resource.small_and_precious
  %h3= t('formtastic.labels.article.small_and_precious')
  .border-box.middle-padding
    %p= t('formtastic.labels.article.small_and_precious_eu_small_enterprise')
    %p
      %strong
        = resource.small_and_precious_eu_small_enterprise ? t('article.show.agree') : t('article.show.non_agree')
    %p= t('formtastic.labels.article.small_and_precious_edition')
    %p
      %strong
        = resource.small_and_precious_edition
    %p= t('formtastic.labels.article.small_and_precious_reason')
    %p
      %strong
        = resource.small_and_precious_reason
    %p= t('formtastic.labels.article.small_and_precious_handmade')
    %p
      %strong
        = resource.small_and_precious_handmade ? t('article.show.agree') : t('article.show.non_agree')
