-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#


-# Be careful, between case and when should not be a empty line
.commendation
  
  -# FAIR
  - if resource.fair
    %h3
      = commendation_label :fair,:big
    - case resource.fair_kind
    - when "social_producer"
      - if resource.social_producer_questionnaire
        %h4= t('enumerize.article.fair_kind.social_producer')
        = get_social_producer_questionaire_for :nonprofit_association, resource
        = get_social_producer_questionaire_for :social_businesses_muhammad_yunus, resource
        = get_social_producer_questionaire_for :social_entrepreneur, resource
        - unless resource.social_producer_questionnaire.social_entrepreneur_explanation.blank?
          %h5
            = t('formtastic.labels.social_producer_questionnaire.social_entrepreneur_explanation')
          %p
            = resource.social_producer_questionnaire.social_entrepreneur_explanation
    - when "fair_trust"
      - if resource.fair_trust_questionnaire
        %h4= t('enumerize.article.fair_kind.fair_trust')
        = get_fair_trust_questionaire_for :support, resource
        = get_fair_trust_questionaire_for :labor_conditions, resource
        = get_fair_trust_questionaire_for :environment_protection, resource
        = get_fair_trust_questionaire_for :controlling, resource
        = get_fair_trust_questionaire_for :awareness_raising, resource
    - when "fair_seal"
      %h4
        = t('enumerize.article.fair_kind.fair_seal')
      %p
        = t('enumerize.article.fair_seal.' + resource.fair_seal)

  -# ECOLOGIC
  - if resource.ecologic

    %h3
      = commendation_label :ecologic,:big
    %h4
      = t('enumerize.article.ecologic_kind.' + resource.ecologic_kind)
    - if resource.ecologic_kind == "ecologic_seal"
      %p
        = t('enumerize.article.ecologic_seal.' + resource.ecologic_seal)
    - if resource.ecologic_kind == "upcycling"
      %p
        = resource.upcycling_reason

  -# SMALL AND PRECIOUS
  - if resource.small_and_precious
    %h3
      = commendation_label :small_and_precious,:big
    %h4
      = t('formtastic.labels.article.small_and_precious_eu_small_enterprise')
    %p
      = resource.small_and_precious_eu_small_enterprise ? t('article.show.agree') : t('article.show.non_agree')
    %h4
      = t('formtastic.labels.article.small_and_precious_reason')
    %p
      = resource.small_and_precious_reason
    %h4
      = t('formtastic.labels.article.small_and_precious_handmade')
    %p
      = resource.small_and_precious_handmade ? t('article.show.agree') : t('article.show.non_agree')
