-#
-# Farinopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Farinopoly.
-#
-# Farinopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Farinopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Farinopoly.  If not, see <http://www.gnu.org/licenses/>.
-#

.Fees
  %h3
    = t('article.preview.fees_and_donations.title')

  %dl
    %dt
      = t('article.preview.fees_and_donations.fee', :fee => (resource.fair ? "3%" : "6%"), :max => (resource.fair ? "€15" : "€30")  )
      %i.icon-helper
    %dd
      = humanized_money_with_symbol resource.calculated_fee
    %dt
      = raw t('article.preview.fees_and_donations.fair_percent')
      %i.icon-helper{:title => t("article.preview.tooltips.fees_and_donations")}
    %dd
      = humanized_money_with_symbol resource.calculated_fair
    -#%dt
      -#= t('article.preview.fees_and_donations.friendly_percent')
    -#%dd= humanized_money_with_symbol resource.calculated_friendly
    %dt.is-green
      = t('article.preview.fees_and_donations.total', :fee => (resource.fair ? "3% + 1%" : "6% + 1%")  )
      %i.icon-helper
    %dd.is-green
      = humanized_money_with_symbol resource.calculated_fees_and_donations

  // This button is supposed to be like this:
  // %a.Btn.Btn--green.Btn--greenSmall
  //   Angebot einstellen. Beachte, dass bei erfolgreichem Verkauf Gebühren entstehen
  %a= button_to t("article.labels.submit"), article_path(:activate => true), :class=>"Btn Btn--green Btn--greenSmall", :method => :put

