.span3
  .fairnopoly-well
    = render_tooltip t("article.preview.tooltips.fees_and_donations")
    %h3
      = t('article.preview.fees_and_donations.title')
    %table.table.table-bordered.table-total
      %tbody
        %tr
          %td
            = t('article.preview.fees_and_donations.fee', :fee => (resource.fair ? "3%" : "6%") )
          %td
            %b= humanized_money_with_symbol resource.calculated_fee
        %tr
          %td
            = raw t('article.preview.fees_and_donations.corruption_percent')
          %td
            %b= humanized_money_with_symbol resource.calculated_corruption
        -#%tr
          -#%td
            -#%b
            -#= t('article.preview.fees_and_donations.friendly_percent')
          -#%td= humanized_money_with_symbol resource.calculated_friendly
        %tr.table-total-row
          %td
            %b= t('article.preview.fees_and_donations.total', :fee => (resource.fair ? "3% + 1%" : "6% + 1%")  )
          %td
            %b= humanized_money_with_symbol resource.calculated_fees_and_donations

    = render_tooltip t("article.preview.tooltips.double_check")
    %h3= t("article.preview.double_check.title")
    = link_to t("article.labels.submit"), activate_article_path(resource), :class=>"btn btn-success"
