-#
-# Farinopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Farinopoly.
-#
-# Farinopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Farinopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Farinopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
.span3
  .fairnopoly-well
    = render_tooltip t("article.preview.tooltips.fees_and_donations")
    %h3
      = t('article.preview.fees_and_donations.title')
    %table.table.table-bordered.table-total
      %tbody
        %tr
          %td
            = t('article.preview.fees_and_donations.fee', :fee => (resource.fair ? "3%" : "6%"), :max => (resource.fair ? "€15" : "€30")  )
          %td
            %b= humanized_money_with_symbol resource.calculated_fee
        %tr
          %td
            = raw t('article.preview.fees_and_donations.corruption_percent')
          %td
            %b= humanized_money_with_symbol resource.calculated_corruption
        -#%tr
          -#%td
            -#%b
            -#= t('article.preview.fees_and_donations.friendly_percent')
          -#%td= humanized_money_with_symbol resource.calculated_friendly
        %tr.table-total-row
          %td
            %b= t('article.preview.fees_and_donations.total', :fee => (resource.fair ? "3% + 1%" : "6% + 1%")  )
          %td
            %b= humanized_money_with_symbol resource.calculated_fees_and_donations

    = render_tooltip t("article.preview.tooltips.double_check")
    %h3= t("article.preview.double_check.title")
    = button_to t("article.labels.submit"), article_path(:activate => true), :class=>"Btn Btn--green", :method => :put
