-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
-# User Box
= render '/users/profile_img', user: resource.seller, show_title: true
-# Other articles by seller Box
.Accordion.Accordion--scrollToActive.Accordion--activated
  = accordion_item "other_articles", :title => t('article.titles.other-products') do
    .other_articles
      - @other_articles.each do |other_article|
        .other_article
          = link_to image_tag(other_article.title_image_url_thumb), article_path(other_article.slug)
    - unless @other_articles.count < 10
      = link_to t('common.text.more'), resource.seller, :class => "Button Button--gray"
  - if @libraries.count > 0
    -# Libraries Box
    = accordion_item "libraries", :title => t('article.titles.libraries') do
      .related_libraries
        - @libraries.each do |library|
          .related_library
            .profile_image 
              = link_to image_tag(library.user.image_url(:profile)), library
            .details
              = link_to library.name, library
              = t('common.text.glue.from') + " "
              = link_to(library.user_nickname, library.user)
      = paginate @libraries, params: {anchor: "libraries" }, param_name: :library_page

  -# Feedback Box
  - if policy(resource).report?
    = accordion_item "report" do
      = render 'feedbacks/varieties/report', feedback: Feedback.new


