-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
.User.User--teaser
  -# User Box
  = render '/shared/profile_img', user: resource.seller, show_title: true
  -# Other articles by seller Box
  .User-accordion.Accordion
    = accordion_item "other_products", :number => active_seller_articles.total_count, :title => t('article.titles.other-products') do
      = render '/shared/list_articles_small', :articles=> active_seller_articles, :paginate => true, :anchor=> "other_products"

  - if resource.libraries.find_all_by_public(true).count > 0
    -# Libraries Box
    .Accordion.Accordion--full
      = accordion_item "library", :number => resource.libraries.includes(:user => :image).find_all_by_public(true).count, :title => t('article.titles.libraries') do
        - libraries.each do |library|
          .User-library-small
            .User-image
              = link_to image_tag(library.user.image_url(:profile)), user_path(:id => library.user.id)
            %p.User-library--title
              = link_to library.name, user_libraries_path(:user_id => library.user , :anchor => "library"+library.id.to_s)
            %p.User-library--user
              = t('common.text.from') + " "
              = link_to( library.user_nickname, user_path(library.user))
        = paginate libraries, :params => {:anchor => "library" }

  - if current_user && resource.seller.is_a?(PrivateUser)
    -# Contact Box
    .Accordion.Accorion--full
      = accordion_item 'contact_private_user' do
        = semantic_form_for :contact, url: toolbox_contact_path, method: :get do |f|
          = t('article.show.contact')
          = f.inputs do
            -# hidden
            = f.input :article_id, as: :hidden, input_html: { value: resource.id }
            -# user input
            = f.input :email_transfer_accepted, label: t('article.labels.email_transfer_accepted'), as: :boolean, required: true
            = f.input :text, as: :text, input_html: { rows: 4 }

          = f.actions do
            = f.action :submit, label: t('article.actions.contact'), button_html: {class: "Btn"}


  -# Feedback Box
  .Accordion.Accordion--full
    - if policy(resource).report?
      = accordion_item "report" do
        = render 'feedbacks/varieties/report', feedback: Feedback.new


