-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
= semantic_form_for @invitation do |f|
  = f.semantic_errors
  = f.inputs do
    - if @user
      = f.input :name,:input_html => { :value => @user.name,:readonly => true }
      = f.input :email,:input_html => { :value => @user.email,:readonly => true }
    - else
      = f.input :name
      = f.input :email
    = f.input :relation, :as => :radio, :collection => [[t('invitation.relation.relative'),UserRelation::RELATIVE],         |
      [t('invitation.relation.friend'),UserRelation::FRIEND], [t('invitation.relation.colleague'),UserRelation::COLLEAGUE]] |
    %hr/
    = f.input :trusted_1, :label => t('invitation.conformation.trusted1')
    = f.input :trusted_2, :label => t('invitation.conformation.trusted2')
  = f.actions do
    = f.action :submit , :button_html => {:value => t('invitation.actions.send')}
