-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
.row
  .span12
    .fairnopoly-well
      .span3
        = link_to (raw glyphicons("icon-chevron-left")) +" "+ t('common.actions.back'), :back , :class => "btn"
      %h1= t('invitation.titles.new')
      %br/
      %h3= t('invitation.intro')
      %h3= t('invitation.intro2')
  .span6
    .fairnopoly-well
      - if !@user
        = render 'form'
      - else
        = render 'form_registered'
  .span6
    .alert.alert.alert-info
      %strong
        %i.icon-info-sign
        = t('invitation.notices.header.important')
      %br/
      %p
        = t('invitation.notices.important')
    .fairnopoly-well
      %strong
        %i.icon-question-sign
        = t('invitation.notices.header.data')
      %br/
      %p
        = t('invitation.notices.data')
    .fairnopoly-well
      %strong
        %i.icon-question-sign
        = t('invitation.notices.header.problems')
      %br/
      %p
        = t('invitation.notices.problems')
