.Refund-main
  %h1= t( 'refund.heading' )
  = semantic_form_for resource, url: transaction_refunds_path, builder: Fairtastic::FormBuilder do |f|
    = f.inputs do
      = f.input :reason, as: :select
      = f.input :description, as: :text, input_html: { class: 'Refund-textarea' }
      = f.actions do
        = f.action :submit , button_html: {class: "Btn" }, label: t( 'common.actions.send' ) ) } )
