-#
-# Farinopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Farinopoly.
-#
-# Farinopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Farinopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Farinopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
= semantic_form_for(User.new, :html => { :class => 'form-vertical form-fit' } , :url => session_path(:user)) do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :email
    = f.input :password
    - if devise_mapping.rememberable?
      = f.input :remember_me, :as => :boolean , :label => false
  = f.actions do
    = f.action :submit, :button_html => {:class => "Btn"} , :label => :login
  = render :partial => "/devise/links" , :locals => { :resource_name => :user , :devise_mapping => Devise.mappings[:user]}
