<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @category.desc %>
</p>

<p>
  <b>Level:</b>
  <%= @category.level %>
</p>

<p>
  <b>Parent:</b>
  <%= @category.parent_id %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
