<p><%= t('common.text.hello')%> <%= @resource.email %>!</p>

<p><%= t('user.unlock.info')%></p>

<p><%= t('user.unlock.linktext')%></p>

<p><%= link_to t('user.unlock.link'), unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
