%h3
  = t('email.greeting', name: @article.seller_nickname)
= t('email.article.activation.text')
%p
  Hier kommst Du zu Deinem Artikel:
  = link_to @article.title, article_url(@article)
%p
  Bei erfolgreichem Verkauf fallen folgende Gebühren an:
  %br
  = "Verkaufsgebühren: "
  = humanized_money_with_symbol(@article.calculated_fee)
  %br
  = "Faires Prozent: "
  = humanized_money_with_symbol(@article.calculated_fair)

.pdf
  = link_to 'Unsere AGB', attachments['AGB'].url
  %br
  = link_to 'kostenloses PDF Anzeigeprogramm herunter laden', 'http://get.adobe.com/reader/otherversions/'

%hr
%h4
  = t('email.article.activation.cancellation_heading')

= simple_format(t('email.article.activation.cancellation_text'))

- content_for 'sidebar' do
  = render 'shared/email/social_buttons'
