%h3
  Hallo
  = "#{@article.seller_nickname},"
Ein*e Fairnopoly-Nutzer*in hat dir eine Rückfrage zu deinem Artikel
= link_to "\"#{@article.title}\"", article_path(@article.id)
gesandt:
.message
  = simple_format @text

%p
  Bitte sende Deine Antwort an
  = mail_to @from
%p
  Den Artikel zu der Rückfrage findest Du unter
  = link_to article_url(@article), article_url(@article)

- content_for 'sidebar' do
  = render 'shared/email/social_buttons'
