%h3
  = t('email.greeting', name: @mass_upload.user_nickname)
= t('email.article.mass_activation.text')
%a
  Hier kommst Du zu Deinem CSV-Upload:
  = link_to @mass_upload.file_file_name, mass_upload_url(@mass_upload)
%p
  = link_to 'Unsere AGB', attachments['AGB'].url
  %br
  = link_to 'kostenloses PDF Anzeigeprogramm herunter laden', 'http://get.adobe.com/reader/otherversions/'

%hr
%h4
  = t('email.article.activation.cancellation_heading')

= simple_format(t('email.article.activation.cancellation_text'))
%hr

= simple_format(t('email.imprint'))
%br
= link_to t('email.facebook'), 'https://www.facebook.de/fairnopoly'
%br
= link_to t('email.buy_shares'), 'https://info.fairnopoly.de/anteile-zeichnen/'
