- selected_payment = resource.selected_payment
- selected_transport = resource.selected_transport
- quantity = resource.quantity_bought

%p
  Bitte überweise den Gesamtbetrag von
  %strong= humanized_money_with_symbol(resource.article_total_price(selected_transport, selected_payment, quantity))
  auf folgendes Konto:
%table
  %colgroup
    %col{width: 150}
    %col{width: 300}
  %tr
    %td
      = "#{t 'formtastic.labels.user.bank_account_owner'}:"
    %td
      = "#{resource.article_seller_bank_account_owner}"
  %tr
    %td
      = "#{t 'formtastic.labels.user.bank_account_number'}:"
    %td
      = "#{resource.article_seller_bank_account_number}"
  %tr
    %td
      = "#{t 'formtastic.labels.user.bank_code'}:"
    %td
      = "#{resource.article_seller_bank_code}"
  %tr
    %td
      = "#{t 'formtastic.labels.user.bank_name'}:"
    %td
      = "#{resource.article_seller_bank_name}"
  %tr
    %td
      = "#{t 'formtastic.labels.user.iban'}:"
    %td
      = "#{resource.article_seller_iban}"
  %tr
    %td
      = "#{t 'formtastic.labels.user.bic'}:"
    %td
      = "#{resource.article_seller_bic}"