- selected_payment    = transaction.selected_payment
- selected_transport  = transaction.selected_transport
- quantity            = transaction.quantity_bought
- time                = transaction.sold_at

%h1
  = t 'transaction.edit.heading'
%h3.Article-title
  = link_to "#{transaction.article_title}", article_path( transaction.article )
= "Verkauft am " + time.strftime("%d.%m.%Y") + " um " + time.strftime("%H:%M")
%br
%p
%h3
  = t "transaction.show.seller.heading"

%p
  = t "transaction.show.seller.congratulation"
  = t "transaction.show.seller.congratulation_invoice" if selected_payment == 'invoice'

%hr

%h4= t('transaction.notifications.seller.order_infos')

= simple_format(order_details(transaction), :class => "Article-title")

= simple_format article_payment_info transaction, :seller

%hr

-if transaction.selected_transport == 'pickup'
  %h4= t('transaction.notifications.seller.pickup_info')
-else
  %h4= t('transaction.notifications.seller.shipping_request')

= simple_format show_buyer_address transaction

= t('transaction.notifications.seller.buyer_email')
= transaction.buyer_email

= simple_format payment_method_info transaction, :seller

-if transaction.message && !transaction.message.empty?
  %hr
  %h4= t('transaction.notifications.seller.buyer_message')
  %p= transaction.message

%hr

%h4= t('transaction.notifications.seller.seller_fee_text')
= simple_format fees_and_donations transaction


%br
%br
%p
  =# link_to 'Lieferschein drucken', print_order_seller_transaction_path( transaction ), class: 'Btn', target: '_blank'