-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
%h2
  = t 'transaction.edit.heading'

= semantic_form_for @transaction do |f|
  = f.inputs do
    %h3 Artikel
    %ul
      %li
        Produkt:
        = @transaction.article_title
      %li
        Haendler:
        = @transaction.article_seller.fullname

    %h3
      = t 'transaction.edit.transport'

    = f.input :selected_transport, label: false, include_blank: false, collection: @transaction.article_selected_transports

    %h3
      = t 'transaction.edit.payment'

    = f.input :selected_payment, label: false, include_blank: false, collection: @transaction.article_selected_payments

    %h3
      = t 'transaction.edit.terms', name: @transaction.article_seller.fullname
    %p
      = @transaction.article_seller.terms
      = link_to 'Drucken'

    %h3
      = t 'transaction.edit.cancellation', name: @transaction.article_seller.fullname
    %p
      = @transaction.article_seller.cancellation
      = link_to 'Drucken'

    = f.input :tos_accepted

    %h3
      = t 'transaction.edit.address'
    %p
      = current_user.fullname
      %br
      = current_user.street
      %br
      = current_user.zip
      = current_user.city
      %br
      = current_user.country

  = f.actions do
    = f.action :submit, label: t('common.actions.continue')
