- transaction 				= t
- buyer 							= transaction.buyer


%h3 Lieferschein (Ich bin noch ein Dummy)
%p
%h4 Lieferadresse
%p
	= buyer.fullname
	%br
	= transaction.street
	%br
	= transaction.zip
	%br
	= transaction.city
	%br
	= transaction.country
	%br
%p
	= Time.now.strftime("%d.%m.%Y")
%P
	%table
		%tr
			%th
				Menge
			%th
				Artikel
			%th
				Einzelpreis
			%th
				Gesamtpreis
		%tr
			%td
				= transaction.quantity_bought
			%td
				= transaction.article_title
			%td
				= humanized_money_with_symbol( transaction.article_price )
			%td
				= humanized_money_with_symbol( transaction.article_price * transaction.quantity_bought )
		%tr
			%td
			%td
				enthaltene MwSt
			%td
				= humanized_money_with_symbol(0.19)
			%td
				= humanized_money_with_symbol(0.19)
		%tr
			%td
			%td
				Versand und Verpackung
			%td
			%td
				= humanized_money_with_symbol(4.99)
		%tr
			%td
			%td
				Gesamt
			%td
			%td
				= humanized_money_with_symbol(5.99)
				%hr
				%hr


:javascript
	print();