-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
.Accordion-item{:id => accordion_name, :class => "#{accordion_item_class}" }
  %a{:href => "##{accordion_name}", :class => "Accordion-header #{accordion_header_class}"}
    -if accordion_arrow
      %i.icon-arrow
    %span.content
      = accordion_title
    -if accordion_tooltip
      %span.sprite_helper{:title => accordion_tooltip}
  %div{:class => "Accordion-content #{accordion_content_class}"}
    = yield
