<div class="box" id="<%= box_name %>">
  <div class="box-legend <%= box_legend_class %>">
    <% if tooltip_text %>
      <a class="input-tooltip"> 
        <span>
          <%= tooltip_text %>
        </span>
      </a>
    <% end %>
   
      <h3> 
      	<a href="#<%= box_name %>"> 
        	<%= box_title %>
        </a>
      </h3> 
    
  </div>
  <div class="box-content <%= box_content_class %>">
    <%= yield %>
  </div>
</div>