%div{:class => "#{box_layout}", :id => box_name, :onclick => "changeBox(this)"}
  %div{:class => "box-legend #{box_legend_class}"}
    - if tooltip_text
      render_tooltip tooltip_text 
    %h3
      %a{:id => "link#{box_name}", :href => "##{box_name}"}
        = box_title
  %div{:class => "box-content #{box_content_class}"}
    = yield
