<div class="box" id="<%= box_name %>">
  <div class="box-legend <%= box_legend_class %>">
    <% if tooltip_text %>
      <a class="input-tooltip"> 
        <span>
          <%= tooltip_text %>
        </span>
      </a>
    <% end %>
    <a href="#<%= box_name %>"> 
      <h3>
        <%= box_title %>
      </h3> 
    </a>
  </div>
  <div class="box-content <%= box_content_class %>">
    <%= yield %>
  </div>
</div>