.l-footer-top
  .l-footer-logo
    %a{href: "/"}
      %span.sprite_logo_small
  %ul.l-footer-nav
    %li.l-feedback
      %a.l-feedback-button{:href=>new_feedback_path(:variety => :get_help)}
        %i.icon-help
        = t('common.text.help')
      %a.l-feedback-button{:href=>new_feedback_path(:variety => :send_feedback)}
        %i.icon-feedback
        = t('common.text.feedback')
      %a.l-feedback-button.l-feedback-button--green{href: 'http://info.fairnopoly.de/anteile-zeichnen/', :target => '_blank'}
        %i.icon-shares
        = t('common.text.shares')
    %li
      %a{href: "/faq", target: 'blank'}
        = t('footer.faq')
    %li
      %a{href: "https://info.fairnopoly.de/forum/", target: 'blank'}
        = t('footer.forum')
    %li
      %a{href: "/contact", target: 'blank'}
        = t('footer.contact')
    %li
      %a{href: "/about_us", target: 'blank'}
        = t('footer.about_us')
    %li
      %a{href: "/philosophy", target: 'blank'}
        = t('footer.philosophy')
    %li
      %a{href: "https://transparenz.fairnopoly.de/", target: 'blank'}
        = t('footer.transparency')
    %li
      %a{href: "https://info.fairnopoly.de/pressekit/", target: 'blank'}
        = t('footer.press')
    %li
      %a{href: "https://info.fairnopoly.de/team/", target: 'blank'}
        = t('footer.team')
    %li
      %a{href: "https://info.fairnopoly.de/stellenausschreibungen/", target: 'blank'}
        = t('footer.jobs')
    - if User.is_admin? current_user
      %li
        = link_to t('users.menu.admin'), "/admin"
      %li
        = link_to 'Manage Pages', "/contents"
      %li
        = link_to 'Statistics', "/statistics/general"
    %li
      %a{:href => "https://info.fairnopoly.de", target: 'blank'}
        = t('footer.blog')
    %li
      %a{:href => "http://50856.seu1.cleverreach.com/f/50856-127432/", target: '_blank'}
        = t('footer.newsletter')
.l-footer-bottom

  %ul.l-footer-nav
    %li
      %a{href: "/agb", target: 'blank'}
        = t('footer.agb')
    %li
      %a{href: "/privacy", target: 'blank'}
        = t('footer.privacy')
    %li
      %a{href: "/imprint", target: 'blank'}
        = t('footer.imprint')
  .l-footer-copyright
    &copy; Copyright 2014 Fairnopoly eG
