.l-footer-top
  .l-footer-logo
    %a{:href => "/"}
      %span.sprite_logo_small
  %ul.l-footer-nav
    %li.Feedback
      %a.Feedback-button{:href=>new_feedback_path(:variety => :get_help)}
        %i.icon-help
        = t('common.text.help')
      %a.Feedback-button{:href=>new_feedback_path(:variety => :send_feedback)}
        %i.icon-feedback
        = t('common.text.feedback')
      %a.Feedback-button.Feedback-button--green{href: 'http://info.fairnopoly.de/anteile-zeichnen/', :target => '_blank'}
        %i.icon-shares
        = t('common.text.shares')
    %li
      %a{:href => "/faq"}
        = t('footer.faq')
    %li
      %a{:href => "https://info.fairnopoly.de/forum/"}
        = t('footer.forum')
    %li
      %a{:href => "/contact"}
        = t('footer.contact')
    %li
      %a{:href => "/about_us"}
        = t('footer.about_us')
    %li
      %a{:href => "/philosophy"}
        = t('footer.philosophy')
    %li
      %a{:href => "https://transparenz.fairnopoly.de/"}
        = t('footer.transparency')
    %li
      %a{:href => "https://info.fairnopoly.de/pressekit/"}
        = t('footer.press')
    %li
      %a{:href => "https://info.fairnopoly.de/team/"}
        = t('footer.team')
    %li
      %a{:href => "https://info.fairnopoly.de/stellenausschreibungen/"}
        = t('footer.jobs')
    - if User.is_admin? current_user
      %li
        = link_to t('users.menu.admin'), "/admin"
      %li
        = link_to 'Manage Pages', "/contents"
      %li
        = link_to 'Statistics', "/statistics/general"
    %li
      %a{:href => "https://info.fairnopoly.de"}
        = t('footer.blog')
.l-footer-bottom
  .l-footer-copyright
    &copy; Copyright 2014 Fairnopoly eG
  %ul.l-footer-nav
    %li
      %a{:href => "/agb"}
        = t('footer.agb')
    %li
      %a{:href => "/privacy"}
        = t('footer.privacy')
    %li
      %a{:href => "/imprint"}
        = t('footer.imprint')
