.article
  .article-image
    - if attachments[bt.article_id.to_s]
      = link_to image_tag(attachments[bt.article_id.to_s].url), article_url(bt.article_id)
  .article-info-container
    .article-title
      = link_to truncate(bt.article_title), article_url(bt.article_id)
    .article-quantity
      %h4
        Anzahl
      = bt.quantity_bought
    .article-price
      %h4
        Einzelpreis
      = "#{bt.article_price}€"
    .article-total-price
      %h4
        Gesamtpreis
      = "#{bt.article_price * bt.quantity_bought}€"
