.Content
  .transaction
    = "Transaktionsnummer: #{bt.id}"
  .title
    = link_to bt.article_title, article_path(bt.article_id)
  .identifier
    = bt.article.custom_seller_identifier
  .quantity
    = "Anzahl: #{bt.quantity_bought}"
  .price
    = "Einzelpreis: #{bt.article_price}"
  .total-price
    = "Gesamt: #{bt.article_price * bt.quantity_bought}"
  .payment
    = "Zahlungsart: " + t("transaction.notifications.buyer.#{bt.selected_payment}")
