.article
  .article-image
    - if bt.article.title_image && attachments[bt.article.title_image.image_file_name]
      = link_to image_tag(attachments[bt.article.title_image.image_file_name].url), article_url(bt.article_id)
  .article-info-container
    .article-title
      = link_to truncate(bt.article_title), article_url(bt.article_id)
      %br= "Artikelnr.: " + bt.article_custom_seller_identifier if bt.article_custom_seller_identifier
    .article-quantity
      %h4
        Anzahl
      = bt.quantity_bought
    .article-price
      %h4
        Einzelpreis
      = "#{bt.article_price}€"
    .article-total-price
      %h4
        Gesamtpreis
      = "#{bt.article_price * bt.quantity_bought}€"
