.seller-imprint
  %h4
    = 'Impressum von ' + lig.seller.nickname
  %br
  = lig.seller.standard_address_first_name + ' ' + lig.seller.standard_address_last_name
  %br
  - if lig.seller.standard_address_company_name
    = lig.seller.standard_address_company_name
    %br
  = lig.seller.standard_address_address_line_1
  %br
  - if lig.seller.standard_address_address_line_2
    = lig.seller.standard_address_address_line_2
    %br
  = lig.seller.standard_address_zip + ' ' + lig.seller.standard_address_city
  %br
  = lig.seller.standard_address_country
  %br
  = mail_to lig.seller.email, lig.seller.email
