%head
  = stylesheet_link_tag 'application'
%body
.Content
  %a{:href => "https://www.fairnopoly.de"}
    %span.sprite_logo
  %h1
    Dein Verkauf auf Fairnopoly

  Herzlichen Glückwunsch, Du hast erfolgreich Artikel auf Fairnopoly verkauft.

  %table
    %thead
      %tr
        %th
          Transaktionsnr
        %th
          Artikel
        %th
          Anzahl
        %th
          Preis
        %th
          Gesamtpreis
      %tbody
        - @line_item_group.business_transactions.find_each do |bt|
          %tr
            %td
              = bt.id
            %td
              = bt.article.title
            %td
              = bt.quantity_bought
            %td
              = bt.article.price
            %td
              = bt.quantity_bought * bt.article.price

  Bitte verschicke die Artikel an:

  .Grid
    = render 'addresses/address', address: @line_item_group.business_transactions.first.transport_address, title: 'Lieferadresse'
    = render 'addresses/address', address: @line_item_group.business_transactions.first.payment_address, title: 'Rechnungsadresse'
