%head
  = stylesheet_link_tag 'application'
%body
.Content
  %h1
    Dein Verkauf auf Fairnopoly

  = "Hallo #{@line_item_group.seller.nickname},"
  %p
    Herzlichen Gl체ckwunsch! Du hast erfolgreich Artikel auf Fairnopoly verkauft.
    Hier findest Du die Artikel Deines Auftrags, sortiert nach gew채hlter Versandmethode.

  %p
    Hier kannst Du Dir Deinen Auftrag ansehen:
    = link_to "Auftrag Nr: #{@line_item_group.id}", line_item_group_path(@line_item_group.id)

  - fee, fair, total = Money.new(0), Money.new(0), Money.new(0)
  - @line_item_group.business_transactions.group_by(&:selected_transport).each do |transport, bts|
    %h4
      = "#{transport}:"
    - bts.each do |bt|
      - fee += bt.quantity_bought * bt.article_calculated_fee
      - fair += bt.quantity_bought * bt.article_calculated_fair
      - total += bt.quantity_bought * bt.article_price
      = render 'article', bt: bt

  %br
  = "Deine Geb체hren: #{fee}"
  %br
  = "Dein Faires Prozent: #{fair}"
  %br
  = "Deine Gesamteinnahmen: #{total}"

  - if @line_item_group.message
    .Content
      %h4
        Nachricht des/der K채ufer*in:
      = @line_item_group.message


  Bitte verschicke die Artikel an:

  .Grid
    - if @line_item_group.transport_address == @line_item_group.payment_address
      = render 'addresses/address', address: @line_item_group.business_transactions.first.transport_address, title: 'Versand- und Lieferadresse:'
    - else
      = render 'addresses/address', address: @line_item_group.business_transactions.first.transport_address, title: 'Lieferadresse:'
      = render 'addresses/address', address: @line_item_group.business_transactions.first.payment_address, title: 'Rechnungsadresse:'

.footer
  Hier kommt der footer hin
