%h3
  = t('email.line_item_group.seller.heading')
= t('email.greeting', name: @line_item_group.seller.first_name)
%p
  = t('email.line_item_group.seller.text')
.line-item-group
  %h3
    = link_to @line_item_group.buyer_nickname, profile_user_path(@line_item_group.buyer.id)
    = t('email.line_item_group.seller.bought_from_you')
  - @line_item_group.business_transactions.each do |bt|
    = render 'article', bt: bt
  - if @line_item_group.message
    .message
      %h4
        = t('email.line_item_group.seller.buyer_message')
      = @line_item_group.message
  %center
    = link_to t('email.line_item_group.seller.view_and_pay'), line_item_group_path(@line_item_group.id), class: 'Button'

- content_for 'sidebar' do
  = render 'addresses/address', address: @line_item_group.transport_address, title: 'Lieferadresse'
  = render 'addresses/address', address: @line_item_group.payment_address, title: 'Rechnungsadresse'
  = render 'shared/email/social_buttons'
