<h1>Listing userevents</h1>

<table>
  <tr>
    <th>user</th>
    <th>eventType</th>
    <th>AppendedObj</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @userevents.each do |userevent| %>
  <tr>
    <td><%= userevent.user.email %></td>
    <td><%= userevent.event_type %></td>
    <td><%= userevent.appended_object %></td>
    <td><%= link_to 'Show', userevent %></td>
    <td><%= link_to 'Edit', edit_userevent_path(userevent) %></td>
    <td><%= link_to 'Destroy', userevent, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Userevent', new_userevent_path %>
