!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    
    %title= title
    %meta{ name: 'keywords', content: meta_keywords }
    %meta{ name: 'description', content: meta_description }
    
    %meta{:content => "width=device-width", :name => "viewport"}
    = stylesheet_link_tag 'application'
    /[if lt IE 8]
      = stylesheet_link_tag 'font-awesome-ie7.min.css', media: 'all'
    = javascript_include_tag "application"
    
    = csrf_meta_tags
    = favicon_link_tag "favicon.ico" , :rel => "shortcut icon", :type => "image/x-icon"
    / Google Analytics
    :javascript
      var _gaq = _gaq || [];
        			_gaq.push(['_setAccount', 'UA-37465097-1']);
        			_gaq.push(['_trackPageview']);
      
        			(function() {
          			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        			})();
  %body
    /[if lt IE 8]
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    - if !flash.empty?
      - flash.each do |type, msg|
        - if msg && !msg.empty?
          #alert-main{:class => "alert-main-#{main_notice_mapper(type)}"}
            %a#alert-close-main.close{"data-dismiss" => "alert"} ×
            .container
              .row
                .span12
                  %p
                    = msg.html_safe
    %header
      .container
        .row
          .left-nav
            %h1#title.hidden-phone
              %a{:href => "/"}
                %span Fairnopoly
          .right-nav
            %ul#main-nav
              %li#buy
                = link_to t('common.text.buy'), auctions_path
              %li#sell
                = link_to t('common.text.sell'), new_auction_path
              /
                %li#service
                  %a 
                    t('common.text.service')
              - if user_signed_in?
                %li#logout
                  = link_to(t('common.actions.logout'), destroy_user_session_path )
                %li#login
                  = link_to t('common.text.profile'), user_path(current_user)
                /
                  - if current_user.trustcommunity == true 
                    %li#community
                      t('common.text.community')
                 
                  
              - else
                %li#login
                  - if @login
                    #user-login-form.popover-hidden
                      = @login.html_safe
                    = link_to t('common.actions.login') , new_user_session_path , :id =>"login-popover" , "data-placement" => "bottom" , "data-title" => t('common.actions.login')
                  - else
                    = link_to t('common.actions.login') , new_user_session_path
        / row
      / container
    = hero
    #main{:role => "main"}
      .container
        = yield
      / .container
    / #main
    %footer
      .container
        .row
          .span4
            %h3= t('footer.legal_details')
            %ul
              %li
                %a{:href => "/agb"}
                  = t('footer.agb')
              %li
                %a{:href => "/privacy"}
                  = t('footer.privacy')
              %li
                %a{:href => "/imprint"}
                  = t('footer.imprint')
          .span4
            %h3
              = t('common.fairnopoly')
            %ul
              %li
                %a{:href => "/about_us"}
                  = t('footer.about_us')
              %li
                %a{:href => "/philosophy"}
                  = t('footer.philosophy')
              %li
                %a{:href => "http://info.fairnopoly.de/team/"}
                  = t('footer.team')
              %li
                %a{:href => "http://info.fairnopoly.de"}
                  = t('footer.blog')
              - if current_user && current_user.admin?
                %li
                  = link_to t('users.menu.admin'), "/admin"
          .span4
            %h3
              = t('footer.help')
            %ul
              %li
                %a{:href => "/faq"}
                  = t('footer.faq')
              %li
                %a{:href => "http://info.fairnopoly.de/forum/"}
                  = t('footer.forum')
              %li
                %a{:href => "/contact"}
                  = t('footer.contact')
        / row
      / container
      #sub-footer
        \&copy; Fairnopoly 2013 #{I18n.locale}
