<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Fairnopoly</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<%= stylesheet_link_tag 'application' %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		
		<!-- Google Analytics -->	
		<script type="text/javascript">
  			var _gaq = _gaq || [];
  			_gaq.push(['_setAccount', 'UA-37465097-1']);
  			_gaq.push(['_trackPageview']);

  			(function() {
    			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  			})();
		</script>
	</head>
	<body>
		<!--[if lt IE 8]>
		<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
		<![endif]-->
		<%if !flash.empty? %>
				<% flash.each do |type, msg| -%>
						<%if !msg.empty?%>
							
							<div class="alert-main-<%= main_notice_mapper(type)%>" id="alert-main">
								<a class="close" data-dismiss="alert" id="alert-close-main">×</a>
								<div class="container">
									<div class="row">
										<div class="span12">
											<p>
												<%= msg %>
											</p>
										</div>
									</div>
								</div>
							</div>
								
						
						<%end%>
					<%end%>
			
		<%end%>
		<header>
			
			<div class="container">
				<div class="row">
					<div class="span5">
						<h1 id="title" class="hidden-phone"><a href="/"> <span>Fairnopoly</span> </a></h1>
					</div>
					<div class="span7">
						<ul id="main-nav">
							<li id="buy">
								<%= link_to t('common.text.buy'), auctions_path %>
							</li>
							
							<li id="sell">
								<%= link_to t('common.text.sell'), new_auction_path %>
							</li>
							
							<!--<li id="service">
							<a href=""> <%= t('common.text.service')%> </a>
							</li>-->
							<% if user_signed_in? %>
							<li id="logout">
								<%= link_to(t('common.actions.logout'), destroy_user_session_path ) %>
							</li>
							<li id="login">
								<%= link_to t('common.text.profile'), dashboard_path  %>
							</li>
							<!--<% if current_user.trustcommunity == true %>
							<li id="community">
								<%= link_to t('common.text.community'), community_path  %>
							</li>
							<%end%>-->
							<% else %>
							<li id="login">
								<% if @login %>
								<div id="user-login-form" class="popover-hidden">
									<%= @login.html_safe %>
								</div>
								<%= link_to t('common.actions.login') , new_user_session_path , :id =>"login-popover" , "data-placement" => "bottom" , "data-title" => t('devise.title.login') %>
								<%else%>
								<%= link_to t('common.actions.login') , new_user_session_path %>
								<%end%>
							</li>
							<% end %>
						</ul>
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- container -->
		</header>
		
		
				
		<%= raw hero%>
	
		
		<div id="main" role="main">
			
			<div class="container">
				<%= yield %>
			</div><!-- .container -->
		</div>
		<!-- #main -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="span4">
						<h3><%= t('footer.legal_details')%></h3>
						<ul>
							<li>
								<a href="/agb"> <%= t('footer.agb')%> </a>
							</li>
							<li>
								<a href="/privacy"> <%= t('footer.privacy')%> </a>
							</li>
							<li>
								<a href="/imprint"> <%= t('footer.imprint')%> </a>
							</li>

						</ul>
					</div>
					<div class="span4">
						<h3> <%= t('common.fairnopoly') %> </h3>
						<ul>
							<li>
								<a href="/about_us"> <%= t('footer.about_us')%> </a>
							</li>
							<li>
								<a href="/philosophy"> <%= t('footer.philosophy')%> </a>
							</li>
							<li>
								<a href='http://info.fairnopoly.de/team/'> <%= t('footer.team')%> </a>
							</li>
							<li>
								<a href='http://info.fairnopoly.de'> <%= t('footer.blog')%> </a>
							</li>
							<% if current_user && current_user.admin? %>
							<li>
								<%= link_to t('dashboard.menu.admin'), "/admin" %>
							</li>
							<% end %>
						</ul>
					</div>
					<div class="span4">
						<h3> <%= t('footer.help')%> </h3>
						<div class='faqs' id="faqs-accordion">
							<%= render :partial => "faqs/faq", :collection => @faqs %>
						</div>
						<ul>
							<li>
								<a href='/faq'> <%= t('footer.faq')%> </a>
							</li>
							<li>
								<a href='http://info.fairnopoly.de/forum/'> <%= t('footer.forum')%> </a>
							</li>
							<li>
								<a href="/contact"> <%= t('footer.contact')%> </a>
							</li>
						</ul>
					</div>
				</div>
				<!-- row -->
			</div>
			<!-- container -->
			<div id="sub-footer">
				&copy; Fairnopoly 2013 <%= I18n.locale %>
			</div>
		</footer>
	</body>
</html>
