
-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
<!--[if gt IE 8]><!-->
%html{:class => 'no-js', :lang => I18n.locale}<>
  <!--<![endif]-->
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/

    %title= title
    %meta{ name: 'keywords', content: meta_keywords }
    %meta{ name: 'description', content: meta_description }
    = canonical_tag # for SEO - canonical URL from gem

    %meta{:content => "width=device-width", :name => "viewport"}

    = csrf_meta_tags
    = favicon_link_tag "favicon.ico" , :rel => "shortcut icon", :type => "image/x-icon"
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag asset_path("controller/#{params[:controller]}.css")

    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600", :rel => "stylesheet", :type => "text/css"}

    = javascript_include_tag :application
    :javascript
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";
    / Icons for iOS Devices (iPhone, iPad)
    %link{ rel: 'apple-touch-icon', href: image_path('apple_touch_icon.png'), type: "image/png"  }
    %link{ rel: 'apple-touch-icon', sizes: '72x72', href: image_path('touch_icon_ipad.png'), type: "image/png"  }
    %link{ rel: 'apple-touch-icon', sizes: '114x114', href: image_path('touch_icon_iphone_retina.png'), type: "image/png"  }
    %link{ rel: 'apple-touch-icon', sizes: '144x144', href: image_path('touch_icon_ipad_retina.png'), type: "image/png"  }
    / provides proper Article-Image for Facebook
    %link{ rel: 'image_src', href: yield(:title_image) }

  %body{class: "pages-#{controller.controller_name} page-#{controller.action_name}"}
    = render 'peek/bar'

    .l-wrapper
      - if !flash.empty?
        - flash.each do |type, msg|
          - if msg && type != "timedout" && !msg.empty?
            = render layout: "notice_layout", locals: { :type => type }  do
              = msg
      = render "/layouts/partials/news_header"
      .l-header
        .l-header-top
          .l-header-logo
            %a{:href => "/"}
              %span.sprite_logo
          .l-header-nav
            = render "/layouts/partials/header_nav"
        .l-header-bottom
          .l-header-categories
            = render "/layouts/partials/header_categories"
          .l-header-search
            = render "/layouts/partials/header_search"
      .l-main{:role => "main"}
        = yield

    - cache_if (!(User.is_admin? current_user)),"footer" do
      .l-footer
        = render "/layouts/partials/footer"


    -#--------------- Addittional Assets -----------------

    -# ajax spinner image
    .l-ajax-spinner

    -# When logged in, count down until session expires (needs to be reloaded on page change!)
    = javascript_include_tag "session_expire" if current_user

    / Piwik
    :javascript
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") + "://kiwi.fairnopoly.de//";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
        g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    %noscript
      %p
        %img{ src: "http://kiwi.fairnopoly.de/piwik.php?idsite=1", style: "border:0", alt: " " }
    / End Piwik Code
