<!DOCTYPE html>
<html>
	<head>
		<title>Fairnopoly</title>
		<%= stylesheet_link_tag 'application' %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<%=link_to  image_tag("fairnopoly.gif") ,"/"%>
					<%= tabs %>
					<ul class="nav pull-right">
						<% if user_signed_in? %>
		             		<li><%= link_to( (raw glyphicons_inv("icon-user")) + " " + current_user.email , dashboard_path ) %></li>
		             		<li><%= link_to('Logout', destroy_user_session_path ) %></li>
		            	<% else %>
 					 		<li><%= link_to('Register', new_user_registration_path )  %></li>
						<% end %>
		          	</ul>
					<div class="pull-right">
						<% if !user_signed_in? %>
							<%=form_for :user , :url => session_path(:user) , :html => { :class =>"navbar-form pull-right" } do  |f|%>
								<%= f.text_field :email, :class => "input-small", :placeholder => t('common.text.email')%>
								<%= f.password_field :password, :class => "input-small", :placeholder => t('common.text.password')%>
								<% if Devise.mappings[:user].rememberable? -%> <label for="remember_me" class="checkbox inline" >
									<input type="checkbox" name="_spring_security_remember_me" id="remember_me" checked="checked"/>
									<%= t('user.remember') %></label> &nbsp;
								<% end -%>
								<%= f.submit t('common.text.login'), :class => "btn"  %>
							<%end %>

						<%end%>
					</div>
					<!-- .pull-right -->
				</div>
				<!-- .container -->
			</div>
			<!-- .inner -->
		</div>
		<!-- .navbar -->
		<div class="container">
			<% begin %>
			<%= render 'hero/'+ params[:controller] + '/' + params[:action] %>
			<%rescue MissingTemplate %>
			<%end%>
			<% flash.each do |type, msg| -%>
			<div class="row">
				<div class="span12">
					<a class="close" data-dismiss="alert">×</a>
					<p class="alert alert-<%= bootstrap_notice_mapper(type)%>" >
						<%= msg %>
					</p>
				</div>
			</div>
			<%end%>
			<div class="row">
				<div class="span12">
					<%= yield %>
				</div>
				<hr>
				<div class="span12">
				<footer>
					<p>
						&copy; fairnopoly.de 2012
					</p>
				</footer>
				</div>
			</div><!--/row-->
		</div><!--/.container-->

		
	</body>
</html>
