
-#
-#
-# == License:
-# Fairnopoly - Fairnopoly is an open-source online marketplace.
-# Copyright (C) 2013 Fairnopoly eG
-#
-# This file is part of Fairnopoly.
-#
-# Fairnopoly is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as
-# published by the Free Software Foundation, either version 3 of the
-# License, or (at your option) any later version.
-#
-# Fairnopoly is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with Fairnopoly.  If not, see <http://www.gnu.org/licenses/>.
-#
!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
<!--[if gt IE 8]><!-->
%html{class: 'no-js', lang: I18n.locale}<>
  <!--<![endif]-->

  = render "/layouts/partials/head_tag"

  %body{class: "pages-#{controller.controller_name} page-#{controller.action_name}"}

    .l-wrapper.l-reduced
      - if !flash.empty?
        - flash.each do |type, msg|
          - if msg && type != "timedout" && !msg.empty?
            = render layout: "notice_layout", locals: { type: type }  do
              = msg
      -#= render "/layouts/partials/news_header"
      .l-header
        .l-header-top
          .l-header-logo
            %a{href: "/"}
              %span.sprite_logo
      .l-main{role: "main"}
        = yield

    = render "/layouts/partials/footer", reduced: true
    = render "/layouts/partials/additional_assets"
