%html
  %head
    = stylesheet_link_tag 'email/email'
  %body
    .l-container
      = render 'shared/email/header'
      .l-main
        .l-content-wrapper
          .l-content
            = yield
        .l-sidebar
          = content_for 'sidebar'
      = render 'shared/email/signature'
      = render 'shared/email/footer'
